{{ event['main'] }}
{% if event['extra'] %}
  <div class="plus-container">
    <a href="">
      <img src="/static/img/plus.svg" />
    </a>
  </div>
  <div class="extra-info">
    {{ event['extra'] }}
  </div>
{% endif %}
