<!DOCTYPE html>
<html id="html">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %} | MeCCS</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#000000">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" type="text/css" href="/static/css/general.css" />

    {% block css %}{% endblock %}
  </head>
  <body>
    {% block body %}
      <div class="content">
        {% block nav %}{% endblock %}
      </div>

      {% block content %}{% endblock %}

      {% block footer %}{% endblock %}
    {% endblock %}

    {% block extrabody %}{% endblock %}

    <script type="text/javascript" src="/static/js/navbar.js"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>
