<h3>SOSTENIBILIDAD</h3>

<p>
  El término “sostenibilidad” se refiere a garantizar la atención a
  las necesidades de las generaciones actuales sin comprometer el
  derecho de las generaciones futuras al acceso a los recursos.
  Incluye procesos para tratar de satisfacer necesidades sociales y
  económicas, tomando en cuenta factores culturales y
  medioambientales.
</p>

<p>
  Uno de los aspectos importantes para entender la sostenibilidad es
  crear conciencia acerca de la complejidad y conexión entre el
  medio ambiente, la sociedad y la economía.
</p>

<p class="link">
  <a href="" class="poll-start-btn" data-poll="sostenibilidad">
    Iniciar cuestionario
  </a>
</p>
