<h2 id="que-sabes-de">¿Cuánto sabes<br />acerca de ...?</h2>
<hr />
<p>
  Los aspectos físicos, biológicos, sociales, económicos y políticos que
  conforman nuestra realidad se encuentran interconectados. En
  ocasiones, estas conexiones pueden ser muy obvias y otras veces no
  tanto.
<p>
<p>
  Los siguientes cuestionarios te permitirán explorar, ampliar y
  fortalecer tus conocimientos acerca del ciclo del carbono y la
  sostenibilidad.
</p>
<p>
  ¿Crees que existe alguna relación entre estos temas?
</p>
<p>
  No importa si conoces mucho, poco o nada de estos temas, o si
  simplemente tienes curiosidad por aprender algo nuevo. Al final de los
  cuestionarios encontrarás información y datos que pueden resultarte
  interesantes.
</p>
