<h3>CICLO DEL CARBONO</h3>

<p>
  El ciclo del carbono describe cómo el CO₂ viaja y se transforma a
  través de la atmósfera, la hidrósfera, la biósfera y la litósfera
  mediante procesos físicoquímicos, geológicos y biológicos. El CO₂
  es producido de forma natural mediante erupciones volcánicas,
  descomposición de materia orgánica o incendios.
</p>

<p>
  Otras fuentes de emisión de CO₂ se relacionan con actividades
  humanas, tales como la quema de combustibles fósiles para la
  generación de energía y procesos industriales que incluyen a la
  agricultura y la minería. Asimismo, existen mecanismos naturales
  —que involucran a océanos, suelos y a organismos fotosintéticos— y
  antropogénicos —como la implementación de proyectos de CCS— que
  favorecen la absorción y el almacenamiento de CO₂.
</p>

<p class="link">
  <a href="" class="poll-start-btn" data-poll="ciclodelcarbono">
    Iniciar cuestionario
  </a>
</p>
