{% extends "layout.html" %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="/static/css/ccs_y_sostenibilidad.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/tippy.scale.min.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/modal.css" />
{% endblock %}

{% block content %}
  <div class="clouds">
    <section id="about-ccs" class="content first-section">
      <h1>{% block title %}{% endblock %}</h1>

      <div class="up-grid">
        <div class="texts">
          {% block intro_text %}{% endblock %}

        <div class="line"></div>

        <div class="boxes">
          <div class="line-box"></div>
          <div class="text-box">
            {% block box_note %}{% endblock %}
          </div>
        </div>
      </div>
      <div class="legend">
        <p class="legend__intro">{% block legend_text %}{% endblock %}</p>

        <div class="legend__body">
          <div class="legend__circle antropogenic"></div>
          <div class="legend__text" data-category="antropogenic">{% block legend_antropogenic %}{% endblock %}</div>

          <div class="legend__circle transport"></div>
          <div class="legend__text" data-category="transport">{% block legend_transport %}{% endblock %}</div>

          <div class="legend__circle use"></div>
          <div class="legend__text" data-category="use">{% block legend_use %}{% endblock %}</div>

          <div class="legend__circle society"></div>
          <div class="legend__text" data-category="society">{% block legend_society %}{% endblock %}</div>

          <div class="legend__circle eco"></div>
          <div class="legend__text" data-category="eco">{% block legend_eco %}{% endblock %}</div>
        </div>
      </div>
    </div>
    </section>

    <div class="earth-diagram">
      {% include "svg/earth.svg" %}
    </div>

    <div class="cloud cloud-single"></div>
    <div class="cloud cloud-double"></div>

    <section id="how-much-you-know">
      <div class="content">
        {% block pollapp %}{% endblock %}
      </div>
    </section>

    <section id="que-opinas-de">
      <div class="overlay">
        <div class="content">
          <div class="title">
            <h2>{% block what_do_you_think_title %}{% endblock %}</h2>
          </div>

          <div class="text1">
            {% block what_do_you_think_text_1 %}{% endblock %}
          </div>

          <div class="text2">
            {% block what_do_you_think_text_2 %}{% endblock %}
          </div>

          <div class="video">
            <a href="" class="video-play-btn" data-video="kBJL0cmfQAA">
              <img src="/static/img/que_opinas__title__main.png" />
              <div class="label">
                <label>
                  {% block what_do_you_think_main_title %}{% endblock %}
                </label>
              </div>
            </a>
          </div>

          <div class="tiles">
            {% for actor in actors[lang] %}
              <a href="" class="video-play-btn" data-video="{{ actor.video }}">
                <img src="/static/img/que_opinas__tile__{{ actor.code }}.png" />
                <div class="label">
                  <label>
                    {{ actor.title }}
                  </label>
                  {% include 'svg/que_opinas__icon__' + actor.code + '.svg' %}
                </div>
              </a>
            {% endfor %}
          </div>
        </div>
      </div>
    </section>

    <section id="ccs-y-los-ods">
      <div class="content ods-title">
        <div class="line">
          <h2>{% block ccs_and_the_ods_title %}{% endblock %}</h2>
        </div>

        <div class="line">
        </div>

        <div class="logo">
          {% block ccs_and_the_ods_logo %}{% endblock %}
        </div>

        <div class="text">
          {% block ccs_and_the_ods_intro %}{% endblock %}
        </div>

        <div class="ps">
          <h3>{% block ccs_and_the_ods_subtitle %}{% endblock %}</h3>
        </div>
      </div>

      <div class="showcase">
        <div class="content">
          <div class="left">
            {% block ccs_and_the_ods__environment %}{% endblock %}
          </div>

          <div class="text">
            {% block ccs_and_the_ods__environment__text %}{% endblock %}
          </div>
        </div>
      </div>

      <div class="showcase">
        <div class="content">
          <div class="left">
            {% block ccs_and_the_ods__society %}{% endblock %}
          </div>

          <div class="text">
            {% block ccs_and_the_ods__society__text %}{% endblock %}
          </div>
        </div>
      </div>

      <div class="showcase">
        <div class="content">
          <div class="left">
            {% block ccs_and_the_ods__economy %}{% endblock %}
          </div>

          <div class="text">
            {% block ccs_and_the_ods__economy__text %}{% endblock %}
          </div>
        </div>
      </div>

      <div class="showcase">
        <div class="content">
          {% block ccs_and_the_ods__disadvantages %}{% endblock %}
        </div>
      </div>

      <div class="content last-remarks">
        <div class="text">
          {% block ccs_and_the_ods__closing_text %}{% endblock %}
        </div>

        <div class="learn-more">
          <div class="text">
            {% block ccs_and_the_ods__mexico_belongs %}{% endblock %}
          </div>
          <div class="line"></div>
          <div class="triangle">
            <svg viewBox="0 0 25 30"><path
              style="fill:none;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
              d="M 0,0 25,15 0,30 0,0" id="path857" sodipodi:nodetypes="ccc" /></svg>
          </div>
          <div></div>
          <div class="link">
            {% block ccs_and_the_ods__final_link %}{% endblock %}
          </div>
        </div>
      </div>
    </section>
  </div>
{% endblock %}

{% block extrabody %}
  {% include "components/modal.html" %}
{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="/static/js/components.js"></script>

  <!-- Para las ventanas interactivas del SVG -->
  {% block svg_data %}{% endblock %}
  <script src="/static/js/popper.min.js"></script>
  <script src="/static/js/tippy.min.js"></script>
  <script src="/static/js/tooltips.js"></script>
  <script src="/static/js/ccs_y_sostenibilidad.js"></script>
  <script src="/static/js/modal.js"></script>

  {% block polldata %}{% endblock %}

  {% block answers %}{% endblock %}

  {% include "components/poll-app.html" %}
  <script type="text/javascript" src="/static/js/components/poll_app.js"></script>

  {% include "components/poll-intro.html" %}
  <script type="text/javascript" src="/static/js/components/poll_intro.js"></script>

  {% include "components/question-option.html" %}
  <script type="text/javascript" src="/static/js/components/question-option.js"></script>

  {% include "components/question-loop.html" %}
  <script type="text/javascript" src="/static/js/components/question_loop.js"></script>

  {% include "components/poll-results.html" %}
  <script type="text/javascript" src="/static/js/components/poll-results.js"></script>

  {% include "components/question-result.html" %}
  <script type="text/javascript" src="/static/js/components/question-result.js"></script>

  {% include "components/question-option-result.html" %}
  <script type="text/javascript" src="/static/js/components/question-option-result.js"></script>
{% endblock %}
