{% extends "layout.html" %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="/static/css/ccs_en_mexico.css" />
{% endblock %}

{% block content %}
  <section id="ccs-en-mexico" class="content titled-grid first-section">
    <h1>{% block ccs_en_mexico__title %}{% endblock %}</h1>

    <div class="text two-columns">
      {% block ccs_en_mexico__intro %}{% endblock %}
    </div>
  </section>

  <section id="linea-del-tiempo">
    <div class="content timeline-intro">
      <div class="title">
        <h2>{% block ccs_en_mexico__timeline__title %}{% endblock %}</h2>
      </div>

      <div class="line"></div>

      <div class="text-box">
        {% block ccs_en_mexico__timeline__box %}{% endblock %}
      </div>
    </div>

    <div class="timeline">
      <div class="content">
        <div class="clock-container">
          {% include 'svg/clock.svg' %}
        </div>

        <div class="timeline-events">
          {% block timeline %}{% endblock %}
        </div>
      </div>
    </div>
  </section>

  <section id="atlas-ccus" class="content banner titled-grid">
    <h2>{% block ccs_en_mexico__atlas__title %}{% endblock %}</h2>

    <div class="text two-columns">
      {% block ccs_en_mexico__atlas__text %}{% endblock %}
    </div>
  </section>

  <section id="atlas-ccus-banner" class="banner">
    <div class="content">
      <div class="two-img">
        <a href="/static/atlas/nacsa.pdf" target="_blank">
          <figure>
            <img alt="NACSA" src="/static/img/ccs_en_mexico-nacsa.jpg" />
            <figcaption>NACSA</figcaption>
          </figure>
        </a>
        <a href="/static/atlas/atlas_almac_geo_mex.pdf" target="_blank">
          <figure>
            <img alt="Atlas de Almacenamiento Geológico de México" src="/static/img/ccs_en_mexico-atlas.jpg" />
            <figcaption>{% block ccs_en_mexico__atlas__link %}{% endblock %}</figcaption>
          </figure>
        </a>
      </div>
    </div>
  </section>

  <section id="modelo-ccus" class="content banner">
    <div class="content last-remarks">
      <div class="text">
        {% block closing_text %}{% endblock %}
      </div>

      <div class="learn-more">
        <div class="text">
          {% block closing_note %}{% endblock %}
        </div>
        <div class="line"></div>
        <div class="triangle">
          <svg viewBox="0 0 25 30"><path
            style="fill:none;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
            d="M 0,0 25,15 0,30 0,0" id="path857" sodipodi:nodetypes="ccc" /></svg>
        </div>
        <div></div>
        <div class="link">
          {% block closing_link %}{% endblock %}
        </div>
      </div>
    </div>
  </section>
{% endblock %}
