{% extends "layout.html" %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="/static/css/contacto.css" />
{% endblock %}

{% block content %}
  <section class="first-section content">
    <div class="upper">
      <div class="upper__text">
        <p>{% block main_text %}{% endblock %}</p>

        <h1>{% block main_title %}{% endblock %}</h1>

        <div class="upper__icons">
          <a href="mailto: meccs@ecologia.unam.mx">
            <img src="/static/img/email.svg" alt="Ícono de email" />

            <span>meccs@ecologia.unam.mx</span>
          </a>

          <a href="https://www.linkedin.com/company/meccs" target="_blank" rel="noopener">
            <img src="/static/img/linkedin_dark.svg" alt="Logo de linkedin" />
          </a>
        </div>
      </div>
      <div class="upper__logo">
        {% include "svg/logo_dark.svg" %}
      </div>
    </div>

    <div class="credits">
      <div>
        {% block photo_credits %}{% endblock %}
      </div>
      <div>
        {% block english_translation_credits %}{% endblock %}
      </div>
      <div>
        {% block repository_credits %}{% endblock %}
      </div>
    </div>
  </section>
{% endblock %}
