{% extends "layout.html" %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="/static/css/home.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/modal.css" />
{% endblock %}

{% block body %}
  {% block nav %}{% endblock %}

  <div id="main-content" class="content">
    <main>
      <div id="home-logo">
        <img src="/static/img/logo.svg" />
      </div>

      <div id="home-hline"></div>

      <div id="home-text">
        <div class="title-container">
          <div></div>
          <h3 class="title">
            {% block site_title %}{% endblock %}
          </h3>
        </div>
        <div class="body">
          <div class="desc">
            <p>
              {% block text1 %}{% endblock %}
            </p>
          </div>

          <div class="info-item">
            <div class="info-icon">
              <img src="/static/img/temperatura.svg" height="50" />
            </div>
            <hr />
            <p>
              {% block text2 %}{% endblock %}
            </p>
          </div>

          <div class="info-item">
            <div class="info-icon">
              <img src="/static/img/info.svg" height="50" />
            </div>
            <hr />
            <p>
              {% block text3 %}{% endblock %}
            </p>
          </div>

          <div class="circle"></div>
          <div class="button">
            {% block link1 %}{% endblock %}
          </div>
        </div>
      </div>
    </main>
  </div>

  <div id="bg-a" class="bg bg-1 bg-back"></div>
  <div id="bg-b" class="bg bg-2 bg-front bg-animated"></div>
{% endblock %}

{% block extrabody %}
  {% include "components/modal.html" %}
{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="/static/js/changing-bg.js"></script>
  <script type="text/javascript" src="/static/js/modal.js"></script>
{% endblock %}
