{% extends "layout.html" %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="/static/css/investigacion.css" />
{% endblock %}

{% block content %}
<section class="content first-section">
  <h1>{% block investigacion__title %}{% endblock %}</h1>

  <div class="two-side">
    <div class="two-side__left">
      {% block investigacion__intro %}{% endblock %}
    </div>

    <div class="two-side__right">
      <div>
        <p>
          {% block investigacion__mario_phrase %}{% endblock %}
        </p>
        <p>
          <strong>Mario Molina</strong><br>
          <small><i>{% block investigacion__mario_phrase__title %}{% endblock %}</i></small>
        </p>
      </div>
    </div>
  </div>

  <div class="two-side lower" id="gaceta">
    <div class="two-side__left">
      <h2>{% block investigacion__gaceta__title %}{% endblock %}</h2>
    </div>
  </div>

  <div class="search-intro">
    {% block investigacion__gaceta__description %}{% endblock %}
  </div>

  <div class="gacetas">
    {% for gaceta in gacetas %}
      <div class="gaceta">
        <img src="/static/img/gaceta/{{ gaceta.num }}_small.jpg" />

        {% if lang == 'es' %}
          Punto crítico No. {{ gaceta.num }}
        {% endif %}<br/>
        {{ gaceta.dates[lang] }}<br/>
        {{ gaceta.title[lang] }}<br/>
        <a href="{{ gaceta.link }}" target="_blank" rel="noopener">
          {% if lang == 'es' %}Descargar{% else %}Download{% endif %}
        </a>
      </div>
    {% endfor %}
  </div>

  <div class="two-side lower" id="didactic" style="margin-top: 4rem">
    <div class="two-side__left">
      <h2>{% block investigacion__didactic_title %}{% endblock %}</h2>
    </div>
  </div>

  <div class="didactic">
    <div class="didactic__left">
      {% block investigacion__didactic_text %}{% endblock %}
    </div>
    <div class="didactic__right">
      <img src="/static/img/retos.jpg" alt="{% block investigacion__didactic_alt %}{% endblock %}" />
      <p>
        {% block investigacion__didactic_download %}{% endblock %}
      </p>
      <p>
        <a href="/static/doc/libro_co2.pdf" target="_blank" rel="noopener">{% if lang == 'es' %}Libro{% else %}Book{% endif %}</a><br/>
        <a href="/static/doc/posters.zip" target="_blank" rel="noopener">{% if lang == 'es' %}Pósters{% else %}Posters{% endif %}</a><br/>
        <a href="/static/doc/serpientes_y_escaleras.jpeg" target="_blank" rel="noopener">{% if lang == 'es' %}Serpientes y escaleras{% else %}Snakes and ladders{% endif %}</a><br/>
      </p>
    </div>
  </div>
</section>

<section class="content" id="search-section">
  <div class="two-side lower" id="publicaciones" style="margin-top: 4rem">
    <div class="two-side__left">
      <h2>{% block investigacion__publicaciones__title %}{% endblock %}</h2>
    </div>
  </div>

  <div class="search-intro">
    {% block investigacion__search_intro %}{% endblock %}
  </div>

  <article-search></article-search>
</section>

<section id="metodologias">
  <div class="content">
    <div>
      <h2>{% block investigacion__metodologias__title %}{% endblock %}</h2>

      {% block investigacion__metodologias__description %}{% endblock %}
    </div>

    <div class="list">
      {% block investigacion__metodologias__points %}{% endblock %}
    </div>
  </div>
</section>

<section id="sitios-de-interes" class="content">
  <div class="sitios-heading">
    <div class="sitios-heading__title">
      <h2>{% block investigacion__sitios__title %}{% endblock %}</h2>
    </div>

    <div class="sitios-heading__intro">
      {% block investigacion__sitios__intro %}{% endblock %}
    </div>
  </div>

  <div class="site-display">
    <div class="site-display__heading">
      <h3>{% block investigacion__organizaciones__title %}{% endblock %}</h3>

      <p>{% block investigacion__organizaciones__text %}{% endblock %}</p>
    </div>

    <div class="site-display__sites">
      {% for site in soi['organizations'] %}
        <a href="{{ site['url'] }}" target="_blank" rel="noopener">
          <figure>
            <img
              src="/static/img/logos/logo_{{ site['logo'] }}.png"
              alt="{{ site['caption'] }}"
              title="{{ site['caption'] }}"
            />
          </figure>
        </a>
      {% endfor %}
    </div>
  </div>

  <div class="site-display">
    <div class="site-display__heading">
      <h3>{% block investigacion__programs__title %}{% endblock %}</h3>

      <p>{% block investigacion__programs__text %}{% endblock %}</p>
    </div>

    <div class="site-display__sites">
      {% for site in soi['programs'] %}
        <a href="{{ site['url'] }}" target="_blank" rel="noopener">
          <figure>
            <img
              src="/static/img/logos/logo_{{ site['logo'] }}.png"
              alt="{{ site['caption'] }}"
              title="{{ site['caption'] }}"
            />
          </figure>
        </a>
      {% endfor %}
    </div>
  </div>

  <div class="site-display">
    <div class="site-display__heading">
      <h3>{% block investigacion__institutes__title %}{% endblock %}</h3>

      <p>{% block investigacion__institutes__text %}{% endblock %}</p>
    </div>

    <div class="site-display__sites">
      {% for site in soi['institutes'] %}
        <a href="{{ site['url'] }}" target="_blank" rel="noopener">
          <figure>
            <img
              src="/static/img/logos/logo_{{ site['logo'] }}.png"
              alt="{{ site['caption'] }}"
              title="{{ site['caption'] }}"
            />
          </figure>
        </a>
      {% endfor %}
    </div>
  </div>

  <div class="site-display">
    <div class="site-display__heading">
      <h3>{% block investigacion__dbs__title %}{% endblock %}</h3>

      <p>{% block investigacion__dbs__text %}{% endblock %}</p>
    </div>

    <div class="site-display__sites">
      {% for site in soi['dbs'] %}
        <a href="{{ site['url'] }}" target="_blank" rel="noopener">
          <figure>
            <img
              src="/static/img/logos/logo_{{ site['logo'] }}.png"
              alt="{{ site['caption'] }}"
              title="{{ site['caption'] }}"
            />
          </figure>
        </a>
      {% endfor %}
    </div>
  </div>
</section>

<section id="final-note">
  <div class="content">
    <p>{% block investigacion__final__first %}{% endblock %}</p>

    <div class="final-note__warming">
      <div class="final-note__warming__globe">
        <img src="/static/img/warming_globe.svg" />
      </div>
      <div class="final-note__warning__note">
        <div>
          {% block investigacion__final__warming_note %}{% endblock %}
        </div>
        <div>
          {% block investigacion__final__warming_warn %}{% endblock %}
          <img src="/static/img/warming_chart.svg" />
        </div>
      </div>
    </div>

    <div class="final-note__numbers">
      <p>{% block investigacion__final__numbers__title %}{% endblock %}</p>
      <div class="final-note__numbers__table">
        <div class="final-note__numbers__item__head">
          <img src="/static/img/warming_install.svg" />
        </div>
        <div class="final-note__numbers__item__head">
          <img src="/static/img/warming_ton.svg" />
        </div>
        <div class="final-note__numbers__item__head">
          <img src="/static/img/warming_growth.svg" />
        </div>

        <div class="final-note__numbers__item__body">
          {% block investigacion__final__install %}{% endblock %}
        </div>

        <div class="final-note__numbers__item__body">
          {% block investigacion__final__ton %}{% endblock %}
        </div>

        <div class="final-note__numbers__item__body">
          {% block investigacion__final__growth %}{% endblock %}
        </div>
      </div>
    </div>

    <div class="final-note__applications">
      <p>{% block investigacion__final__app__title %}{% endblock %}</p>

      <div>
        <div>
          {% block investigacion__final__app__body1 %}{% endblock %}
        </div>
        <div>
          {% block investigacion__final__app__body2 %}{% endblock %}
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="/static/js/components.js"></script>

  {% include "components/article-entry.html" %}
  <script type="text/javascript" src="/static/js/components/article_entry.js"></script>

  {% include "components/search-results.html" %}
  <script type="text/javascript" src="/static/js/components/search_results.js"></script>

  {% include "components/article-search.html" %}
  <script type="text/javascript" src="/static/js/components/article_search.js"></script>
{% endblock %}
