{% extends "layout.html" %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="/static/css/quienes_participamos.css" />
{% endblock %}

{% block content %}
  <section id="quienes-participamos" class="first-section">
    <div class="content">
      <div>
        {% block quienes_participamos__title %}{% endblock %}
      </div>

      <div class="box">
        {% block quienes_participamos__intro_box %}{% endblock %}
      </div>
    </div>
  </section>

  <section id="team-picture">
    <div id="bg-a" class="bg bg-1 bg-back"></div>
    <div id="bg-b" class="bg bg-2 bg-front bg-animated"></div>

    <div class="inner">
      <div class="content">
        <div class="text-box">
          <div class="left-brace"></div>
          <div class="text">
            {% block quienes_participamos__floating_box %}{% endblock %}
          </div>
          <div class="right-brace"></div>
        </div>
      </div>
    </div>
  </section>

  <section id="nuestro-equipo" class="content">
    <h2>{% block quienes_participamos__our_team__title %}{% endblock %}</h2>

    <div class="team-member">
      <div class="picture jazmin">
      </div>
      <div class="description">
        <h2>Jazmín Mota</h2>
        {% block quienes_participamos__jazmin %}{% endblock %}
      </div>
    </div>

    <div class="team-member right">
      <div class="picture hector">
      </div>
      <div class="description">
        <h2>Héctor Ortega</h2>
        {% block quienes_participamos__hector %}{% endblock %}
      </div>
    </div>

    <div class="team-member">
      <div class="picture adrian">
      </div>
      <div class="description">
        <h2>Adrián Fernández</h2>
        {% block quienes_participamos__adrian %}{% endblock %}
      </div>
    </div>

    <div class="team-member right">
      <div class="picture paola">
      </div>
      <div class="description">
        <h2>Paola García</h2>
        {% block quienes_participamos__paola %}{% endblock %}
      </div>
    </div>

    <div class="team-member">
      <div class="picture abraham">
      </div>
      <div class="description">
        <h2>Abraham Toriz</h2>
        {% block quienes_participamos__abraham %}{% endblock %}
      </div>
    </div>

    <div class="team-member right">
      <div class="picture mariana">
      </div>
      <div class="description">
        <h2>Mariana Velázquez</h2>
        {% block quienes_participamos__mariana %}{% endblock %}
      </div>
    </div>

    <div class="team-member">
      <div class="picture lore">
      </div>
      <div class="description">
        <h2>Lorena Morales</h2>
        {% block quienes_participamos__lore %}{% endblock %}
      </div>
    </div>
  </section>

  <section id="colaboracion" class="content">
    <div class="colaboracion">
      <h2>{% block quienes_participamos__colaboracion__title %}{% endblock %}</h2>

      {% block quienes_participamos__colaboracion__content %}{% endblock %}

      <p class="logos">
        <img src="/static/img/logo_edinburgh.png" alt="{% block logo_edinburgh %}{% endblock %}" />
        <img src="/static/img/logo_unam.png" alt="{% block logo_unam %}{% endblock %}" />
        <img src="/static/img/logo_inecolunam.png" alt="{% block logo_inecolunam %}{% endblock %}" />
        <img src="/static/img/logo_lancis.png" alt="{% block logo_lancis %}{% endblock %}" />
      </p>
    </div>

    <div class="patrocinio">
      <h2>{% block quienes_participamos__patrocinio__title %}{% endblock %}</h2>

      {% block quienes_participamos__patrocinio__content %}{% endblock %}

      <p class="logos">
        <img src="/static/img/logo_sages.png" alt="{% block logo_sages %}{% endblock %}" />
        <img src="/static/img/logo_ukccs.png" alt="{% block logo_ukccs %}{% endblock %}" />
      </p>
    </div>

    <div class="alianzas">
      <h2>{% block quienes_participamos__alianzas__title %}{% endblock %}</h2>

      {% block quienes_participamos__alianzas__content %}{% endblock %}

      <p class="logos">
        <a href="https://www.cuspwest.org/" target="_blank" rel="noopener"><img src="/static/img/logos/cuspwest.png" alt="{% block logo_cuspwest %}{% endblock %}" /></a>
        <a href="https://www.eneryou.org/" target="_blank" rel="noopener"><img src="/static/img/logos/eneryou.png" alt="{% block logo_eneryou %}{% endblock %}" /></a>
        <a href="https://www.eneryou.org/" target="_blank" rel="noopener"><img src="/static/img/logos/fundacion-eneryou.png" alt="{% block logo_fundacioneneryou %}{% endblock %}" /></a>
        <a href="https://ice-srm-lat.org/" target="_blank" rel="noopener"><img src="/static/img/logos/icesrm.png" alt="{% block logo_icesrm %}{% endblock %}" /></a>
      </p>
    </div>
  </section>
{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="/static/js/who_we_are.js"></script>
{% endblock %}
