{% from 'macros/lang_block.html' import lang_block with context %}

<template id="article-search">
  <style>{% include "components/article-search.css" %}</style>

  <div class="search">
    <div class="search__bar">
      <input type="text" search-input name="q" placeholder="{{ 'search_placeholder'|i18n }}" />
    </div>
    <div class="search__controls">
      <label>
        {{ 'search_doctype_label'|i18n }}<br />
        <select name="type">
          <option selected="selected" value="">{{ 'select_placeholder'|i18n }}</option>
        </select>
      </label>

      <label>
        {{ 'search_subject_label'|i18n }}<br />
        <select name="subject">
          <option selected="selected" value="">{{ 'select_placeholder'|i18n }}</option>
        </select>
      </label>

      <label>
        {{'search_year_label'|i18n }}<br />
        <select name="year">
          <option selected="selected" value="">{{ 'select_placeholder'|i18n }}</option>
        </select>
      </label>

      <label>
        {{ 'search_language_label'|i18n }}<br />
        <select name="lang">
          <option selected="selected" value="">{{ 'select_placeholder'|i18n }}</option>
        </select>
      </label>

      <label>
        {{ 'search_publisher_label'|i18n }}<br />
        <select name="journal">
          <option selected="selected" value="">{{ 'select_placeholder'|i18n }}</option>
        </select>
      </label>

      <button clear-search>{{ 'search_clear'|i18n }}</button>
    </div>
    <search-results></search-results>
    <div class="search__footer">
      {{ lang_block('search_footer.html') }}
    </div>
  </div>
</template>
