* {
    box-sizing: border-box;
}

:host {
    display: block;
    position: relative;
    padding: 0 .5rem .5rem .5rem;
    margin-top: 1rem;
}

h1 {
    margin: 0;
    font-size: 22px;
}

[author] {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: .7rem;
}

.typesub {
    color: #5e5c64;
}

.widgets {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
}

.widgets .widget {
    padding: 0 .5rem .5rem .5rem;
}

.bottom {
    display: flex;
    justify-content: space-between;
}
