<template id="article-entry">
  <style>{% include "components/article-entry.css" %}</style>

  <div>
    <a href="" filename>
      <h1 title>Título</h1>
    </a>
    <p author>autor</p>
    <div class="bottom">
      <div class="typesub"><span type>Artículo</span> / <span subject>C02</span></div>
      <div journal>Society of noseque</div>
    </div>
  </div>

  <div class="widgets">
    <div class="widget" year>2010</div>
    <div class="widget" lang>es</div>
  </div>
</template>
