* {
    box-sizing: border-box;
}

.search__bar {
    padding: 0 5rem;
}

.search__bar input {
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 30px;
    text-align: center;
    border-radius: 4px;
    border: var(--border);
}

.search__footer {
    text-align: center;
    margin-top: 4rem;
}

.search__controls {
    padding: 2rem 5rem 0 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 1rem;
}

[clear-search] {
    display: none;
}

:host([has-search="true"]) [clear-search] {
    display: block;
}

@media all and (max-width: 600px){
    .search__bar {
        padding: 0;
    }

    .search__controls {
        padding: 1rem 0 0 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        gap: 1rem;
    }
}