<div id="video-overlay">
  <div>
    <p>
      <a href="#">{{ 'close'|i18n }}</a><br />
    </p>
    <iframe id="video-frame" width="560" height="315" src="https://www.youtube-nocookie.com/embed/8hy2n1Pjq1U" title="YouTube video player" frameborder="0" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>
