{% from 'macros/lang_block.html' import lang_block with context %}

<template id="poll-intro">
  <style>{% include "components/poll-intro.css" %}</style>

  <div class="info">
    {{ lang_block('poll-intro-text.html') }}
  </div>
  <div class="cards">
    <div class="card ciclo-del-carbono">
      <div class="circle-wrapper">
        <div class="circle">
          <div class="label-container">
            <div class="label">{{ lang_block('poll-ciclo-title.html') }}</div>
          </div>
        </div>
      </div>
      <div class="cover">
        {{ lang_block('poll-ciclo-body.html') }}
      </div>
    </div>
    <div class="card sostenibilidad">
      <div class="circle-wrapper">
        <div class="circle">
          <div class="label-container">
            <div class="label">{{ lang_block('poll-sustainability-title.html') }}</div>
          </div>
        </div>
      </div>
      <div class="cover">
        {{ lang_block('poll-sustainability-body.html') }}
      </div>
    </div>
  </div>
</template>
