.link-back {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 2rem;
    align-items: center;
    padding-bottom: var(--section-padding);
    font-size: 20px;
}

.link-back .line {
    border-bottom: var(--border);
}

.link-back a,
.link-back a:link,
.link-back a:visited {
    color: black;
}
