<template id="poll-results">
  <style>{% include "components/poll-results.css" %}</style>

  <div answer-container></div>
  <div class="link-back">
    <div class="line">
    </div>
    <div class="text">
      <a href="" link-back>volver a los cuestionarios</a>
    </div>
  </div>
</template>
