* {
    box-sizing: border-box;
}

:host {
    display: grid;
    grid-template-columns: 45% 1fr;
    min-height: 520px;
    gap: 40px;
    padding-bottom: var(--section-padding);
}

:host h2 {
    text-transform: uppercase;
}

:host .info h2 {
    margin-bottom: 70px;
}

:host .info hr {
    margin-bottom: 50px;
}

:host .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}

:host .card {
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

:host .card .cover {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 100%;
    background-color: #1F3743;
    color: white;
    padding: 15px;
    transition: top 1s;
}

:host .card .cover h3,
:host .card .cover p.link {
    text-align: center;
}

:host .card .cover a,
:host .card .cover a:link,
:host .card .cover a:visited {
    color: white;
    text-decoration: underline;
}

:host .card:hover .cover {
    top: 0;
}

:host .card .circle-wrapper {
    width: 80%;
}

:host .card .circle {
    padding-top: 100%;
    background-color: rgba(255, 255, 255, .7);
    border-radius: 50%;
    position: relative;
}

:host .card .circle .label-container {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
}

:host .card .circle .label-container .label {
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

:host .ciclo-del-carbono {
    background-image: url(/static/img/ciclo_del_carbono.jpg);
}

:host .sostenibilidad {
    background-image: url(/static/img/sostenibilidad.jpg);
}

@media all and (max-width: 600px){
    :host {
        grid-template-rows: 45% 1fr;
        grid-template-columns: 1fr;
    }

    :host .cards {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    :host .card {
        flex-direction: column;
    }

    :host .card .cover {
        display: flex;
        flex-direction: column;
        position: initial;
    }
}
