* {
    box-sizing: border-box;
}

:host {
    --checkbox-size: 30px;
    --color-red: #F80732;
    --color-green: #01DC00;

    display: block;
    margin-top: 1rem;
}

label {
    display: grid;
    gap: 30px;
    grid-template-columns: var(--checkbox-size) var(--checkbox-size) 1fr;
    cursor: pointer;
    align-items: center;
}

label .radio {
    height: var(--checkbox-size);
    width: var(--checkbox-size);
    border-radius: 50%;
    border: 4px solid black;
    position: relative;
}

.check, .cross {
    display: none;
}

/* user answer */
:host([useranswer="true"]) label .tick path {
    fill: var(--color-red);
}

:host([useranswer="true"]) label .radio {
    background-color: var(--color-red);
}

:host([useranswer="true"]) label .cross {
    display: block;
}

/* right answer styles override user answer styles */
:host([rightanswer="true"]) label .radio {
    background-color: var(--color-green);
}
:host([rightanswer="true"]) label .cross {
    display: none;
}
:host([rightanswer="true"]) label .check {
    display: block;
}
:host([rightanswer="true"]) label .tick path {
    fill: var(--color-green);
}
