<template id="question-loop">
  <style>{% include "components/question-loop.css" %}</style>

  <div class="image-container">
    <img src="" question-image />
  </div>
  <div class="sep-line"></div>
  <div class="question-box">
    <div class="question-data">
      <h2><span question-question></span> <span question-num>1</span></h2>

      <p question-info></p>

      <p class="question-text" question-text>¿qué pez?</p>

      <form>
        <ul class="options" question-options></ul>
      </form>
    </div>
    <div class="poll-progress-box">
      <div class="progress">
        <div class="progress-bar"></div>
      </div>
      <div>
        <a href="" next-btn>
          <span question-next></span>
          <svg viewBox="0 0 84.25 91.73"><path d="M68.48,47.18c-0.56,0.72-1.05,1.51-1.69,2.15c-5.49,5.53-11.02,11.03-16.52,16.55c-1.13,1.13-2.38,1.68-3.93,1.03 c-2.22-0.93-2.69-3.47-0.93-5.27c3.01-3.1,6.07-6.16,9.12-9.21c0.86-0.86,1.78-1.64,2.67-2.46c-0.05-0.14-0.11-0.28-0.16-0.43 c-0.44,0-0.89,0-1.33,0c-12.6,0-25.2-0.02-37.8,0.02c-1.88,0.01-3.3-0.54-4.02-2.38c0-0.57,0-1.13,0-1.7 c0.8-1.88,2.23-2.47,4.23-2.46c12.53,0.06,25.06,0.03,37.59,0.03c0.44,0,0.89,0,1.62,0c-0.44-0.47-0.71-0.77-1-1.06 c-3.63-3.63-7.27-7.25-10.88-10.9c-1.53-1.54-1.48-3.38,0.07-4.76c1.32-1.18,2.98-1.16,4.35,0.14c1.44,1.36,2.81,2.79,4.21,4.19 c4.2,4.2,8.41,8.39,12.6,12.61c0.67,0.67,1.21,1.47,1.81,2.21C68.48,46.05,68.48,46.62,68.48,47.18z"/></svg>
        </a>
      </div>
    </div>
  </div>
</template>
