* {
    box-sizing: border-box;
}

:host {
    display: block;

    --text-padding: 2rem;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto 1fr;
    grid-template-areas:
        "title title"
        "question detail"
        "image detail";
}

.title {
    grid-area: title;
}

.title h2 {
    text-transform: uppercase;
    letter-spacing: 5px;
}

.question {
    grid-area: question;
    border-right: var(--border);
    padding-right: var(--text-padding);
}

.detail {
    grid-area: detail;
    padding-left: var(--text-padding);
}

.detail figure {
    margin: 3rem 1rem;
}

.detail img {
    max-width: 100%;
}

.image {
    grid-area: image;
    padding: 4rem var(--text-padding);
}

.image img, .detail-image img {
    width: 100%;
}

[question] {
    font-weight: bold;
}
