<template id="question-result">
  <style>{% include "components/question-result.css" %}</style>

  <div class="grid">
    <div class="title">
      <h2 title>Título</h2>
    </div>
    <div class="question">
      <p info>la info asociada</p>
      <p question>la pregunta</p>

      <div options>
      </div>
    </div>
    <div class="detail" answerinfo>
    </div>
    <div class="image">
      <img src="" image />
    </div>
  </div>
</template>
