* {
    box-sizing: border-box;
}

:host {
    display: grid;
    grid-template-columns: 1fr 100px 1fr;
}

.image-container {
    padding-right: 60px;
    padding-bottom: var(--section-padding);
}

.image-container img {
    width: 100%;
}

.sep-line {
    border-left: var(--border);
    border-top: var(--border);
}

.question-box {
    padding-bottom: var(--section-padding);
    padding-left: 5px;
}

.question-box h2 {
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-top: 0;
    transform: translate(0, -15px);
    margin-bottom: 65px;
}

.question-data .question-text {
    font-weight: bold;
    font-size: 1.2em;
}

ul.options {
    list-style: none;
    margin: 80px 0;
}

ul.options question-option:not(:last-child) {
    margin-bottom: 20px;
}

.question-box .poll-progress-box {
    display: grid;
    grid-template-columns: 1fr 100px;
    grid-template-rows: 40px;
    gap: 100px;
    align-items: center;
}

:host([clicked="clicked"]) .question-box .poll-progress-box a {
    display: flex;
}

.question-box .poll-progress-box a {
    display: none;
    align-items: center;
    animation-iteration-count: 1;
    animation-name: fadeIn;
    animation-duration: 1s;
}

.question-box .poll-progress-box a:link,
.question-box .poll-progress-box a:visited {
    color: black;
    text-decoration: none;
}

.question-box .poll-progress-box a:hover {
    text-decoration: underline;
}

.question-box .poll-progress-box a svg {
    height: 40px;
}

.progress {
    height: 3px;
    border-radius: 1.5px;
    background-color: black;
}

.progress .progress-bar {
    width: 50%;
    height: 100%;
    background-color: #00DF02;
}
