* {
    box-sizing: border-box;
}

:host {
    --checkbox-size: 30px;

    display: block;
}

label {
    display: grid;
    gap: 40px;
    grid-template-columns: var(--checkbox-size) 1fr;
    cursor: pointer;
    align-items: center;
}

label .radio {
    height: var(--checkbox-size);
    width: var(--checkbox-size);
    border-radius: 50%;
    border: 4px solid black;
    position: relative;
}

:host([checked="true"]) label .radio {
    background-color: #19629E;
}
