<template id="question-option">
  <style>{% include 'components/question-option.css' %}</style>

  <li>
    <label>
      <div class="radio"></div>
      <div class="label-text"></div>
    </label>
  </li>
</template>
