/* Heredado */
:root {
    --ccsmex-clock-size: 80px;
    --ccsmex-timeline-circle-size: 100px;
}

body {
    background-color: #ededed;
}

/* Sección */

#ccs-en-mexico h1, #atlas-ccus h2 {
    border-bottom: var(--border);
    border-bottom-color: black;
    padding-bottom: 35px;
}

.titled-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 5rem;
    padding-top: 15%;
}

.titled-grid .two-columns {
    grid-column: span 2;
}

.banner {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

#atlas-ccus-banner {
    background-color: #d3d3d3;
}

/* Dos columnas */

.two-columns {
    column-count: 2;
    column-gap: 5rem;
}

.two-columns > p:first-child {
    margin-top: 0;
}

/* Dos imágenes */

.one-img figure {
    width: 20%;
    margin: 3em auto;
}

.two-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5rem;
}

.two-img img, .one-img img {
    max-width: 100%;
}

.two-img figcaption, .one-img figcaption {
    text-align: center;
    font-size: 1.25em;
    letter-spacing: .5rem;
    margin: 1rem;
}

.two-img figure{
    margin: 0;
}

#linea-del-tiempo {
    margin-top: 100px;
}

.timeline-intro {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr 50%;
    padding-bottom: var(--section-padding);
}

.timeline-intro .line {
    border-top: var(--border);
}

.timeline-intro .text-box {
    border: var(--border);
    padding: 40px;
}

.timeline {
    background-image: url(/static/img/ccs_en_mexico.jpg);
    background-size: cover;
    background-position: bottom;
    color: white;
}

.timeline .clock-container {
    text-align: center;
    transform: translateY(calc(var(--ccsmex-clock-size) / -2));
}

.timeline .clock-container svg {
    width: var(--ccsmex-clock-size);
}

.timeline .timeline-events {
    overflow: hidden;
    padding-bottom: var(--section-padding);
}

.timeline .timeline-event {
    display: grid;
    grid-template-columns: 1fr 1fr 10% var(--ccsmex-timeline-circle-size) 10% 1fr 1fr;
    grid-template-areas: "left2 left1 line-left year-circle line-right right1 right2";
    align-items: center;
    margin-bottom: 60px;
}

.timeline .timeline-event .line {
    border-top: var(--border);
    border-color: white;
}

.timeline .timeline-event .right {
    text-align: left;
    border-left: var(--border);
    border-color: white;
}

.timeline .timeline-event .left {
    text-align: right;
    border-right: var(--border);
    border-color: white;
}

.timeline .timeline-event .text {
    padding: 0px 20px;
    position: relative;
}

.timeline .timeline-event .text .plus-container {
    text-align: center;
    padding-top: .25rem;
}

.timeline .timeline-event .text .extra-info {
    display: none;
    background-color: black;
    border-radius: .25rem;
    padding: .5rem;
    text-align: left;
    position: absolute;
    inset: 0px auto auto 0px;
    z-index: 1;
}

.timeline .timeline-event .text:hover .extra-info {
    display: block;
}

.timeline .timeline-event .year-circle {
    border-radius: 50%;
    border: var(--border);
    border-color: white;
    height: var(--ccsmex-timeline-circle-size);
    text-align: center;
    line-height: var(--ccsmex-timeline-circle-size);
    font-weight: bold;
    font-size: 24px;
    grid-area: year-circle;
}

.timeline .timeline-event .line-right { grid-area: line-right; }
.timeline .timeline-event .line-left { grid-area: line-left; }
.timeline .timeline-event .left2 { grid-area: left2; }
.timeline .timeline-event .left1 { grid-area: left1; }
.timeline .timeline-event .right2 { grid-area: right2; }
.timeline .timeline-event .right1 { grid-area: right1; }

@media all and (max-width: 600px){
    .timeline-intro {
        display: block;
    }

    .two-img {
        display: block;
    }

    .timeline .timeline-events {
        display: flex;
        flex-direction: column;
    }

    .timeline .timeline-event {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .timeline .timeline-event .year-circle {
        width: 7.5rem;
        order: -1;
    }

    .timeline .timeline-event .line-right {
        display: none;
    }

    .timeline .timeline-event .line-left {
        display: none;
    }

    .titled-grid .two-columns {
        display: grid;
        grid-column: span 2;
    }

    .timeline .timeline-event .right {
        text-align: center;
        border-left: none;
    }
    
    .timeline .timeline-event .left {
        text-align: center;
        border-right: none;
    }

    /*.timeline .timeline-event .text:hover .extra-info {
        display: block;
    }*/
}
