:root {
    --ods-logo-size: 400px;
}

body {
    background-color: #AFDCE1;
}

.clouds {
    position: relative;
    overflow: hidden;
}

.clouds .cloud {
    position: absolute;
    z-index: -1;
    left: 0;
}

.clouds .cloud-single {
    width: 333px;
    height: 100px;
    top: 625px;
    background-image: url(/static/img/nube.svg);
    animation: slide 60s linear infinite;
    animation-delay:-4s;
}

.clouds .cloud-double {
    width: 420px;
    height: 125px;
    top: 450px;
    left: 10%;
    background-image: url(/static/img/nube2.svg);
    animation: slide 90s linear infinite;
    animation-delay:-45s;
}

@keyframes slide {
    0%{
        opacity:1;
        left:-10%;
        transform:translateX (20px) rotate(0deg);
    }
    20%{
        opacity:0.8;
        transform:translateX (-20px) rotate(45deg);
    }
    40%{

        transform:translateX (-20px) rotate(90deg);
    }
    60%{

       transform:translateX (-20px) rotate(135deg);
    }
    80%{

        transform:translateX (-20px) rotate(180deg);
    }
    100%{
        left:110%;
        transform:translateX (-20px) rotate(225deg);
    }
}

.up-grid {
    display: grid;
    grid-template-rows: 1fr auto;
}

.up-grid .texts {
    border-top: var(--border);
}

.up-grid .line {
    border-top: var(--border);
}

.up-grid .boxes .line-box {
    width: 50%;
    height: 100px;
    border-right: var(--border);
}

.up-grid .boxes .text-box {
    font-size: 30px;
    font-weight: bold;
    padding: var(--content-padding);
    border: var(--border);
    text-align: center;
}

.legend {
    margin: 5rem 2rem 0 1rem;
    grid-row-start: 2;
}

.legend__intro {
    font-weight: bold;
}

.legend__body {
    display: grid;
    grid-template-columns: 50px 1fr;
    gap: 1rem;
    align-items: center;
}

.legend__circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid black;
    background: linear-gradient(to right, pink 48%, black 49% 51%, red 51% 100%);
}

.legend__text {
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;
    cursor: pointer;
}

.antropogenic { background: linear-gradient(to right, var(--antropogenic-secondary) 48%, black 49% 51%, var(--antropogenic-primary) 51% 100%); }
.transport { background: linear-gradient(to right, var(--transport-secondary) 48%, black 49% 51%, var(--transport-primary) 51% 100%); }
.society { background: linear-gradient(to right, var(--society-secondary) 48%, black 49% 51%, var(--society-primary) 51% 100%); }
.use { background: linear-gradient(to right, var(--use-secondary) 48%, black 49% 51%, var(--use-primary) 51% 100%); }
.eco { background: linear-gradient(to right, var(--eco-secondary) 48%, black 49% 51%, var(--eco-primary) 51% 100%); }

.earth-diagram {
    padding-bottom: var(--section-padding);
}

.earth-diagram svg {
    width: 100%;
}

g.info-item.reveal,
g.info-item:hover {
    filter: drop-shadow(0 0 10px black);
    cursor: pointer;
}

#how-much-you-know {
    background-color: #EDEDED;
    padding-top: var(--section-padding);
}

#que-opinas-de {
    background-color: var(--color-dark);
    overflow: hidden;
}

#que-opinas-de .overlay {
    background-color: rgba(0, 0, 0, .5);
}

#que-opinas-de .content {
    display: grid;
    grid-template-areas:
        "title ."
        "text1 text2"
        "subtitle ."
        "video tiles";
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    color: white;
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

#que-opinas-de .title { grid-area: title; }
#que-opinas-de .text1 { grid-area: text1; }
#que-opinas-de .text2 { grid-area: text2; }
#que-opinas-de .subtitle { grid-area: subtitle; }
#que-opinas-de .video { grid-area: video; }
#que-opinas-de .tiles { grid-area: tiles; }

#que-opinas-de .title {
    border-bottom: var(--border);
    border-bottom-color: white;
    padding-bottom: 35px;
}

#que-opinas-de .subtitle {
    display: grid;
    grid-template-columns: auto 1fr 50px;
    align-items: center;
}

#que-opinas-de .subtitle .line {
    background-color: white;
    height: var(--border-size);
}

#que-opinas-de .subtitle .icon {
    width: 50px;
    height: 50px;
    align-items: center;
    border: var(--border);
    border-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#que-opinas-de .subtitle .icon svg {
    width: 30px
}

#que-opinas-de .subtitle .icon svg path {
    fill: white;
}

#que-opinas-de .tiles {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

a.video-play-btn {
    min-width: 0;
}

a.video-play-btn:link,
a.video-play-btn:visited {
    color: white;
}

a.video-play-btn img {
    width: 100%;
}

a.video-play-btn .label {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 10px;
}

a.video-play-btn svg {
    height: 30px;
}

a.video-play-btn svg path {
    fill: white;
}

#ccs-y-los-ods {
    padding: var(--section-padding) 0;
    background-image: url(/static/img/ccs_y_los_ods.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

#ccs-y-los-ods .showcase {
    padding: 20px 0;
}

#ccs-y-los-ods .showcase:nth-child(2n) {
    background-color: rgba(0, 0, 0, .1);
}

#ccs-y-los-ods .showcase .content {
    display: grid;
    grid-template-columns: 1fr 30%;
    gap: 20px;
}

#ccs-y-los-ods .showcase .content .left {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#ccs-y-los-ods .showcase .content .left h3 {
    font-size: 30px;
}

#ccs-y-los-ods .showcase .content .left img {
    height: 150px;
}

#ccs-y-los-ods .ods-title {
    display: grid;
    grid-template-columns: 2fr 1fr var(--ods-logo-size);
}

#ccs-y-los-ods .ods-title .logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

#ccs-y-los-ods .ods-title .logo svg {
    width: 70%;
}

#ccs-y-los-ods .ods-title .text a:link,
#ccs-y-los-ods .ods-title .text a:visited {
    text-decoration: underline;
}

#ccs-y-los-ods .ods-title .line {
    height: calc(var(--ods-logo-size) / 2);
    border-bottom: var(--border);
    display: flex;
    align-items: center;
}

#ccs-y-los-ods .logo {
    border-radius: 50%;
    height: var(--ods-logo-size);
    border: var(--border);
    grid-row: span 2;
}

#ccs-y-los-ods .ps {
    grid-column: span 3;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

/* Para los tooltips */
.tippy-content {
    padding: 0;
}
.tooltip {
    display: grid;
    border-radius: .25rem;
    overflow: hidden;
    color: #222;
}
.tooltip-head {
    background-color: blue;
    padding: .5rem;
    font-weight: bold;
}
.tooltip-body {
    background-color: green;
    padding: .5em;
}

.tooltip.antropogenic .tooltip-head {
    background-color: var(--antropogenic-primary);
}
.tooltip.transport .tooltip-head {
    background-color: var(--transport-primary);
}
.tooltip.use .tooltip-head {
    background-color: var(--use-primary);
}
.tooltip.society .tooltip-head {
    background-color: var(--society-primary);
}
.tooltip.eco .tooltip-head {
    background-color: var(--eco-primary);
}

.tooltip.antropogenic .tooltip-body {
    background-color: var(--antropogenic-secondary);
}
.tooltip.transport .tooltip-body {
    background-color: var(--transport-secondary);
}
.tooltip.use .tooltip-body {
    background-color: var(--use-secondary);
}
.tooltip.society .tooltip-body {
    background-color: var(--society-secondary);
}
.tooltip.eco .tooltip-body {
    background-color: var(--eco-secondary);
}

@media all and (max-width: 600px){
    .up-grid {
        display: block;
    }

    .up-grid .boxes .line-box {
        display: none;
    }

    #que-opinas-de .content {
        display: block;
    }

    #que-opinas-de .video {
        grid-area: video;
        padding-bottom: 2rem;
    }

    #ccs-y-los-ods .ods-title .logo {
        display: flex;
        margin: 5%;
    }

    #ccs-y-los-ods .logo {
        border: none;
        height: 13rem;
    }

    #ccs-y-los-ods .ods-title > :nth-child(2){
        display: none;
    }
}

@media all and (max-width: 900px){
    #ccs-y-los-ods .ods-title {
        display: list-item;
    }

    #ccs-y-los-ods .showcase .content {
        display: grid;
        grid-template-columns: none;
        gap: 20px;
    }

    #ccs-y-los-ods .showcase .content .left {
        display: grid;
    }

    #ccs-y-los-ods {
        background-size: contain;
    }

    #how-much-you-know .content .cards{
        grid-template-rows: 1fr 1fr;
    }
}

@media all and (min-width: 920px){
    .up-grid .boxes {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 5;

    }

    .up-grid .texts {
        border-top: none;
        display: grid;
        grid-template-columns: 1fr auto auto;
    }

    .up-grid .line {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
    }
}
