:root {
    --upper-icons-height: 40px;
}

body {
    background-color: #EDEDED;
}

.upper {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 20rem;
    border-bottom: var(--border);
    padding-bottom: 3rem;
    padding-top: 5rem;
}

.upper__logo {
    padding-right: 4rem;
}

.upper__logo svg {
    width: 400px;
}

.upper__text h1 {
    margin-top: 6rem;
}

.upper__icons {
    font-weight: bold;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

.upper__icons a:first-child {
    width: 100%;
}

.upper__icons a {
    height: var(--upper-icons-height);
    display: flex;
    align-items: center;
}

.upper__icons img {
    height: var(--upper-icons-height);
}

.upper__icons img:not(:only-child) {
    margin-right: 1rem;
}

.credits {
    padding-top: 5rem;
    padding-bottom: var(--section-padding);
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
}

.credits > :first-child {
    grid-column: span 2;
}

.credits dl {
    display: grid;
    grid-template-columns: 160px 1fr;
    align-items: center;
    gap: 1rem;
}

.credits dt {
    text-align: right;
}

.credits dd {
    margin: 0;
}

@media all and (max-width: 700px) {
    .upper__logo {
        display: none;
    }

    .upper {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
    }
}