:root {
    --home-spacing: var(--content-padding);

    --home-border: none;

    --home-logo-size: 400px;
    --home-footer-size: 100px;

    --home-body-padding: var(--home-spacing) 0 var(--home-spacing) var(--home-spacing);
    --home-body-circle-diameter: 150px;
}

body {
    min-height: 100vh;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

#main-content {
    display: flex;
    min-height: 100vh;
}

#home-logo {
    max-width: var(--home-logo-size);
    display: flex;
    justify-content: center;
    align-items: center;
}

#home-logo img {
    width: 100%;
}

#home-hline {
    border-top: var(--home-border);
    flex-grow: 1;
}

#home-text {
    width: 50%;
}

#home-text .title-container {
    display: grid;
    grid-template-columns: 1fr auto;
}

#home-text .title-container div:first-child {
    border-bottom: var(--home-border);
}

#home-text .title {
    display: block;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: -9px;
    padding-left: 10px;
    letter-spacing: 5px;
    z-index: 1;
    margin-left: auto;
}

#home-text .body {
    padding: var(--home-body-padding);
    border-left: var(--home-border);
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: var(--home-spacing);
    grid-row-gap: calc(var(--home-spacing) / 2);
}

#home-text .body .desc {
    grid-column: span 2;
}

#home-text .body .info-icon {
    display: flex;
}

#home-text .body .info-icon img {
    display: inline-block;
    margin-left: auto;
}

#home-text .body .circle {
    width: var(--home-body-circle-diameter);
    height: var(--home-body-circle-diameter);
    border-radius: 50%;
    position: absolute;
    border: var(--home-border);
    border-bottom-color: rgba(0, 0, 0, 0);
    transform: rotate(-45deg);
    margin-left: calc(var(--home-body-circle-diameter) * -.5);
    margin-top: calc(var(--home-body-circle-diameter) * -.5);
    top: 0;
    left: 0;
    z-index: -1;
}

#home-text .body .button {
    height: 40px;
    line-height: 40px;
    display: flex;
    grid-column: span 2;
}

#home-text .body .button a {
    display: flex;
    align-items: center;
    height: 100%;
    text-decoration: underline;
}

#home-text .body .button a:last-child {
    margin-left: 50px;
}

#home-text .body .button img {
    height: 30px;
}

@media all and (max-width: 900px) {
    main {
        flex-direction: column;
        padding-top: 40px;
        padding-bottom: var(--forest-height);
    }

    #home-text {
        width: 100%;
    }
}

@keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}
}

.bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -10;
    background-repeat: repeat-x;
    background-position: bottom;
    background-size: cover;
}

.bg-animated {
    animation: fadein;
    animation-duration: 5s;
    animation-delay: 5s;
}

.bg-1 { background-image: url(/static/img/home-bg-1.jpg); }
.bg-2 { background-image: url(/static/img/home-bg-2.jpg); }
.bg-3 { background-image: url(/static/img/home-bg-3.jpg); }

.bg-back {
    z-index: -10;
}
.bg-front {
    z-index: -9;
    opacity: 0;
}

@media all and (max-width: 600px){
    #home-text .body {
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: var(--home-spacing);
        grid-row-gap: calc(var(--home-spacing) / 2);
    }

    #home-text .body .desc {
        grid-column: span 1;
    }
}

@media all and (max-width: 900px){
    main{
        padding-top: 25%;
    }

    #home-text .body .button {
        height: 40px;
        position: absolute;
        bottom: 0;
        left: 0;
        margin-bottom: -50px;
        margin-left: 20px;
        line-height: 40px;
        display: flex;
    }

    #home-text .body .button .button-img {
        display: none;
    }

    #home-text .body .circle {
        display: none;
    }

    #home-text .title-container div:first-child {
        display: none;
    }
}
