body {
    background-color: #EDEDED;
}

.two-side {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.two-side .two-side__left {
    border-top: var(--border);

    padding-top: 3rem;
    padding-right: 1rem;
}

.two-side.lower .two-side__left {
    border-top: none;
    border-bottom: var(--border);
    padding: 0 0 1rem 0;
    position: relative;
}

.two-side .two-side__right {
    background-image: url(/static/img/mario.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

.two-side .two-side__right > div {
    width: 50%;
    color: white;
    padding: 2rem 0 2rem 2rem;
    font-size: 20px;
    font-weight: bold
}

/**
 * Gaceta
 */
.gaceta-desc {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.gacetas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.gaceta {
    text-align: center;
    font-size: 22px;
}

.gaceta img {
    display: block;
    width: 100%;
}

/**
 * Didactic materials
 */
.didactic {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.didactic__right {
    text-align: center;
}

.didactic__right img {
    display: block;
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
}

@media all and (max-width: 900px) {
    .didactic {
        grid-template-columns: 1fr;
    }
}

/**
 * Search
 */
#search-section {
    padding-bottom: 2rem;
}

.search-intro {
    column-count: 2;
    column-gap: 3rem;
    padding: 3rem 0;
}

.search-intro p {
    break-inside: avoid;
}

.search-intro p:first-child {
    margin-top: 0;
}

#metodologias {
    background-color: var(--color-dark);
    color: white;
}

#metodologias .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4rem;
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

#metodologias h2 {
    border-bottom: var(--border);
    padding-bottom: 3rem;
    border-color: white;
    margin-bottom: 3rem;
}

#metodologias .list {
    font-size: 26px;
    text-decoration: underline;
}

#metodologias .list li {
    margin: 4rem 0;
}

#metodologias a,
#metodologias a:link,
#metodologias a:visited {
    color: white;
}

#sitios-de-interes {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.sitios-heading {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
}

.sitios-heading__title h2 {
    border-bottom: var(--border);
    padding-bottom: 3rem;
}

.sitios-heading__intro {
    padding-top: 0;
}

.site-display__sites {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.site-display__sites figure {
    margin: 2rem 40px;
    text-align: center;
    letter-spacing: .2rem;
}

#final-note {
    background-image: url(/static/img/investigacion_final.jpg);
    background-position: center;
    background-size: cover;
    padding: calc(2 * var(--section-padding)) 0 calc(3 * var(--section-padding)) 0;
    color: white;
    font-size: 24px;
    letter-spacing: .1rem;
}

#final-note ul {
    margin-top: 7rem;
}

#final-note a,
#final-note a:link,
#final-note a:visited {
    color: white;
}

.final-note__warming {
    display: grid;
    grid-template-columns: 200px 1fr;
    margin-top: 8rem;
}

.final-note__warning__note {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    border-bottom: var(--border);
    border-bottom-color: white;
    border-left: var(--border);
    border-left-color: white;
}

.final-note__warning__note :nth-child(1) {
    padding-left: 2rem;
}

.final-note__warning__note :nth-child(2) {
    text-align: center;
    font-weight: bold;
}

.final-note__warning__note :nth-child(2) img {
    width: 80%;
}

.final-note__numbers {
    margin-top: 8rem;
}

.final-note__numbers > p {
    text-align: center;
}

.final-note__numbers__table {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.final-note__numbers__table > :nth-child(n + 5) {
    border-left: var(--border);
    border-left-color: white;
}

.final-note__numbers__item__head {
    text-align: center;
}

.final-note__numbers__item__head img {
    width: 60%;
}

.final-note__numbers__item__body {
    text-align: center;
    padding: 0 1rem;
}

.final-note__numbers__item__body > p:first-child {
    font-weight: bold;
}

.final-note__applications {
    margin-top: 8rem;
}

.final-note__applications p:first-child {
    text-align: center;
}

.final-note__applications > :nth-child(2) {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media all and (max-width: 600px){
    #publicaciones {
        padding-bottom: var(--section-padding);
        padding-top: 45px;
    }

    .two-side {
        grid-template-columns: none;
    }

    .two-side .two-side__right > div {
        width: 55%;
        padding: 1rem 0 2rem 2rem;
        font-size: 11px;
    }

    .two-side.lower .two-side__left {
        padding: 0 0 0 0;
    }

    #metodologias .content {
        grid-template-columns: none;
    }

    .final-note__warming {
        display: grid;
        grid-template-columns: none;
    }

    .final-note__applications > :nth-child(2) {
        display: grid;
        grid-template-columns: none;
    }

    .final-note__numbers__table {
        display: flex;
        flex-direction: column;
    }

    .final-note__numbers__table > :nth-child(4) { order: 2; }
    .final-note__numbers__table > :nth-child(2) { order: 3; }
    .final-note__numbers__table > :nth-child(5) { order: 4; }
    .final-note__numbers__table > :nth-child(3) { order: 5; }
    .final-note__numbers__table > :nth-child(6) { order: 6; }

    .final-note__numbers__table > :nth-child(n + 5) {
        border-left: none;
    }

    #final-note {
        font-size: 15px;
    }

    #final-note ul {
        margin-top: 1rem;
    }

    .site-display__sites img {
        max-width: 100%;
    }

    .search-intro {
        column-count: 1;
        padding: 3rem 0;
    }

    .sitios-heading {
        display: block;
        padding-bottom: 5%;
    }
}

@media all and (max-width: 900px){
    .two-side .two-side__right {
        background-size: contain;
        padding-bottom: 2rem;
    }
}
