:root {
    --footer-bg-color: #302E2F;
    --footer-spacing: 20px;
}

.content {
    width: 100%;
    max-width: var(--content-max-width);
    padding: 0 var(--content-padding);
    margin: 0 auto;
}

.first-section {
    padding-top: var(--first-section-padding-top);
}

footer {
    background-color: var(--footer-bg-color);
    color: white;
    padding: 40px 0;
}

footer a,
footer a:link,
footer a:visited {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

footer .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

footer .site-map {
    display: flex;
    flex-wrap: wrap;
    gap: var(--footer-spacing);
}

footer .section {
    max-width: 180px;
}

footer .section :nth-child(0){
    font-weight: bold;
}

/*footer .section-title {
    padding-bottom: var(--footer-spacing);
}*/

footer .logos svg,
footer .social-links svg {
    height: 40px;
    margin-right: 1rem;
}

footer .logos svg path,
footer .social-links svg path {
    fill: white;
}

footer .social-links {
    text-align: right;
}

footer .footertext {
    margin-top: 2rem;
    text-align: center;
    font-style: italic;
}

.last-remarks {
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 70px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.last-remarks .learn-more {
    grid-column: span 2;
    display: grid;
    grid-template-columns: auto 1fr var(--learn-more-triangle-width) 20px var(--learn-more-link-size);
    align-items: center;
}

.last-remarks .learn-more .text {
    font-weight: bold;
    font-size: 18px;
    padding-right: 10px;
}

.last-remarks .learn-more .line {
    border-bottom: var(--border);
}

.last-remarks .learn-more .triangle {
    height: var(--learn-more-triangle-width);
}

.last-remarks .learn-more .link {
    height: var(--learn-more-link-size);
    font-size: 18px;
    display: flex;
    align-items: center;
    text-align: center;
}

footer .section-title {
    padding-bottom: none;
    font-weight: bold;
    font-size: medium;
}

@media all and (max-width: 500px){
    footer .content{
        display: flex;
        flex-wrap: wrap;
    }

    footer .site-map{
        flex-direction: column;
    }

    .last-remarks {
        display: block;
        grid-template-columns: repeat(2, 1fr);
    }

    .last-remarks .learn-more .text {
        padding-right: 20px;
        padding-top: 15px;
    }
}

@media all and (min-width: 500px){
    footer .section-title {
        padding-bottom: var(--footer-spacing);
    }
}

@media all and (max-width: 600px){
    .last-remarks .learn-more {
        grid-column: span 2;
        display: grid;
        grid-template-columns: none;
        align-items: center;
    }

    .last-remarks .learn-more .triangle {
        display: none;
    }
}