#video-overlay {
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.5);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    justify-content: center;
    align-items: center;
}

#video-overlay p {
    text-align: right;
}

#video-overlay a,
#video-overlay a:link,
#video-overlay a:visited {
    color: white;
}

body.has-modal {
    overflow: hidden;
}

body.has-modal #video-overlay {
    display: flex;
}
