:root {
    --main-nav-height: 40px;
    --main-nav-item-padding: 30px;
    --main-nav-font-size: 14px;
}

#main-nav {
    font-weight: bold;
    position: fixed;
    padding-top: var(--content-padding);
    padding-bottom: var(--content-padding);
    top: 0px;
    left: 0;
    right: 0;
    z-index: 10;
    transition: all .3s ease-in;
}

#main-nav a {
    text-decoration: none;
}

#main-nav li.active {
    border-bottom: var(--border);
}

#main-nav svg {
    height: 40px;
}

/* for when the page is scrolled, force background on the navbar */
#main-nav.scroll {
    top: 0;
    background-color: white;
    padding: 5px 0;
}

#main-nav nav {
    display: flex;
    justify-content: space-between;
    height: var(--main-nav-height);
}

#main-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#main-nav ul.nav-block {
    display: flex;
    gap: 1rem;
}

#main-nav ul li {
    line-height: var(--main-nav-height);
    white-space: nowrap;
    text-overflow: ellipsis;
}

#main-nav ul li.dropdown {
    position: relative;
}

#main-nav ul li.dropdown:hover ul.dropdown {
    display: block;
}

#main-nav ul.dropdown {
    display: none;
    position: absolute;
    inset: 0px auto auto 0px;
    transform: translate(0px, var(--main-nav-height));
    background-color: rgba(255, 255, 255, .8);
}

#main-nav ul.dropdown li {
    padding: 0 10px;
}

#main-nav ul.dropdown li:not(:last-child) {
    border-bottom: var(--border);
}

#main-nav ul.dropdown li a {
    white-space: nowrap;
}

#main-nav ul li a {
    display: block;
    height: 100%;
}

#main-nav .meccs{
    display: none;
}

#main-nav ul li.image a img {
    height: var(--main-nav-height);
}

/**
 * Inverted styles
 */

#main-nav.inverted:not(.scroll) nav > ul > li > a,
#main-nav.inverted:not(.scroll) nav > ul > li > a:link,
#main-nav.inverted:not(.scroll) nav > ul > li > a:visited {
    color: white;
}

#main-nav.inverted:not(.scroll) svg path {
    fill: white;
}

#main-nav.inverted:not(.scroll) li.active {
    border-color: white;
}

.nav-toggle {
    display: none;
}

@media all and (max-width: 740px){
    #main-nav nav {
        display: block;
    }

    .nav-actions {
        display: flex;
        justify-content: space-between;
    }

    .nav-toggle {
        display: block;
    }

    #main-nav ul.nav-links {
        display: none;
    }

    #main-nav .burger {
        justify-self: start;
    }

    #main-nav .meccs {
        display: block;
        justify-self: center;
    }

    #main-nav .image {
        justify-self: end;
    }

    #main-nav{
        justify-content: space-between;
        padding-top: 2px;
        padding-bottom: 2px;
    }

    #main-nav nav {
        flex-wrap: wrap;
    }

    #main-nav.open {
        background-color: white;
    }

    #main-nav.open ul.nav-links {
        display: block;
        max-height: 40vh;
        overflow-y: scroll;
    }

    #main-nav.open nav {
        height: auto;
    }

    #main-nav.open li {
        border-radius: 4px;
    }

    #main-nav.open li.active {
        border-bottom: none;
        background-color: #ddd;
    }

    #main-nav.open li a {
        padding: 0 .5rem;
    }

    #main-nav.open ul li.dropdown {
        position: static;
    }

    #main-nav.open ul li.dropdown ul.dropdown {
        display: block;
        position: static;
        transform: none;
    }

    #main-nav.open ul.dropdown li {
        padding-left: 2rem;
    }

    #main-nav.open ul.dropdown li:not(:last-child) {
        border-bottom: none;
    }
}

@media all and (max-width: 1000px) {
    #main-nav ul.nav-block.nav-logos {
        display: none;
    }
}
