body {
    background-color: #EDEDED;
}

#quienes-participamos {
    background-color: var(--color-dark);
    color: white;
    overflow: hidden;
    padding-bottom: var(--section-padding);
    padding-top: 15%;
}

#quienes-participamos .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}

#quienes-participamos .box {
    border: var(--border);
    border-color: white;
    padding: 2rem;
    line-height: 2em;
    letter-spacing: .3em;
    text-align: center;
}

#team-picture {
    padding-top: 52%;
    position: relative;
}

#team-picture .inner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#team-picture .inner .content {
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: end;
    padding-bottom: 5rem;
}

#team-picture .text-box {
    max-width: 600px;
    color: white;
    display: grid;
    grid-template-columns: 5rem 1fr 5rem;
}

#team-picture .text-box .text {
    padding: 3rem 0;
    text-align: center;
}

#team-picture .text-box .left-brace {
    border-top: var(--border);
    border-bottom: var(--border);
    border-left: var(--border);
    border-color: white;
}

#team-picture .text-box .right-brace {
    border-top: var(--border);
    border-bottom: var(--border);
    border-right: var(--border);
    border-color: white;
}

@keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}
}

.bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -2;
    background-position: center;
    background-size: cover;
}

.bg-animated {
    animation: fadein;
    animation-duration: 5s;
    animation-delay: 5s;
}

.bg-1 { background-image: url(/static/img/team1.jpg); }
.bg-2 { background-image: url(/static/img/team2.jpg); }

.bg-back {
    z-index: -1;
}
.bg-front {
    z-index: 0;
    opacity: 0;
}

#nuestro-equipo {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.team-member {
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-template-areas: "picture description";
    gap: 100px;
    margin-top: 100px;
}

.team-member.right {
    grid-template-columns: 1fr 400px;
    grid-template-areas: "description picture";
}

.team-member .picture {
    max-width: 365px;
    max-height: 365px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    grid-area: picture;
    background-color: var(--color-dark);
    aspect-ratio: 1/1;
}

.team-member .description {
    grid-area: description;
}

.team-member .description h2 {
    border-bottom: var(--border);
    margin-top: 0;
    padding-bottom: 30px;
}

.team-member.right .description h2 {
    text-align: right;
}

.team-member .picture.jazmin { background-image: url(/static/img/jazmin.jpg); }
.team-member .picture.adrian { background-image: url(/static/img/adrian.jpg); }
.team-member .picture.hector { background-image: url(/static/img/hector.jpg); }
.team-member .picture.lore { background-image: url(/static/img/lore.jpg); }
.team-member .picture.mariana { background-image: url(/static/img/mariana.jpg); }
.team-member .picture.paola { background-image: url(/static/img/paola.jpg); }
.team-member .picture.abraham { background-image: url(/static/img/abraham.jpg); }

#colaboracion {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: var(--section-padding);
}

#colaboracion h2 {
    margin-top: 0;
    margin-bottom: 4rem;
}

#colaboracion div {
    padding: 0 20px;
}

#colaboracion div:nth-child(2) {
    border-left: var(--border);
    border-right: var(--border);
}

#colaboracion p.logos {
    text-align: center;
}

#colaboracion p.logos img {
    margin: 10px;
    height: 80px;
}

#colaboracion .patrocinio p.logos img {
    height: 60px;
    margin: 1.5rem;
}

@media all and (max-width: 500px){
    #quienes-participamos .content {
        grid-template-columns: none;
    }

    #team-picture .inner .content {
        height: 150%;
    }

    #team-picture .text-box {
        max-width: 600px;
        color: white;
        display: flex;
        font-size: xx-small;
    }

    .team-member {
        display: contents;
    }

    .team-member .description {
        padding: 2rem 0 5rem 0;
    }

    .team-member.right .description h2 {
        text-align: left;
    }

    #colaboracion {
        display: block;
    }
}
