@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html, body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    letter-spacing: 5px;
}

h1 {
    font-size: 30px;
}

a,
a:link,
a:visited {
    color: var(--color-link);
}

a:hover {
    text-decoration: underline;
}

p {
    line-height: 1.5em;
}

/**
 * Animations
 */

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
