:root {
    --color-red: #FC3434;
    --color-light-blue: #D5E1E1;
    --color-white: #fff;
    --color-black: #000;
    --color-bg-tooltip: purple;
    --color-dark: #2C2A2B;
    --color-link: var(--color-black);

    --antropogenic-primary: #ED2123;
    --antropogenic-secondary: #EB6667;
    --transport-primary: #395270;
    --transport-secondary: #6D8BAF;
    --use-primary: #DBA074;
    --use-secondary: #D4C2AF;
    --society-primary: #BC8A0E;
    --society-secondary: #F2AB01;
    --eco-primary: #77AA33;
    --eco-secondary: #76C619;

    --content-base-width: 1400px;
    --content-padding: 40px;
    --content-max-width: calc(var(--content-base-width) - var(--content-padding));

    --border-size: 1px;
    --border: var(--border-size) solid black;

    --forest-height: 120px;

    --body-padding: 1rem;
    --body-bg-color: var(--color-white);

    --up-grid-padding-bottom: 200px;

    --section-padding: 7rem;
    --first-section-padding-top: 150px;

    --learn-more-link-size: 120px;
    --learn-more-triangle-width: 25px;
}

@media all and (max-width: 1200px) {
    :root {
        --content-padding: 20px;
    }
}

@media all and (max-width: 400px) {
    :root {
        --body-padding: 0;
        --content-padding: 5px;
    }
}
