{% macro navbar(lang, inverted=False, current='') %}
<div id="main-nav" class="{% if inverted %}inverted{% endif %}">
  <div class="content">
    <nav>
      <ul class="nav-block nav-logos">
        <li class="link image"><a href="https://www.ed.ac.uk/" target="_blank">{% include "svg/logo-universidad-edimburgo.svg" %}</a></li>
        <li class="link image"><a href="https://www.unam.mx/" target="_blank">{% include "svg/logo-unam.svg" %}</a></li>
        <li class="link image"><a href="http://www.ecologia.unam.mx/web/" target="_blank">{% include "svg/logo-instituto-de-ecologia.svg" %}</a></li>
        <li class="link image"><a href="http://lancis.ecologia.unam.mx/" target="_blank">{% include "svg/logo-lancis.svg" %}</a></li>
        <li class="link image"><a href="" target="_blank">{% include "svg/logo-eneryou.svg" %}</a></li>
      </ul>

      <ul class="nav-block nav-links">
        {% for menu in menus[lang] %}
          <li class="link dropdown{% if current == menu['link'] %} active{% endif %}">
            <a
              href="{{ menu['link'] }}"
            >{{ menu['label'] }}</a>

            <ul class="dropdown">
              {% for item in menu['items'] %}
                <li>
                  <a
                    href="{{ menu['link'] }}{{ item['link'] }}"

                  >{{ item['label'] }}</a>
                </li>
              {% endfor %}
            </ul>
          </li>
        {% endfor %}
      </ul>

      <ul class="nav-block nav-actions">
        <li class="nav-toggle">
          <a id="toggle" href="">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <path d="M24 6h-24v-4h24v4zm0 4h-24v4h24v-4zm0 8h-24v4h24v-4z"/>
            </svg>
          </a>
        </li>
        <li class="image">
          <a href="{{ language_switch[current_path] }}">
            <img src="/static/img/lang_{% if lang == 'es' %}en{% else %}es{% endif %}.png" />
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
{% endmacro %}

{% macro footer(lang) %}
  <footer>
    <div class="content">
      <div class="logos">
        <a href="https://www.ed.ac.uk/" target="_blank">{% include "svg/logo-universidad-edimburgo.svg" %}</a>
        <a href="https://www.unam.mx/" target="_blank">{% include "svg/logo-unam.svg" %}</a>
        <a href="http://www.ecologia.unam.mx/web/" target="_blank">{% include "svg/logo-instituto-de-ecologia.svg" %}</a>
        <a href="http://lancis.ecologia.unam.mx/" target="_blank">{% include "svg/logo-lancis.svg" %}</a>
      </div>

      <div class="site-map">
        {% for menu in menus[lang] %}
          <div class="section">
            <div class="section-title">
              <a href="{{ menu['link'] }}">{{ menu['label'] }}</a>
            </div>
            <div class="section-subs">
              <ul>
                {% for item in menu['items'] %}
                  <li><a href="{{ menu['link'] }}{{ item['link'] }}">{{ item['label'] }}</a></li>
                {% endfor %}
              </ul>
            </div>
          </div>
        {% endfor %}
      </div>

      <div class="social-links">
        <a href="https://www.linkedin.com/company/meccs">{% include "svg/linkedin_dark.svg" %}</a>
      </div>
    </div>

    <div class="content footertext">
      {{ footertext[lang] }}
    </div>
  </footer>
{% endmacro %}
