{% macro timeline_macro(lang) %}
  {% for year in range(2009, 2021+1) %}
    {% set year = year|string %}
    {% set events = timeline[lang]['events'][year] %}

    <div class="timeline-event">
      {% if events['left2'] %}
        <div class="text left left2">
          {% set event = events['left2'] %}
          {% include 'blocks/timeline-box.html' %}
        </div>
      {% endif %}

      {% if events['left1'] %}
        <div class="text left left1">
          {% set event = events['left1'] %}
          {% include 'blocks/timeline-box.html' %}
        </div>
        <div class="line line-left"></div>
      {% endif %}

      <div class="year-circle">{{ year }}</div>

      {% if events['right1'] %}
        <div class="line line-right"></div>
        <div class="text right right1">
          {% set event = events['right1'] %}
          {% include 'blocks/timeline-box.html' %}
        </div>
      {% endif %}

      {% if events['right2'] %}
        <div class="text right right2">
          {% set event = events['right2'] %}
          {% include 'blocks/timeline-box.html' %}
        </div>
      {% endif %}
    </div>
  {% endfor %}
{% endmacro %}
