{% extends 'pagelayouts/ccs_en_mexico.html' %}

{% from 'macros/timeline.html' import timeline_macro with context %}
{% from 'macros/menus.html' import navbar, footer with context %}

{% block nav %}
  {{ navbar('en', current='/en/ccs_in_mexico.html') }}
{% endblock %}

{% block footer %}
  {{ footer('en') }}
{% endblock %}

{% block title %}CCS in Mexico{% endblock %}

{% block ccs_en_mexico__title %}CCS IN MEXICO{% endblock %}

{% block ccs_en_mexico__intro %}
  <p>
    Mexico has outstanding natural, social, cultural and human wealth. Its
    geographical location is favourable for developing various activities that
    play a vital role in national economy and are linked to oil, manufacturing,
    primary and heavy industries. Integration of strategies, technologies and
    schemes for reducing GHG emissions, proper management of resources and
    pursuing the well-being of society are fundamental in parallel to the
    development of economic activities.
  </p>

  <p>
    In the case of Mexico, there is an opportunity to take advantage of CO₂ for
    enhanced oil recovery processes (EOR) in oil industry. For this reason, in
    Mexico, reference is made to CCUS projects to emphasize the potential for
    make use of CO₂ before its permanent geological storage.
  </p>
{% endblock %}

{% block ccs_en_mexico__timeline__title %}Timeline{% endblock %}

{% block ccs_en_mexico__timeline__box %}
Over the last 10 years, a series of actions and initiatives have been launched
to evaluate the opportunity to implement CCS in Mexico and its role in the
transition to a cleaner and more sustainable economy. We invite you to learn
more about what has been done in the country in terms of public policy, industry
programmes and academia that are key to incorporating CCS technology in the
strategy for mitigating climate change.
{% endblock %}

{% block timeline %}
  {{ timeline_macro('en') }}
{% endblock %}

{% block ccs_en_mexico__atlas__title %}CCUS ATLAS OF MEXICO{% endblock %}

{% block ccs_en_mexico__atlas__text %}
  <p>
    One of the first steps to identify the potential for development of CCS
    consists of integrating databases on emission sources and sites for CO₂
    utilisation and storage. The analysis of these data is carried out at the
    national, regional, local and site scales. It should be considered that the
    smaller the scale, the larger the detail and costs of data acquisition and
    processing.
  </p>

  <p>
    In 2012, Canada, the United States, and Mexico undertook a collaborative
    project to create the North American Carbon Sequestration Atlas (NACSA) to
    estimate the potential for CO₂ storage in North America. Derived from this
    collaboration, the Geological CO₂ Storage Atlas of Mexico was also
    published, presenting the assessment of geological storage potential of CO₂
    at national level.
  </p>
{% endblock %}

{% block ccs_en_mexico__atlas__link %}
Mexico's CO₂ Geological Storage Atlas
{% endblock %}

{% block ccs_en_mexico__atlas__text_2 %}
  <p>
    In 2015, an interdisciplinary group led by SENER undertook the task to
    identify sites where it was feasible to capture CO₂ from power generation
    plants and its subsequent use in mature oil fields for EOR. Specialists from
    PEMEX, CFE and the National Institute for Nuclear Research (ININ)
    participated in this project.
  </p>

  <p>
    The databases have been integrated since 2015 and compiled in a geographic
    information system (GIS). The GIS platform makes it possible to find
    information about anthropogenic CO₂ sources, sites for CO₂ use and
    geological storage, and areas with potential for developing CCUS projects.
    The data is updated to 2018 and includes databases from the SENER, SEMARNAT,
    PEMEX, CFE, UNAM and the National Hydrocarbons Information Centre (CNIH).
  </p>
{% endblock %}

{% block ccs_en_mexico__final_invite %}Visit website{% endblock %}

{% block closing_text %}
In Mexico, various efforts have been made to promote CCS / CCUS technology
development and adoption. Academia, government and industry have participated in
them; however, greater involvement with society is still required as well as the
estimation of the impacts that this type of projects could have.
{% endblock %}

{% block closing_note %}
In MeCCS, you can consult, download and share information in this regard that
may be of interest.
{% endblock %}

{% block closing_link %}
<a href="/en/research.html">Find out more</a>
{% endblock %}
