{% set lang = 'en' %}

{% extends 'pagelayouts/ccs_y_sostenibilidad.html' %}

{% from 'macros/menus.html' import navbar, footer with context %}

{% block nav %}
  {{ navbar(lang, current='/en/ccs_and_sustainability.html') }}
{% endblock %}

{% block footer %}
  {{ footer(lang) }}
{% endblock %}

{% block title %}CCS and Sustainability{% endblock %}

{% block intro_text %}
  <p>
    In the coming decades, demand for energy and industrial products
    (fertilisers, cement, steel, among others) will continue to increase, and as
    consequence all the alternatives and models available are required to
    facilitate and promote sustainable development at the local, regional and
    global scales.
  </p>

  <h2>ABOUT THE TECHNOLOGY</h2>

  <p>
    CCS (Carbon Capture and Storage) is a technology for reducing anthropogenic
    emissions, that consist in the capture of carbon dioxide (CO₂) produced from
    burning fossil fuels during power generation or industrial processes such as
    cement plants, iron and steel plants, petrochemical complexes, etc. Once
    captured, CO₂ is transported by pipelines, trucks or ships to sites where it
    can be used as an industrial commodity or permanently stored in geological
    formations.
  </p>

  <p>
    Another acronym that refers to this technology is CCUS (Carbon Capture,
    Utilisation and Storage). The "U" refers to the use of CO₂ as an additional
    activity during the permanent storage process.
  </p>
{% endblock %}

{% block legend_text %}
Explora los distintos elementos que componen el sistema para conocer más acerca
de ellos.
{% endblock %}

{% block legend_antropogenic %}
CO₂ EMISSION SOURCES
{% endblock %}

{% block legend_transport %}
TRANSPORT
{% endblock %}

{% block legend_use %}
CO₂ UTILISATION and storage
{% endblock %}

{% block legend_society %}
Society
{% endblock %}

{% block legend_eco %}
Environment
{% endblock %}

{% block box_note %}
CCS is a key technology<br>
to moving towards<br>
low carbon models
{% endblock %}

{% block what_do_you_think_title %}What do you think about ...?{% endblock %}

{% block what_do_you_think_text_1 %}
  <p>
    Each individual, group of people or stakeholder has a unique and particular
    relationship with their environment. This relationship depends upon various
    factors, such as knowledge and experiences - individual or collective - of
    all those involved. Therefore, it is essential to know opinions and ideas
    about CCS projects to develop better implementation strategies and help to
    make informed and inclusive decisions.
  </p>
{% endblock %}

{% block what_do_you_think_text_2 %}
  <p>
    We asked several representatives of different stakeholders what they think
    about CCS and its relationship with sustainability, as well as the
    contributions, opportunities and challenges that the development of these
    projects implies.
  </p>

  <p>
    We invite you to watch the following videos and answer the same questions
    that we have asked these experts and representatives of society.
  </p>
{% endblock %}

{% block what_do_you_think_main_title %}
CCS and Sustainability
{% endblock %}

{% block ccs_and_the_ods_title %}CCS AND SUSTAINABLE DEVELOPMENT GOALS{% endblock %}

{% block ccs_and_the_ods_logo %}
  {% include 'svg/ods_en.svg' %}
{% endblock %}

{% block ccs_and_the_ods_intro %}
  <p>
    In September 2015, the 193 member countries of the United Nations adopted a
    series of global goals with the vision that, by 2030, poverty will be
    eradicated, the planet protected and prosperity guaranteed for all. Achieve
    this goal requires the coordinated action of government, society, industry
    and academia.
  </p>

  <p>
    Find out more about the Sustainable Development Goals
    <a
      href="https://www.un.org/sustainabledevelopment/es/objetivos-de-desarrollo-sostenible/"
      target="_blank">here</a>.
  </p>
{% endblock %}

{% block ccs_and_the_ods_subtitle %}
CCS technology interacts directly with 10 of the 17 SDGs.
{% endblock %}

{% block ccs_and_the_ods__environment %}
  <h3>ENVIRONMENT</h3>

  <div class="icons">
    <img src="/static/img/ods_13_en.png" />
    <img src="/static/img/ods_14_en.png" />
    <img src="/static/img/ods_15_en.png" />
  </div>
{% endblock %}

{% block ccs_and_the_ods__environment__text %}
  <p>
    CCS is a technology-focused on reducing significant emissions of CO₂ from
    the atmosphere. In this way, CCS contributes to the call to tackle the
    effects of climate change, avoid ocean acidification, and reduce the need
    for projects involving intensive land use, including renewable energies such
    as solar, wind, and hydroelectric parks.
  </p>
{% endblock %}

{% block ccs_and_the_ods__society %}
  <h3>Society</h3>

  <div class="icons">
    <img src="/static/img/ods_3_en.png" />
    <img src="/static/img/ods_6_en.png" />
    <img src="/static/img/ods_7_en.svg" />
    <img src="/static/img/ods_11_en.png" />
  </div>
{% endblock %}

{% block ccs_and_the_ods__society__text %}
  <p>
    Reduction of emissions to the atmosphere through CCS has benefits in
    people’s health and well-being. Likewise, infrastructure can be shared to
    improve access to clean water. One of the main contributions is to guarantee
    access to clean and affordable energy, which influences the development of
    more sustainable cities and communities, which require goods and services
    from the industry where CCS is applicable.
  </p>
{% endblock %}

{% block ccs_and_the_ods__economy %}
  <h3>ECONOMY</h3>

  <div class="icons">
    <img src="/static/img/ods_8_en.png" />
    <img src="/static/img/ods_9_en.png" />
    <img src="/static/img/ods_12_en.png" />
  </div>
{% endblock %}

{% block ccs_and_the_ods__economy__text %}
  <p>
    The effects of CCS are directly related to economic development, innovation,
    industry development and resilient infrastructure, and responsible
    consumption and production.
  </p>

  <p>
    The scope of CCS on issues associated with employment, industrial and
    economic growth may vary from region to region according to dependence on
    fossil fuels.
  </p>
{% endblock %}

{% block ccs_and_the_ods__disadvantages %}
  <p>
    There are some disadvantages, such as the emissions generated throughout the
    life cycle of the technology and the large amounts of energy that are
    required for CO₂ capture systems to operate. It is necessary to improve
    technology, streamline operations, and establish circular models that help
    mitigate these disadvantages.
  </p>

  <p style="text-align: center">
    Source: Carbon capture and storage and the sustainable development goals
    <a
      href="https://www.sciencedirect.com/science/article/pii/S1750583621000700"
      target="_blank">(Mikunda et al., 2021)</a>
  </p>
{% endblock %}

{% block ccs_and_the_ods__closing_text %}
  <p>
    CCS is one of the alternatives to reduce anthropogenic CO₂ emissions to
    achieve the decarbonisation goals by 2030 and 2050.
  </p>

  <p>
    At least 25 countries and the European Union are working on strategies to
    accelerate the development of CCS. Together, these countries represent 60%
    of the world's population and 80% of global anthropogenic CO₂ emissions.
  </p>
{% endblock %}

{% block ccs_and_the_ods__mexico_belongs %}
Mexico is one of these countries.
{% endblock %}

{% block ccs_and_the_ods__final_link %}
  <a href="/en/ccs_in_mexico.html">Find out more</a>
{% endblock %}

{% block svg_data %}
  <script type="application/json" id="svg-data">{{ svg[lang] | tojson }}</script>
{% endblock %}

{% block pollapp %}
  <poll-app lang="{{ lang }}"></poll-app>
{% endblock %}

{% block polldata %}
  <script type="application/json" id="ciclodelcarbono-poll-data">{{ polls[lang]["ciclodelcarbono"] | tojson }}</script>
  <script type="application/json" id="sostenibilidad-poll-data">{{ polls[lang]["sostenibilidad"] | tojson }}</script>
{% endblock %}

{% block answers %}
<template id="ciclodelcarbono-1-answer">
<p>According to the Intergovernmental Panel on Climate Change (IPCC), the atmosphere is composed of nitrogen (78.1%) and oxygen (20.9%). The remaining 1% corresponds to the so-called trace gases, including argon, helium and greenhouse gases (GHG).</p>
<p>GHGs are capable of absorbing and re-emitting radiation from the Sun or the Earth’s surface. Water vapour (H₂O), carbon dioxide (CO₂), nitrous oxide (N₂O), methane (CH₄), and ozone (O₃) are the main GHGs.</p>

  <figure>
    <img src="/static/img/cuestionarios/answers/en/carbon_01.svg" />
    <figcaption>Imagen de <a href="http://cienciauanl.uanl.mx/" target="_blank">cienciauanl.mx</a></figcaption>
  </figure>

<ul>
<li>Carbon Dioxide <a href="https://https://scied.ucar.edu/learning-zone/how-climate-works/carbon-dioxide" target="_blank" rel="noopener">(Center of Science Education, 2006)</a></li>
<li>Global CO₂ levels <a href="https://https://www.co2levels.org/" target="_blank" rel="noopener">(The 2 Degrees Institute, 2021)</a></li>
</ul>
</template>

<template id="ciclodelcarbono-2-answer">
<p>An 8-metre high-cube (27 feet) is the space necessary to contain one ton of CO₂ (under standard conditions: 0 ° C and 101 325 Pascals).</p>

  <figure>
    <img src="/static/img/cuestionarios/answers/en/carbon_02.svg" />
  </figure>

  <ul>
    <li>How much is a ton of carbon dioxide? (<a href="https://climate.mit.edu/ask-mit/how-much-ton-carbon-dioxide" target="_blank" rel="noopener">Massachusetts Institute of Technology, 2020</a>)</li>
    <li>¿Cuánto es una tonelada de CO₂? (<a href="https://www.miteco.gob.es/es/ceneam/recursos/mini-portales-tematicos/cuanto_es_1t_co2_tcm30-70715.pdf" target="_blank" rel="noopener">Ministerio para la Transición Ecológica y el Reto Demográfico, 2015</a>)</li>
  </ul>
</template>

<template id="ciclodelcarbono-3-answer">
<p>Although the biosphere appears vast, its contribution to the carbon cycle is small compared to other systems. Millions of years ago, plants, algae and plankton that inhabited the Earth captured large amounts of CO₂, at the time of death, and thanks to geological processes, these organisms were transformed into deposits of coal and oil that we extract today. Another critical element are soils, which are capable of storing large amounts of CO₂.</p>
<p>However, the most significant contribution to natural capture and storage of CO₂ occurs in the oceans through dissolved inorganic carbon that forms large deposits of marine carbonate rocks and that some marine animals use to form their shells.</p>
<p>According to the <a href="https://sos.noaa.gov/catalog/datasets/ocean-atmosphere-co2-exchange/" target="_blank" rel="noopener">National Oceanic</a>, colder regions (the North Atlantic and the Arctic) can absorb more CO₂ than warmer areas. This phenomenon occurs because the solubility of a gas in water increases as temperature decreases and vice versa.</p>

  <figure>
    <img src="/static/img/cuestionarios/answers/en/carbon_03a.svg" />
    <figcaption>Almacenamiento natural de carbono en gigatoneladas (<a href="https://www.fs.usda.gov/ccrc/topics/global-carbon">USDA Forest Service, 2021</a>)</figcaption>
  </figure>

  <figure>
    <img src="/static/img/cuestionarios/answers/en/carbon_03b.svg" />
  </figure>

  <ul>
    <li>Carbon cycling &amp; sequestration  (<a href="https://serc.si.edu/research/research-topics/ecosystems-ecology/carbon-cycling-sequestration" target="_blank" rel="noopener">SERC,2021</a>)</li>
    <li>Carbon sinks and sequestration  (<a href="https://unece.org/forests/carbon-sinks-and-sequestration" target="_blank" rel="noopener">UNECE, 2021</a>)</li>
    <li>The ocean carbon cycle (<a href="https://www.iaea.org/topics/oceans-and-climate-change/the-ocean-carbon-cycle" target="_blank" rel="noopener">IAEEA, 2021</a>)</li>
    <li>The carbon cycle (<a href="https://earthobservatory.nasa.gov/features/CarbonCycle" target="_blank" rel="noopener">NASA, 2011</a>)</li>
    <li>Why does cold water take in more CO₂ than warmer water and hold it better? (<a href="https://www.quora.com/Why-does-cold-water-take-in-more-CO2-than-warmer-water-and-hold-it-better" target="_blank" rel="noopener">Quora,2021</a>)</li>
  </ul>
  <p>Imagen modificada de <a href="https://extraordinaryfacility.com/co2/" target="_blank" rel="noopener"> extraordinaryfacility.com</a></p>
</template>

<template id="ciclodelcarbono-4-answer">
<p>According to Nature Climate Change, the world’s forests absorbed roughly twice as much CO₂ as they emitted between 2001 and 2019, and it is equivalent to an average of 7.6 billion metric tons of CO₂ per year.</p>
<p>A mature tree can absorb 21 kg of CO₂ per year.</p>
<p>Graph: Forests situation in the world (<a href="http://www.fao.org/3/y0900s/y0900s06.htm" target="_blank" rel="noopener">FAO,2021</a>)</p>

  <figure>
    <img src="/static/img/cuestionarios/answers/en/carbon_04.svg" />
    <figcaption>Imagen: ¿Cuánto carbono absorbe cada árbol? (<a href="https://airelibre.cl/cuanto-carbono-absorbe-arbol/" target="_blank" rel="noopener">Aire Libre Educación Ambiental</a>)</figcaption>
  </figure>

  <ul>
    <li>Global maps of twenty-first century forest carbon fluxes (<a href="https://www.nature.com/articles/s41558-020-00976-6" target="_blank" rel="noopener">Natural Climate Change,2021</a>)</li>
    <li>Ocean-Atmosphere CO₂ Exchange (<a href="https://sos.noaa.gov/datasets/ocean-atmosphere-co2-exchange/" target="_blank" rel="noopener">NOAA,2021</a>)</li>
    <li>All about tree (<a href="http://www.tenmilliontrees.org/trees/" target="_blank" rel="noopener">Keystone 10 millon tree, 2018</a>)</li>
  </ul>
</template>

<template id="ciclodelcarbono-5-answer">
  <figure style="float: left; width: 40%;">
    <img src="/static/img/cuestionarios/answers/en/carbon_05a.svg" />
  </figure>
<p>Soils are made up of <a href="https://www.nature.com/scitable/knowledge/library/what-are-soils-67647639/" target="_blank" rel="noopener">5 components</a>: minerals, organic matter, organisms, gas, and water.</p>
<p>The total carbon in terrestrial ecosystems is approximately 3,179 Gt, of which <a href="https://www.nature.com/scitable/knowledge/library/soil-carbon-storage-84223790/#:~:text=Soil%20carbon%20sequestration%20is%20a,in%20the%20soil%20carbon%20pool.&amp;text=This%20is%20the%20combined%20result,(Lemus%20%26%20Lal%202005)." target="_blank" rel="noopener">80% (2,500 Gt)</a> is found in soils.</p>
<p>According to the <a href="https://www.fao.org/soils-portal/soil-degradation-restoration/en/" target="_blank" rel="noopener">Food and Agriculture Organization (FAO)</a>, degradation is the change in soil health reflected in the decrease in its ability to provide environmental goods and services, including carbon storage. It can occur due to natural or anthropogenic causes.</p>
<p><a href="http://www.conabio.gob.mx/informacion/metadata/gis/degra250kgw.xml?_xsl=/db/metadata/xsl/fgdc_html.xsl&amp;_indent=no" target="_blank" rel="noopener">Mexico</a>: The last evaluation of anthropogenic degradation at national level, in 2003, showed that 45% of the territory was in process of degradation due to chemical degradation (18%), water erosion (12%), wind erosion (9%) and physical degradation (6%).</p>
<p>Graph: <em>Degradación del suelo en la República Mexicana</em> (<a href="http://www.conabio.gob.mx/informacion/metadata/gis/degra250kgw.xml?_xsl=/db/metadata/xsl/fgdc_html.xsl&amp;_indent=no" target="_blank" rel="noopener">CONABIO, 2012</a>)</p>

  <figure>
    <img src="/static/img/cuestionarios/answers/en/carbon_05b.svg" />
    <figcaption>Gráfica: Degradación del suelo en la República Mexicana (<a href="http://www.conabio.gob.mx/informacion/metadata/gis/degra250kgw.xml?_xsl=/db/metadata/xsl/fgdc_html.xsl&amp;_indent=no" target="_blank" rel="noopener">CONABIO, 2012</a>)</figcaption>
  </figure>

  <ul>
    <li>What are soils? (<a href="https://www.nature.com/scitable/knowledge/library/what-are-soils-67647639/" target="_blank" rel="noopener">Nature Education, 2013</a>)</li>
    <li>Soil Carbon Storage (<a href="https://www.nature.com/scitable/knowledge/library/soil-carbon-storage-84223790/#:~:text=Soil%20carbon%20sequestration%20is%20a,in%20the%20soil%20carbon%20pool.&amp;text=This%20is%20the%20combined%20result,(Lemus%20%26%20Lal%202005)." target="_blank" rel="noopener">Nature Education,2012</a>)</li>
    <li>Soil carbon sequestration is an elusive climate mitigation tool (<a href="https://www.pnas.org/content/115/46/11652" target="_blank" rel="noopener">PNAS, 2018</a>)</li>
    <li>Degradación del suelo en la República Mexicana (<a href="http://www.conabio.gob.mx/informacion/metadata/gis/degra250kgw.xml?_xsl=/db/metadata/xsl/fgdc_html.xsl&amp;_indent=no" target="_blank" rel="noopener">CONABIO,2012</a>)</li>
  </ul>
</template>

<template id="ciclodelcarbono-6-answer">
<p>The <a href="https://www.nationalgeographic.com/science/article/carboniferous#:~:text=The%20Carboniferous%20period%2C%20part%20of,located%20regions%20during%20the%20Carboniferous." target="_blank" rel="noopener">Carboniferous period</a>, which occurred during the Paleozoic Era, takes its name from the large deposits of coal whose exploitation began during the Industrial Revolution and continues to this day.</p>
<p>Coal is a hydrocarbon formed from plant matter (plants and trees) that existed approximately 300 Mya. Most of these deposits are currently found in parts of Europe, North America, and Asia that corresponded to the planet’s tropical regions in that period.</p>
<p>At that time, the large amount of vegetation had favoured the absorption of
large amounts of atmospheric CO₂. As a matter of fact, <a
href="https://www.pnas.org/content/114/43/11333" target="_blank"
rel="noopener">CO₂ levels dropped so much</a> that the greenhouse effect decreased and almost pushed the planet into the ice age period.</p>

  <figure>
    <img src="/static/img/cuestionarios/answers/en/carbon_06.svg" />
    <figcaption></figcaption>
  </figure>

  <ul>
    <li>Carboniferous Period (<a href="https://www.nationalgeographic.com/science/article/carboniferous#:~:text=The%20Carboniferous%20period%2C%20part%20of,located%20regions%20during%20the%20Carboniferous." target="_blank" rel="noopener">2015-2021 National Geographic</a>)</li>
    <li>Formation of most of our coal brought Earth close to global glaciation (<a href="https://www.pnas.org/content/114/43/11333" target="_blank" rel="noopener">PNAS, 2017</a>)</li>
    <li>The Carboniferous Period: Plants cover the Earth, Fossils, Facts and Finds (<a href="https://www.fossils-facts-and-finds.com/carboniferous_period.html" target="_blank" rel="noopener">2005-2019</a>)</li>
  </ul>
</template>

<template id="ciclodelcarbono-7-answer">
<p>500 Ma ago, with the beginning of the Ordovician period, CO₂ levels in the atmosphere were <a href="https://skepticalscience.com/CO2-levels-during-the-late-Ordovician.html" target="_blank" rel="noopener">5,600 parts per million (ppm)</a>, 13 times higher than current levels (<a href="https://www.co2.earth/daily-co2" target="_blank" rel="noopener">416 ppm</a>). Although the greenhouse effect in the Ordovician was potent due to these concentrations of CO₂, the planet’s temperature was not that high since, at that time, the sun’s radiation was much lower (<a href="https://www.science.org/doi/10.1126/science.276.5316.1217" target="_blank" rel="noopener">the paradox of the young and faint sun</a>).</p>
<p>Long-term carbon cycles are controlled by weathering (a process by which a rock is degraded), volcanism (volcanic activity on the continent or seabed) and the burial of organic matter (a process in which plant and animal remains are covered by various layers of earth and rock stopping their decomposition). The study of <a href="https://earth.org/data_visualization/a-brief-history-of-co2/" target="_blank" rel="noopener">ice cores</a> or <a href="https://www.pnas.org/content/99/7/4167" target="_blank" rel="noopener">isotopes of minerals and fluids</a> in rocks allows us to know what the geochemical conditions of the planet used to be millions of years ago.</p>

  <figure>
    <img src="/static/img/cuestionarios/answers/en/carbon_07.svg" />
    <figcaption></figcaption>
  </figure>

  <ul>
    <li>CO₂ levels during the late Ordovician (<a href="https://skepticalscience.com/CO2-levels-during-the-late-Ordovician.html" target="_blank" rel="noopener">Skeptical Science,2010</a>)</li>
    <li>Atmospheric carbon dioxide levels for the last 500 million years (<a href="https://www.pnas.org/content/99/7/4167" target="_blank" rel="noopener">PNAS, 2002</a>)</li>
    <li>A 4.5 billion-year history of CO₂ in our atmosphere (<a href="https://earth.org/data_visualization/a-brief-history-of-co2/" target="_blank" rel="noopener">earth.org, 2020</a>)</li>
    <li>The Early Daint Sun Paradox (<a href="https://science.sciencemag.org/content/276/5316/1217" target="_blank" rel="noopener">Science, 1997</a>)</li>
  </ul>
</template>

<template id="ciclodelcarbono-8-answer">
<p>The carbon budget refers to the maximum amount of GHG emissions emitted in a certain timelapse to limit the increase in global temperature at a particular range.</p>
<p>According to the <a href="https://www.ipcc.ch/" target="_blank"
  rel="noopener">International Panel of Experts on Climate Change</a>, the
emissions remaining in carbon budget are 420 gigatons (Gt) of CO₂. If there is no control on global emissions, at the current rate, carbon budget is expected to be exhausted in less than 7 years from 2020.</p>
<p>Annual CO₂ emissions from fossil fuel burning, industrial processes, and land-use change are estimated to be equivalent to 42 Gt per year (1,332 tonnes per second).</p>

  <figure>
    <img src="/static/img/cuestionarios/answers/en/carbon_08.svg" />
    <figcaption>Imagen <a href="https://www.globalcarbonproject.org/#:~:text=The%20Global%20Carbon%20Project%20%28GCP%29%20integrates%20knowledge%20of,efforts%20in%20urban%2C%20regional%2C%20cumulative%2C%20and%20negative%20emissions." target="_blank" rel="noopener">Global Carbon Project</a></figcaption>
  </figure>

  <ul>
    <li>That’s how fast the carbon clock is ticking (<a href="https://www.mcc-berlin.net/en/research/co2-budget.html" target="_blank" rel="noopener">IPCC, 2020</a>)</li>
    <li>Carbon Brief (<a href="https://www.carbonbrief.org/analysis-how-much-carbon-budget-is-left-to-limit-global-warming-to-1-5c" target="_blank" rel="noopener">Carbon Budgets, 2018</a>)</li>
  </ul>
</template>

<template id="ciclodelcarbono-9-answer">
<p>In 2016, the world emitted around <a href="https://ourworldindata.org/co2-and-other-greenhouse-gas-emissions" target="_blank" rel="noopener">50 billion tons of CO₂ eq.</a> (equivalent) In the big picture, almost three-quarters of the emissions resulted from burning fossil fuels to generate power, nearly a fifth from agriculture and land use and the remaining 8% from industry and waste.</p>

  <figure>
    <img src="/static/img/cuestionarios/answers/en/carbon_09a.svg" />
    <figcaption></figcaption>
  </figure>

<p><strong>Mexico</strong>: In 2015, <a href="https://www.gob.mx/inecc/acciones-y-programas/inventario-nacional-de-emisiones-de-gases-y-compuestos-de-efecto-invernadero" target="_blank" rel="noopener">683 million tons of CO₂ eq</a> were emitted. The energy sector emitted 70.4%; agriculture, 14.9%; industry, 7.9%; and waste, 6.7%. In addition, the most emitted gas was carbon dioxide (CO₂) with 71% of emissions, followed by methane (CH₄) with 21%.</p>

  <figure>
    <img src="/static/img/cuestionarios/answers/en/carbon_09b.svg" />
    <figcaption>Graph: Global GHG emissions per sector (<a href="https://ourworldindata.org/emissions-by-sector" target="_blank" rel="noopener">Our World In Data, 2020</a>)</figcaption>
  </figure>

  <ul>
    <li>CO₂ and Greenhouse Gas Emissions (<a href="https://ourworldindata.org/co2-and-other-greenhouse-gas-emissions" target="_blank" rel="noopener">Our World In Data, 2020</a><br>
      Inventario Nacional de Emisiones de Gases y Compuestos de Efecto Invernadero (<a href="https://www.gob.mx/inecc/acciones-y-programas/inventario-nacional-de-emisiones-de-gases-y-compuestos-de-efecto-invernadero" target="_blank" rel="noopener">INECC, 2018</a>)</li>
  </ul>
</template>

<template id="ciclodelcarbono-10-answer">
<p>The <a href="https://www.fao.org/gleam/results/es/" target="_blank" rel="noopener">Food and Agriculture Organization</a> of the United Nations estimates that livestock production chains globally emitted a total of 8.1 gigatons of CO₂ eq. in 2010. Cow meat and milk emitted 4.6 gigatons of CO₂ eq, pork 0.82 gigatons of CO₂ eq. and chicken meat and eggs 0.79 gigatons of CO₂ eq.</p>
<p>Regional emissions and production profiles vary widely around the world. The region that generated the most CO₂ emissions in livestock industry was Latin America and the Caribbean, driven by beef production.</p>

  <figure>
    <img src="/static/img/cuestionarios/answers/en/carbon_10.svg" />
    <figcaption></figcaption>
  </figure>

  <ul>
    <li>Modelo de Evaluación Ambiental de la Ganadería Mundial (<a href="http://www.fao.org/gleam/results/es/" target="_blank" rel="noopener">FAO, 2018</a>)</li>
    <li>Food: greenhouse gas emissions across the supply chain (<a href="https://ourworldindata.org/grapher/food-emissions-supply-chain?country=Beef+%28beef+herd%29~Cheese~Poultry+Meat~Milk~Eggs~Rice~Pig+Meat~Peas~Bananas~Wheat+%26+Rye~Fish+%28farmed%29~Lamb+%26+Mutton~Beef+%28dairy+herd%29~Shrimps+%28farmed%29~Tofu~Maize" target="_blank" rel="noopener">Our World In Data, 2020</a>)</li>
    <li>Compendio estadístico de la industria cárnica en México (<a href="https://comecarne.org/wp-content/uploads/2021/05/Compendio_Estad%C3%ADstico_2021_VF.pdf" target="_blank" rel="noopener">Consejo Mexicano de la Carne, 2021</a>)</li>
  </ul>
</template>

<template id="ciclodelcarbono-11-answer">
<p>According to the <a href="https://www.redalyc.org/pdf/849/84917249025.pdf" target="_blank" rel="noopener">University of Pereira</a>, 1 litre of gasoline is equivalent to emitting 2.28 kilograms of CO₂. Therefore, to emit one ton of CO₂, it will be necessary to consume 450 litres of gasoline.</p>

  <figure>
    <img src="/static/img/cuestionarios/answers/en/carbon_11.svg" />
    <figcaption>Image modified from <a href="https://extraordinaryfacility.com/co2/" target="_blank" rel="noopener">extraordinaryfacility.com</a></figcaption>
  </figure>

  <ul>
    <li>Life Cycle Phases (<a href="https://www.ifu.com/en/life-cycle-assessment/#:~:text=A%20Life%20Cycle%20Assessment%20%28LCA%20or%20Life%20Cycle,this%20context%2C%20the%20term%20%27product%27%20also%20includes%20services." target="_blank" rel="noopener">Ifu Hamburg, 2021</a>)</li>
  </ul>
</template>

<template id="ciclodelcarbono-12-answer">
<p>CCS is a technology by which anthropogenic CO₂ is captured from industrial sources or directly from the air and later used as a raw material or for permanent storage in geological formations.</p>
<p>According to the International Energy Agency models, it is estimated that CCS
technology could help <a
href="https://www.iea.org/fuels-and-technologies/carbon-capture-utilisation-and-storage"
target="_blank" rel="noopener">reduce up to 14% of global anthropogenic
emissions by 2050</a> (approximately <a
href="https://www.iea.org/reports/energy-technology-perspectives-2020/technology-needs-for-net-zero-emissions"
target="_blank" rel="noopener">4 Gton of CO₂ per year</a>). CCS is also considered <a href="https://www.iea.org/reports/transforming-industry-through-ccus" target="_blank" rel="noopener">a crucial technology for the sustainable and competitive development</a> of industry along with energy efficiency, electrification and renewable energies.</p>

  <figure>
    <img src="/static/img/cuestionarios/answers/en/carbon_12.svg" />
    <figcaption>Graph:Energy Technolgy Perspectives, 2020 (<a href="https://www.iea.org/reports/energy-technology-perspectives-2020" target="_blank" rel="noopener">IEA,2020</a>)</figcaption>
  </figure>

<p><strong>Mexico</strong>: The country has great potential for implementing this technology thanks to the geological conditions and distribution of industry. In 2014, the first version of the <a href="https://www.gob.mx/sener/documentos/technology-roadmap-ccus" target="_blank" rel="noopener">CCUS Technological Road Map</a> in Mexico was published (updated in 2018). Various <a href="https://www.gob.mx/sener/en/documentos/advances-in-the-implementation-of-carbon-capture-use-and-storage-in-mexico" target="_blank" rel="noopener">activities and programmes</a> have been carried out aimed at its implementation at the national level.</p>

  <ul>
    <li>Global Status of CCS 2020, (<a href="https://www.globalccsinstitute.com/wp-content/uploads/2021/03/Global-Status-of-CCS-Report-English.pdf" target="_blank" rel="noopener">GCCSI, 2021</a>)</li>
    <li>Special report: global warming of 1.5ºC, (<a href="https://www.pnas.org/content/99/7/4167" target="_blank" rel="noopener">IPCC, 2018</a>)</li>
    <li>Carbon Capture and Storage Fact Sheet, (<a href="https://unece.org/fileadmin/DAM/energy/se/pdfs/CCS/ECE.CCS.FactSheet.Policymakers.pdf" target="_blank" rel="noopener">UNECE, 2014</a>)</li>
    <li>Technology needs for net-zero emissions, (<a href="https://www.iea.org/reports/energy-technology-perspectives-2020/technology-needs-for-net-zero-emissions" target="_blank" rel="noopener">IEA, 2020</a>)</li>
  </ul>
</template>

<template id="ciclodelcarbono-13-answer">
<p>There are several ways to use CO₂. However, not all uses of CO₂ have environmental benefits.</p>
<p>Some of the CO₂ uses are:<br>
• Synthetic fuel production<br>
• Microalgae growth for biomass production<br>
• Manufacture of cement and aggregates<br>
• Enhanced oil recovery (EOR-enhanced oil recovery)<br>
• Soil enrichment</p>
<p>Today, most of the CO₂ is used for EOR. For the <a href="https://www.iea.org/reports/world-energy-model/sustainable-development-scenario" target="_blank" rel="noopener">2020-2070 Sustainable Development Scenario</a>, it is estimated that more than 90% of the captured CO₂ will be stored, of which 80% will be from fossil fuel sources and industrial processes and 20% from generation of bioenergy and direct capture from the air (DAC).</p>

  <figure>
    <img src="/static/img/cuestionarios/answers/en/carbon_13.svg" />
    <figcaption>Graph: Energy Technology Perspectives 2020: Special Report on Carbon Capture Utilisation and Storage_CCUS in clean energy transitions (<a href="https://www.oecd-ilibrary.org/energy/energy-technology-perspectives-2020-special-report-on-carbon-capture-utilisation-and-storage_208b66f4-en" target="_blank" rel="noopener">IEA, 2020</a>)</figcaption>
  </figure>

<p><strong>Mexico</strong>: the primary use of anthropogenic CO₂ is in EOR. However, other projects in cement industry, soil enrichment and biomass growth, are already investigated or are in pilot tests.</p>

  <ul>
    <li>Energy Technology Perspectives 2020: Special Report on Carbon Capture Utilisation and Storage_CCUS in clean energy transitions (<a href="https://www.oecd-ilibrary.org/energy/energy-technology-perspectives-2020-special-report-on-carbon-capture-utilisation-and-storage_208b66f4-en" target="_blank" rel="noopener">IEA, 2020</a>)</li>
    <li>Combining CO₂-EOR with permanent storage in Mexico (<a href="https://www.gob.mx/cms/uploads/attachment/file/107317/CO2EOR-CCS_Final_Report.pdf" target="_blank" rel="noopener">WB,2016</a>)</li>
    <li>CEMEX desarrollará tecnología de captura de carbono en EU (<a href="http://realestatemarket.com.mx/noticias/infraestructura-y-construccion/31974-cemex-desarrollara-tecnologia-de-captura-de-carbono-en-eu" target="_blank" rel="noopener">RealEstate, 2021</a>)</li>
  </ul>
</template>

<template id="sostenibilidad-1-answer">
<p>Glaciers cover 10% of the total land area globally, and another 19% is sterile land: deserts, dry salt flats, beaches, dunes and exposed rocks, the remaining 71% is what we call “habitable land”. Forests represent about a quarter (27%) of the total land area and just over a third (38%) of the habitable land area. In contrast, half of the world’s habitable land is used for agriculture.</p>

<p>According to the <a href="https://www.fao.org/sdg-progress-report/es/#sdg-15" target="_blank" rel="noopener">Food and Agriculture Organization</a> of the United Nations, the percentage of the world’s forest area has gradually decreased over the past two decades. Losses of forest area reach almost 100 million hectares.<br>
Earth surface</p>
<p><strong>Note:</strong> Agriculture, farms, cities, grasslands and wild shrubs are part of the so-called habitable land.</p>

  <figure>
    <img src="/static/img/cuestionarios/answers/en/sostenibilidad_01.svg" />
    <figcaption></figcaption>
  </figure>

  <ul>
    <li>Forests and Deforestation (<a href="https://ourworldindata.org/forests-and-deforestation" target="_blank" rel="noopener">Our World In Data, 2021</a>)</li>
    <li>Forest (<a href="https://sdgs.un.org/topics/forests" target="_blank" rel="noopener">ONU, 2020</a>)</li>
    <li>Dynamics of global forest area: Results from the FAO Global Forest Resources Assessment 2015 (<a href="https://sdgs.un.org/topics/forests" target="_blank" rel="noopener">Keenan and Rodney,2015</a>)</li>
  </ul>
</template>

<template id="sostenibilidad-2-answer">
<p>According to the <a href="https://www.usgs.gov/special-topic/water-science-school/science/how-much-water-there-earth?qt-science_center_objects=0#qt-science_center_objects" target="_blank" rel="noopener">United States Geological Survey</a>, saltwater comprises approximately 97.5% of all water on Earth. 1.8% is unavailable freshwater: it is located in the air as water vapour, soil as moisture, and polar caps and glaciers. Finally, 0.8% represents freshwater for human consumption and ecosystems, which is found in rivers, lakes, swamps and underground waters.</p>

  <figure>
    <img src="/static/img/cuestionarios/answers/en/sostenibilidad_02a.svg" />
    <figcaption>Graph: Worldwide water distribution (<a href="https://www.usgs.gov/special-topic/water-science-school/science/how-much-water-there-earth?qt-science_center_objects=0#qt-science_center_objects" target="_blank" rel="noopener">USGS,2019</a>)</figcaption>
  </figure>

<p><a href="http://cuentame.inegi.org.mx/territorio/agua/dispon.aspx?tema=T" target="_blank" rel="noopener"><strong>Mexico</strong></a>: In 2019, the country’s southern region had more than half of the water (67.2%). In contrast, the Central and Northern regions obtained only 18.7% and 14.1%, respectively.</p>

  <figure>
    <img src="/static/img/cuestionarios/answers/en/sostenibilidad_02b.svg" />
    <figcaption>Map: Availability of water in Mexico (<a href="http://cuentame.inegi.org.mx/territorio/agua/dispon.aspx?tema=T" target="_blank" rel="noopener">INEGI,2019</a>)</figcaption>
  </figure>

  <ul>
    <li>The Water Cycle (<a href="https://earthobservatory.nasa.gov/features/Water/page1.php" target="_blank" rel="noopener">Graham,Parkinson, and Chahine, 2010</a>)</li>
    <li>The distribution of water on, in, and above the Earth (<a href="https://www.usgs.gov/media/images/distribution-water-and-above-earth" target="_blank" rel="noopener">USGS, 2019</a>)</li>
    <li>Agua (<a href="http://cuentame.inegi.org.mx/territorio/agua/default.aspx?tema=T" target="_blank" rel="noopener">INEGI, 2019</a>)</li>
  </ul>
</template>

<template id="sostenibilidad-3-answer">
<p>The <a href="https://unfccc.int/process-and-meetings/the-paris-agreement/the-paris-agreement" target="_blank" rel="noopener">Paris Agreement</a> is an international treaty on climate change, and it was adopted by 196 UN member nations in December 2015 and entered into force in November 2016. Compared to pre-industrial levels, its goal is to limit global warming below 2ºC (preferably 1.5ºC).</p>
<p>Each signatory country presented a list of Nationally Determined Contributions (NDCs) that establish strategies to address climate change. Every 5 years, the countries report their progress and results.</p>
<p><strong>Mexico</strong>: Its <a href="https://www4.unfccc.int/sites/ndcstaging/PublishedDocuments/Mexico%20First/NDC-Eng-Dec30.pdf" target="_blank" rel="noopener">2020 NDCs update report</a> establishes a commitment to reduce GHG emissions by 22% by 2030 compared to the 2000 baseline. These contributions are considered “unconditional” compared to the “conditional” where the country would commit to reduce 36% of GHG and 70% of black carbon if other countries support its strategy through technology transfer and project financing.<br>
According to the <a href="https://climateactiontracker.org/countries/mexico/" target="_blank" rel="noopener">Climate Action Tracker</a> the actions and ambitions in Mexico to comply with its NDCs are insufficient, pointing to a route where the increase in global temperature would be 3ºC.</p>

  <figure>
    <img src="/static/img/cuestionarios/answers/en/sostenibilidad_03.svg" />
    <figcaption>Image from <a href="https://climateactiontracker.org/countries/mexico/" target="_blank" rel="noopener">https://climateactiontracker.org/countries/mexico/</a></figcaption>
  </figure>

  <ul>
    <li>The Paris Agreement (<a href="https://unfccc.int/process-and-meetings/the-paris-agreement/the-paris-agreement" target="_blank" rel="noopener">UNFCCC, 2020</a>)</li>
    <li>Nationally Determined Contributions 2020 update (<a href="https://www4.unfccc.int/sites/ndcstaging/PublishedDocuments/Mexico%20First/NDC-Eng-Dec30.pdf" target="_blank" rel="noopener">SEMARNAT, 2020</a>)</li>
  </ul>
</template>

<template id="sostenibilidad-4-answer">
<p>Global emissions <a href="https://www.iea.org/articles/global-energy-review-co2-emissions-in-2020" target="_blank" rel="noopener">in December 2020 were 2% higher</a> than in the same month of the previous year. Due to the Covid-19 pandemic, in 2020, energy demand decreased by 4%, while GHG emissions related to this sector fell by 5.8%, the most significant decline since the second world war. The low demand for fossil fuels and use of means of transport made an essential contribution to reducing emissions.<br>
It is estimated that GHG emissions will increase by <a href="https://www.iea.org/reports/global-energy-review-2021" target="_blank" rel="noopener">almost 5% in 2021, mainly due to the demand for fossil fuels</a> (primarily coal) and the acceleration of economic recovery. This rebound effect is underpinned by the large emitters: China, India and the United States.</p>

  <figure>
    <img src="/static/img/cuestionarios/answers/en/sostenibilidad_04.svg" />
    <figcaption>Graph: Monthly evolution of CO₂ emission in 2020 in relation with 2019 (<a href="https://www.iea.org/articles/global-energy-review-co2-emissions-in-2020" target="_blank" rel="noopener">IEA,2020</a>)</figcaption>
  </figure>

<p><strong>Mexico</strong>: The country’s recovery plan lacks climate change criteria, and, on the contrary, budget for public environmental policies and programmes is reduced. Priority has been given to electricity generation with fossil fuels, implying an increase in emissions related to the energy sector.</p>

  <ul>
    <li>Global Energy Review: CO₂ emissions in 2020  (<a href="https://www.iea.org/articles/global-energy-review-co2-emissions-in-2020" target="_blank" rel="noopener">IEA,2021</a>)</li>
    <li>Global carbon dioxide emissions are set for their second-biggest increase in history (<a href="https://www.iea.org/news/global-carbon-dioxide-emissions-are-set-for-their-second-biggest-increase-in-history" target="_blank" rel="noopener">IEA,2021</a>)</li>
    <li>Reporte sobre transparencia climática. Comparación de la acción climática del G20 y las respuestas a la crisis Covid-19 (<a href="http://www.iniciativaclimatica.org/wp-content/uploads/2021/01/Mexico-CT-2020-WEB2-2-TRAD4.pdf" target="_blank" rel="noopener">ICM, 2020</a>)</li>
  </ul>
</template>

<template id="sostenibilidad-5-answer">
<p>The number of people living in extreme poverty decreased by more than half between 1990 and 2015, but still too many struggle to meet their most basic needs. The World Bank estimates that <a href="https://www.worldbank.org/en/topic/measuringpoverty" target="_blank" rel="noopener">around 9.2%, 689 million people, still live on less than 1.90 UDS a day</a>. It means that, comparatively, approximately 1 in 10 people live on less than 38 Mexican pesos.</p>

<p><strong>Note</strong>: As a result of the pandemic, it is estimated that 150 million people are expected to live in poverty by the end of 2021.</p>

  <figure>
    <img src="/static/img/cuestionarios/answers/en/sostenibilidad_05a.png" />
    <figcaption>Map: Portion of the population living in extreme proverty (<a href="https://ourworldindata.org/extreme-poverty#citation" target="_blank" rel="noopener">OurWorldInData, 2017</a>).</figcaption>
  </figure>

  <figure>
    <img src="/static/img/cuestionarios/answers/en/sostenibilidad_05b.png" />
    <figcaption>Map: Extreme poverty in Mexico by state 2018 (<a href="https://www.coneval.org.mx/Medicion/MP/Documents/Pobreza_18/Pobreza_2018_CONEVAL.pdf" target="_blank" rel="noopener">CONEVAL,2019</a>).</figcaption>
  </figure>

<p><a href="https://www.coneval.org.mx/Medicion/Paginas/PobrezaInicio.aspx" target="_blank" rel="noopener"><strong>Mexico</strong></a>: In 2018, 7.4% (9.3 million people) were in conditions of extreme poverty. The groups most affected were the indigenous population and the population with some disability.</p>

  <ul>
    <li>Global Extreme Poverty (<a href="https://ourworldindata.org/extreme-poverty" target="_blank" rel="noopener">OurWorldInData, 2013</a>)</li>
    <li>SDG 1: No poverty (<a href="https://www.undp.org/sustainable-development-goals#no-poverty" target="_blank" rel="noopener">PNUD, 2015</a>)</li>
    <li>Pobreza en México (<a href="https://www.coneval.org.mx/Medicion/Paginas/PobrezaInicio.aspx" target="_blank" rel="noopener">Consejo Nacional de Evaluación de la Política de Desarrollo Social, 2019</a>)</li>
  </ul>
</template>

<template id="sostenibilidad-6-answer">
<p>Mexico is the country that consumes the most bottled water.</p>

<p>Globally, it is estimated that by 2050, at least 1 in 4 people will live in a country affected by a chronic or recurring shortage of drinking water. <a href="https://www.bbc.com/mundo/noticias/2015/07/150722_mexico_consumo_agua_embotellada_jp" target="_blank" rel="noopener">Factors influencing bottled water consumption</a> include the unreliability of water systems, easy access to bottled water, and industry’s lack of regulation.</p>

<p>Less than 50% of the bottles are collected for recycling, and only 7% are made into new bottles.</p>

<p><strong>Mexico</strong>: According to the National Water Commission, in 2013, drinking water coverage nationwide was 92.3%. However, there is scepticism among the population about its quality. And, according to the Inter-American Development Bank (2011), 81% of Mexicans drink bottled water, which means that between 5 - 10% of people’s annual income is destined to this product.</p>

<p>The regulated extraction of water by the soft drink and bottling industries has led to solid social conflicts and struggles in water defence.</p>

  <figure>
    <img src="/static/img/cuestionarios/answers/en/sostenibilidad_06.svg" />
    <figcaption>Image from <a href="http://iagua.es" target="_blank" rel="noopener">iagua.es</a></figcaption>
  </figure>

  <ul>
    <li>Cómo el agua embotellada daña nuestro medio ambiente (<a href="https://www.iagua.es/blogs/maike-radermacher/como-agua-embotellada-dana-nuestro-medio-ambiente" target="_blank" rel="noopener">iagua,2018</a>)</li>
    <li>Por qué México es el país que más agua embotellada consume en el mundo (<a href="https://www.bbc.com/mundo/noticias/2015/07/150722_mexico_consumo_agua_embotellada_jp" target="_blank" rel="noopener">BBC Mundo,2015</a>)</li>
    <li>¿Cómo cuidar el agua y evitar el “día cero”? (<a href="https://www.portalambiental.com.mx/sabias-que/20210324/como-cuidar-el-agua-y-evitar-el-dia-cero" target="_blank" rel="noopener">Portal Ambiental,2021</a>)</li>
  </ul>
</template>

<template id="sostenibilidad-7-answer">
<p>The <a href="https://ourworldindata.org/energy-access" target="_blank" rel="noopener">International Energy Agency defines access to electricity</a> as the availability of a minimum level of electricity of 250 kWh per year in rural homes and 500 kWh per year in urban dwellings. Other definitions include the availability of safe ways of cooking.</p>

<p>In 2016, 13% of the world’s population did not have access to electricity. Although the trend is for more people to have access to it, for some countries, it will continue to be a challenge for decades to come.</p>

  <figure>
    <img src="/static/img/cuestionarios/answers/en/sostenibilidad_07.png" />
    <figcaption>Map: Acces to electricity 2016 (<a href="https://ourworldindata.org/energy-access" target="_blank" rel="noopener">OurWorldInData, 2016</a>)</figcaption>
  </figure>

<p><strong><a href="https://www.gob.mx/agenda2030/articulos/7-energia-asequible-y-no-contaminante" target="_blank" rel="noopener">Mexico</a></strong>: 99 out of 100 homes have access to electricity, and 1 out of 10 homes still cook with firewood and charcoal (13%).</p>

  <ul>
    <li>Access to energy (<a href="https://ourworldindata.org/energy-access" target="_blank" rel="noopener">OurWorldInData,2019</a>)</li>
    <li>Desarrollo Sostenible(<a href="https://www.gob.mx/agenda2030/articulos/7-energia-asequible-y-no-contaminante" target="_blank" rel="noopener">Gobierno de México, 2015</a>)</li>
  </ul>
</template>

<template id="sostenibilidad-8-answer">
<p>The water footprint of food products is a helpful indicator of their environmental impact. In general, foods of animal origin are the ones that require a more significant amount of water.</p>
<p>The product that needs the most water is cheese (5.605 litres of water for every kilo of cheese), whereas fruits and vegetables require less.</p>
<p>The graph shows <a href="https://www.iagua.es/noticias/espana/aquafides/16/04/28/que-es-huella-hidricapara-que-sirve" target="_blank" rel="noopener">the water footprint</a> (indicator that defines the total volume of freshwater used to produce goods and services) of food as a function of mass, measured in litres per kilogram of some products:</p>

  <figure>
    <img src="/static/img/cuestionarios/answers/en/sostenibilidad_08a.svg" />
    <figcaption>Graph: Freshwater extraction per kilogramme of product (<a href="https://ourworldindata.org/environmental-impacts-of-food" target="_blank" rel="noopener">OurWOrldInDAta, 2020</a>)</figcaption>
  </figure>

<p><strong>Mexico</strong>: The use of water for agricultural purposes is a central issue in water resources and food security issues. Worldwide, approximately 70% of freshwater withdrawals are used for agriculture, while in Mexico, in 2019, 75.7% were used.</p>

  <figure>
    <img src="/static/img/cuestionarios/answers/en/sostenibilidad_08b.svg" />
    <figcaption>Graph: Use of water in Mexico (<a href="http://sina.conagua.gob.mx/sina/tema.php?tema=usosAgua&amp;ver=reporte&amp;o=0&amp;n=nacional" target="_blank" rel="noopener">CONAGUA, 2019</a>)</figcaption>
  </figure>

  <ul>
    <li>Environmental impacts of food production (<a href="https://ourworldindata.org/environmental-impacts-of-food" target="_blank" rel="noopener">OurWorldInData, 2020</a>)</li>
    <li>The state of food and agriculture (<a href="http://www.fao.org/state-of-food-agriculture/en/" target="_blank" rel="noopener">FAO, 2020</a>)</li>
    <li>Usos consuntivos, según origen del tipo de fuente de extracción (<a href="http://sina.conagua.gob.mx/sina/tema.php?tema=usosAgua&amp;ver=reporte&amp;o=0&amp;n=nacional" target="_blank" rel="noopener">CONAGUA, 2019</a>)</li>
  </ul>
</template>

<template id="sostenibilidad-9-answer">
<p>The ability to produce synthetic nitrogen fertilizers has enabled rapid growth in crop productivity. In 2008 alone, 48% of the food consumed by the world’s population was grown with nitrogen fertilizers.</p>
<p>The use of fertilizers has supported millions of people to feed themselves thanks to the increase in crop yields and expansion of livestock. These fertilizers are produced by mixing nitrogen from the atmosphere with hydrogen from natural gas at very high temperatures to form ammonia, which is then used to create nitric acid. Ammonia also is combined with carbon dioxide to produce urea, which can also be used as a fertilizer.</p>
<p>In addition to the GHG emissions generated by fertilizers, these represent one of the primary sources of water pollution globally, which can persist for decades.</p>

  <figure>
    <img src="/static/img/cuestionarios/answers/en/sostenibilidad_09.svg" />
    <figcaption>Graph: Fertilizer use has quadrupled since the 1960s (<a href="http://www.fao.org/3/a-i5627e.pdf" target="_blank" rel="noopener">FAO, 2016</a>)</figcaption>
  </figure>

<p><strong>Mexico</strong>: <a href="https://gcma.com.mx/mexico-solo-produce-el-35-de-los-fertilizantes-que-utiliza/" target="_blank" rel="noopener">Only 35% of the total national demand for fertilizers is produced in Mexico</a>, and imports represent the other 65%. There is an excellent opportunity for biofertilizers to be made in Mexico or different strategies to improve agriculture and land conservation. These actions require building links between industry, academia and farmers, and policies that promote its use.</p>

  <ul>
    <li>Fertilizers (<a href="https://ourworldindata.org/fertilizer" target="_blank" rel="noopener">OurWorldinData,2013</a>)</li>
    <li>How fertilizers are made? (<a href="https://www.fertilizerseurope.com/fertilizers-in-europe/how-fertilizers-are-made/" target="_blank" rel="noopener">FertilizersEurope, 2021</a>)</li>
    <li>Impacto de los biofertilizantes en la agricultura (<a href="http://www.scielo.org.mx/scielo.php?script=sci_arttext&amp;pid=S2007-09342012000600015#:~:text=La%20producci%C3%B3n%20de%20biofertilizantes%20se,donde%20es%20una%20pr%C3%A1ctica%20adoptada.&amp;text=En%20M%C3%A9xico%2C%20la%20producci%C3%B3n%20actual,y%2Fo%20por%20gobiernos%20estatales." target="_blank" rel="noopener">Gradeda et al.,2012</a>)</li>
  </ul>
</template>

<template id="sostenibilidad-10-answer">
<p>The Industrial Revolution gave way to the use of fossil fuels as a primary source of energy. Consumption of coal, oil and gas has increased about 8 times in the last half-century and has doubled since 1980.</p>
<p>In 2019, about 84% of the world’s primary energy was generated from fossil fuels. Therefore, it is crucial to make a more efficient energy use, diversify the sources used to create energy and incorporate new technologies (such as CCS) to decarbonise sectors where the use of alternative energy sources is complex.</p>

  <figure>
    <img src="/static/img/cuestionarios/answers/en/sostenibilidad_10a.svg" />
    <figcaption>Graph: Global consumption of fossil fuels <a href="https://ourworldindata.org/fossil-fuels" target="_blank" rel="noopener">(OurWorldinData, 2017)</a></figcaption>
  </figure>

<p><strong>Mexico</strong>: In 2019, 60% of primary energy was generated from crude oil, followed by 23% natural gas, 10.5% renewables, almost 4% coal, 2% nuclear and 1% condensed.</p>

  <figure>
    <img src="/static/img/cuestionarios/answers/en/sostenibilidad_10b.svg" />
    <figcaption>Graph: Structure of primary energy production in Mexico,2019 <a href="https://www.gob.mx/sener/documentos/balance-nacional-de-energia-2019" target="_blank" rel="noopener">(SENER,2021)</a></figcaption>
  </figure>

  <ul>
    <li>Fossil Fuels (<a href="https://ourworldindata.org/fossil-fuels" target="_blank" rel="noopener">OurWorldinData,2017</a>)</li>
    <li>Balance Nacional de Energía 2019 (<a href="https://www.gob.mx/sener/documentos/balance-nacional-de-energia-2019" target="_blank" rel="noopener">SENER,2021</a>)</li>
  </ul>
</template>

<template id="sostenibilidad-11-answer">
  <figure style="float: left; width:40%;">
    <img src="/static/img/cuestionarios/answers/en/sostenibilidad_11a.svg" />
    <figcaption>Image from <a href="http://cienciauanl.uanl.mx/" target="_blank" rel="noopener">cienciauanl.mx</a></figcaption>
  </figure>

<p>According to <a href="https://agua.org.mx/wp-content/uploads/2017/07/Agua-en-Mexico-Un-prontuario-para-la-correcta-toma-de-decisiones-2017.pdf" target="_blank" rel="noopener">Agua en México, a handbook for correct decision-making</a>, the volume of water used in hydraulic fracturing depends on the size of the well. Still, it is estimated to be 10 to 15 million litres. If we compare the data with water use in public supply, it represents 0.01% of the total.</p>

<p style="clear: both"><a href="https://hidrocarburos.gob.mx/media/2792/pozos-con-fracturamiento_200819.pdf" target="_blank" rel="noopener"><strong>Mexico</strong></a>: Hydraulic fracturing is a hydrocarbon extraction technique, which has been used mainly in gas fields.<br>
To date, 30,558 wells have been drilled in the onshore zone of Mexico, of which drilling information is available for 19,563 wells.</p>

  <figure style="float: left; width:40%;">
    <img src="/static/img/cuestionarios/answers/en/sostenibilidad_11b.svg" />
    <figcaption>Graph: Fracturing fluid components (<a href="https://www.senado.gob.mx/comisiones/cambio_climatico/reu/docs/presentacion_231017-5.pdf" target="_blank" rel="noopener">Gobierno de México, 2017</a> )</figcaption>
  </figure>

  <ul>
    <li>Pozos con Fracturamiento (<a href="https://hidrocarburos.gob.mx/media/2792/pozos-con-fracturamiento_200819.pdf" target="_blank" rel="noopener">CNH,2018</a>)</li>
    <li>Fracturamiento Hidráulico (<a href="https://www.google.com/url?sa=t&amp;source=web&amp;rct=j&amp;url=https://www.senado.gob.mx/comisiones/cambio_climatico/reu/docs/presentacion_231017-5.pdf&amp;ved=2ahUKEwjxpf2K7PnwAhVMA6wKHWlDB4EQFjANegQIDxAC&amp;usg=AOvVaw3hJzV5oU8FeVF6ZrNLcJ-3&amp;cshid=1622667881580" target="_blank" rel="noopener">CNH,2017</a>)</li>
  </ul>
</template>

<template id="sostenibilidad-12-answer">
<p>Clean energies are those that pollute less during the electricity generation process compared to fossil fuels. This term is not synonymous of renewable energies obtained from seemingly inexhaustible sources such as the sun, wind, tides, marine currents, and geothermal energy.</p>
<p>In 2019, almost 16% of global primary energy came from clean energy, of which 11.4% was generated from renewable sources.</p>
<p>Generation from clean energies is becoming cheaper, more attractive and represents an essential source of work and an opportunity to move to cleaner and more sustainable economies.</p>

<p><strong>Mexico</strong>: In 2012, the <a href="http://www.diputados.gob.mx/LeyesBiblio/pdf/LGCC_061120.pdf" target="_blank" rel="noopener">General Law on Climate Change</a> established a goal to generate 35% of electricity in Mexico from clean energy. In the <a href="http://www.diputados.gob.mx/LeyesBiblio/pdf/LIElec_090321.pdf" target="_blank" rel="noopener">Electricity Industry Law</a>, 13 types of clean energy are mentioned; some are wind, solar, ocean, geothermal, bioenergy, hydropower, nuclear, cogeneration and CCS.</p>
<p>In 2018, the goal of generation from clean energy was 25% in accordance with the <a href="http://www.diputados.gob.mx/LeyesBiblio/pdf/LTE.pdf" target="_blank" rel="noopener">Energy Transition Law</a>. However, that objective has not been met, and the country is far from meeting its goals.</p>

  <figure>
    <img src="/static/img/cuestionarios/answers/en/sostenibilidad_12.svg" />
    <figcaption>Image from <a href="http://proyectofse.mx" target="_blank" rel="noopener">proyectofse.mx</a></figcaption>
  </figure>

  <ul>
    <li>How much of global energy comes from low-carbon sources? (<a href="https://ourworldindata.org/energy-mix#:~:text=We%20see%20that%20in%202019,and%204.3%25%20came%20from%20nuclear." target="_blank" rel="noopener">OurWorldinDAta,2020</a>)</li>
    <li>Ley General de cambio climático (<a href="http://www.diputados.gob.mx/LeyesBiblio/pdf/LGCC_061120.pdf" target="_blank" rel="noopener">Gobierno de México,2012</a>)</li>
    <li>Ley de la Industria Eléctrica  (<a href="http://www.diputados.gob.mx/LeyesBiblio/pdf/LIElec_090321.pdf" target="_blank" rel="noopener">Gobierno de México,2013</a>)</li>
    <li>Ley de Transición Energética  (<a href="http://www.diputados.gob.mx/LeyesBiblio/pdf/LTE.pdf" target="_blank" rel="noopener">Gobierno de México,2015</a>)</li>
    <li>Inventario Nacional de Energías Limpias (<a href="https://dgel.energia.gob.mx/inel/" target="_blank" rel="noopener">SENER,2018</a>)</li>
  </ul>
</template>

<template id="sostenibilidad-13-answer">
<p>According to the <a href="https://standby.lbl.gov/measure/#:~:text=The%20original%20IEC%20definition%20%28and%20the%20U.S.%20Presidential,plugged%20in%20%28sometimes%20called%20the%20%E2%80%9Coff%20mode%E2%80%9D%20consumption%29." target="_blank" rel="noopener">International Electrotechnical Commission</a>, phantom power consumption refers to the minimum power consumption while it is plugged in.</p>
<p>The <a href="https://standby.lbl.gov/data/summary-table/" target="_blank" rel="noopener">Berkeley Laboratory</a> indicates that the average homes have up to 40 products that consume energy constantly even when idle, which constitute 10% of total electricity consumption. It is also mentioned that older appliances contribute less to phantom consumption because they do not have additional features, such as ovens with digital clocks and washers and dryers with manual dials.</p>

  <figure>
    <img src="/static/img/cuestionarios/answers/en/sostenibilidad_13.svg" />
    <figcaption>Image from <a href="https://lucera.es/blog/cuanto-consumen-electrodomesticos" target="_blank" rel="noopener">lucera.es</a></figcaption>
  </figure>

<p><strong><a href="https://rotativo.com.mx/2020/10/20/ciencia-tecnologia/que-es-el-consumo-fantasma-de-energia-y-como-solucionarlo-865228/#:~:text=El%20consumo%20fantasma%20se%20denomina%20al%20gasto%20el%C3%A9ctrico,adapta%20el%20voltaje%20a%20trav%C3%A9s%20de%20dos%20bobinas." target="_blank" rel="noopener">Mexico</a></strong>: According to the Federal Commission of Electricity (CFE), during 2020, household electricity consumption increased up to 30%. Since the advance of the pandemic, it has encouraged the longer time spent at home, which has generated greater use of energy.</p>

  <ul>
    <li>Defining and measuring standby (<a href="https://standby.lbl.gov/measure/#:~:text=The%20original%20IEC%20definition%20%28and%20the%20U.S.%20Presidential,plugged%20in%20%28sometimes%20called%20the%20%E2%80%9Coff%20mode%E2%80%9D%20consumption%29." target="_blank" rel="noopener">Berkley lab, 2019</a>)</li>
    <li>Stand by sumary table (<a href="https://standby.lbl.gov/data/summary-table/" target="_blank" rel="noopener">Berkley lab, 2019</a>)</li>
    <li>¿Qué es el consumo fantasma de energía y como solucionarlo? (<a href="https://rotativo.com.mx/2020/10/20/ciencia-tecnologia/que-es-el-consumo-fantasma-de-energia-y-como-solucionarlo-865228/#:~:text=El%20consumo%20fantasma%20se%20denomina%20al%20gasto%20el%C3%A9ctrico,adapta%20el%20voltaje%20a%20trav%C3%A9s%20de%20dos%20bobinas." target="_blank" rel="noopener">Rotativo, 2020</a>)</li>
  </ul>
</template>
{% endblock %}
