{% extends 'pagelayouts/contacto.html' %}

{% from 'macros/menus.html' import navbar, footer with context %}

{% block nav %}
  {{ navbar('en', current='/en/contact.html') }}
{% endblock %}

{% block footer %}
  {{ footer('en') }}
{% endblock %}

{% block title %}Contact{% endblock %}

{% block main_text %}
  Your opinion, comments and contributions are very important to help us turn
  this platform into a space for dialogue, exchange of ideas, mutual learning
  and collaboration.
{% endblock %}

{% block main_title %}
  Contact
{% endblock %}

{% block photo_credits %}
<h2>PHOTOGRAPHY CREDITS</h2>

<dl>
  <dt><img src="/static/img/logo_pexels.png" alt="Pexels logo" /></dt>
  <dd>
    Lukas Rodríguez / Stefan Stefancik  / Tom Fisk / Kelly Lacy / Artem Beliakin
    / Mark Stevnicki / Ave Calvar Martínez / RF._.studio / Sindre Strøm / Anna
    Shvets / Riya Kumari / Mali Maeder / Gursharndeep Dingh / Jack &amp; Sue
    Drafahl / Michael Erhardsson / Talal Hakim / Andre
  </dd>

  <dt><img src="/static/img/logo_unsplash.png" alt="Unsplash logo" /></dt>
  <dd>
    Kelly Sikkema / Salvador Godoy / OmarkJadhav / Solen Feyissa / Dan Meyers /
    Chris Liverani / Amanshu Raikwar
  </dd>
</dl>
{% endblock %}

{% block english_translation_credits %}
<h2>English translation</h2>

<p><strong>Ulises Pérez Martínez</strong></p>

<p>
  Translator-interpreter graduated from the Angloeducativo university in English
  and French languages, he has collaborated with non-governmental organizations
  such as Entornos Educativos A.C. and Género y Flor de Maíz A.C.
</p>
{% endblock %}

{% block repository_credits %}
<h2>VIRTUAL REPOSITORY</h2>

<p>&nbsp;</p>

<p>
  We thank those who voluntarily contributed to the creation of the virtual
  repository with their research reports, theses, articles, research documents
  and work related to CCS / CCUS technology in Mexico.
</p>
{% endblock %}
