{% set lang = 'en' %}

{% extends 'pagelayouts/index.html' %}

{% from 'macros/menus.html' import navbar with context %}

{% block nav %}
  {{ navbar('en', current='/en') }}
{% endblock %}

{% block title %}Home{% endblock %}

{% block site_title %}
  mexican<br />
  carbon capture<br />
  and storage<br />
  platform
{% endblock %}

{% block text1 %}
  MeCCS is a project for communication, dissemination and exchange of knowledge
  and information about Carbon Capture and Storage (CCS) technology and its role
  for sustainable development in Mexico.
{% endblock %}

{% block text2 %}
  CCS (Carbon Capture and Storage) is one of the alternatives for reducing
  anthropogenic CO₂ emissions and, therefore, constitutes a measure for
  mitigating climate change.
{% endblock %}

{% block text3 %}
  This website seeks to facilitate and promote the link between different
  stakeholders and sectors that participate in decision-making, as well as in
  the design and implementation of projects and policies related to CCS
  technology.
{% endblock %}

{% block link1 %}
  <a href="/en/ccs_and_sustainability.html">Find out more</a>
  <a href="" class="video-play-btn" data-video="8hy2n1Pjq1U"><img src="/static/img/play.svg" /> Play introductory video</a>
{% endblock %}
