{% set lang = 'en' %}

{% extends 'pagelayouts/investigacion.html' %}

{% from 'macros/menus.html' import navbar, footer with context %}

{% block nav %}
  {{ navbar('en', current='/en/research.html') }}
{% endblock %}

{% block footer %}
  {{ footer('en') }}
{% endblock %}

{% block title %}Resources{% endblock %}

{% block investigacion__title %}Resources{% endblock %}

{% block investigacion__intro %}
<p>
  This section integrates the knowledge, experience, and effort of
  professionals, academics, students, and research groups that have contributed
  to studying CCS in Mexico from different areas and sectors. You can access our
  Punto Crítico newsletter, books, scientific articles, theses, reports,
  studies, regulations, posters, and outreach materials here.
</p>
{% endblock %}

{% block investigacion__gaceta__title %}Punto crítico (newsletter){% endblock %}

{% block investigacion__gaceta__description %}
<p>
  This digital newsletter is the communication and dissemination project of
  MeCCS, which addresses various issues related to CO2 emissions and
  sustainability.
</p>

<p>
  In each issue, various experts from different areas of knowledge, regions and
  sectors share their experiences, opinions, and visions through notes,
  interviews, and materials to promote ideas exchange and critical thinking
  construction.
</p>

<p>
  The newsletters are available in Spanish and English. You can download them
  for free.
</p>

<p>
  Is there a topic you would like us to address in the newsletters? You can also
  sponsor new editions.
</p>

<p>
  Get in touch with us.
</p>
{% endblock %}

{% block investigacion__didactic_title %}Educational Materials{% endblock %}

{% block investigacion__didactic_alt %}
Portada del libro sobre captura y almacenamiento de co2
{% endblock %}

{% block investigacion__didactic_text %}
<p>
  This book is an educational resource with information and experiments designed
  to communicate and teach energy, climate change, and CCS topics.
</p>

<p>
  The CO<sub>2</sub> degrees Challenge is an international programme started by
  the Global CCS Institute in 2012 and, since then, has been taught in various
  places around the world to people of all ages.
</p>

<p>
  In 2016, Mexico took on the challenge by collaborating with the Ministry of
  Energy (SENER), the UNAM’s Science Museum, Universum, and the Global CCS
  Institute. The challenge included the translation and adaptation of all
  materials into Spanish, as well as training for representatives of research
  centres, government, industry, and universities to become facilitators of this
  workshop.
</p>

<p>
  If you need more information or training to facilitate the experiments or use
  of the materials, please contact us.
</p>
{% endblock %}

{% block investigacion__didactic_download %}
Download the book and the complementary materials.
{% endblock %}

{% block investigacion__publicaciones__title %}PUBLICATIONS{% endblock %}

{% block investigacion__mario_phrase %}
  Scientists may depict problems that will affect the environment based on
  available evidence, but their solution is not responsibility of scientists but
  of society as a whole.
{% endblock %}

{% block investigacion__mario_phrase__title %}
Nobel Prize in Chemistry
{% endblock %}

{% block investigacion__search_intro %}
<p>
  This section integrates knowledge, experience and effort of professionals,
  academics, students, working and research groups that have contributed to the
  study of CCS in Mexico from different areas and sectors. Here, you will access
  books, scientific articles, theses, reports, research, regulations, posters
  and communication materials.
</p>

<p>
  The documents you will find here have been compiled through an open call for
  all those interested in sharing their work on this website and through a
  bibliographic search in national and international journals and public
  databases.
</p>
{% endblock %}

{% block investigacion__metodologias__title %}METHODOLOGIES{% endblock %}

{% block investigacion__metodologias__description %}
<p>
  A methodology consists of a series of procedures and techniques that allow to
  attend one or more objectives. It can be applied in different fields and areas
  of knowledge and is based on both theory and practice.
</p>

<p>
  We present four methodologies that are frequently used to evaluate, plan, and
  monitor different types of projects. Some of them submit innovative proposals
  based on interdisciplinary work and thinking “out of the box” to help measure
  the impact of implementing new policies or interventions. In each of them, you
  will find examples of how they are applied in CCS projects.
</p>
{% endblock %}

{% block investigacion__metodologias__points %}
<ul>
  <li><a href="/static/methodology/en/feasibility_studies.pdf" target="_blank">FEASIBILITY STUDIES</a></li>
  <li><a href="/static/methodology/en/environmental_and_social_impact_assessment.pdf" target="_blank">ENVIRONMENTAL AND SOCIAL IMPACT ASSESSMENT</a></li>
  <li><a href="/static/methodology/en/life_cycle_assessment.pdf" target="_blank">LIFE CYCLE ASSESSMENT (ATTRIBUTIONAL AND CONSEQUENTIAL)</a></li>
  <li><a href="/static/methodology/en/theory_of_change.pdf" target="_blank">THEORY OF CHANGE</a></li>
</ul>
{% endblock %}

{% block investigacion__sitios__title %}SITES OF INTEREST{% endblock %}

{% block investigacion__sitios__intro %}
<p>
  We leave you a list of links from different sites in case you want to know
  more about the organisations, research centres and some CCS projects worldwide
  so you can continue to improve your knowledge on the subject, have references
  to expand your contact networks or start looking for synergies and
  collaborations.
</p>
{% endblock %}

{% block investigacion__organizaciones__title %}Organisations{% endblock %}

{% block investigacion__organizaciones__text %}
These are the four organisations and initiatives in which experts from around
the world and representatives of government, academia, industry and civil
society gather to promote and drive CCS / CCUS.
{% endblock %}

{% block investigacion__programs__title %}Supporting and financial programmes{% endblock %}

{% block investigacion__programs__text %}
Among the organisations and associations that support and finance CCS / CCUS
projects are:
{% endblock %}

{% block investigacion__institutes__title %}Research Centres{% endblock %}

{% block investigacion__institutes__text %}
These are some of the CCS / CCUS research centres around the world:
{% endblock %}

{% block investigacion__dbs__title %}Databases and projects’ information{% endblock %}

{% block investigacion__dbs__text %}
In the following databases, you can find information about CCS / CCUS projects
in the world and the geological storage potential of CO₂ that has been estimated
to date. Both databases are public and free access.
{% endblock %}

{% block investigacion__final %}
According to the  Global CCS Status Report, 2020 was accounted for:

<ul>
  <li><strong>33%</strong> increase in CO₂ capture and storage capacity since 2019</li>
  <li><strong>65</strong> CCS Commercial Facilities in various stages of development worldwide</li>
  <li><strong>40</strong> million tons of CO₂ captured and stored per year</li>
</ul>
{% endblock %}

{% block investigacion__final__first %}
According to the <a target="_blank" rel="noopener"
href="https://www.globalccsinstitute.com/resources/global-status-report/download/">
CCS 2021 Global Status Report</a>, published by the Global CCS Institute:
{% endblock %}

{% block investigacion__final__warming_note %}
Limiting global warming to 2 ° C requires CCS installed
capacity to increase to
{% endblock %}

{% block investigacion__final__warming_warn %}
 5,600 Mtpa by 2050
{% endblock %}

{% block investigacion__final__numbers__title %}
Currently, there are:
{% endblock %}

{% block investigacion__final__install %}
<p>135<br />installations</p>

<p>
27 operational<br />
4 under construction<br />
58 advanced developments<br />
44 initial developments<br />
2 suspended
</p>
{% endblock %}

{% block investigacion__final__ton %}
<p>40 mton<br>per year</p>

<p>
captured and stored
</p>
{% endblock %}

{% block investigacion__final__growth %}
<p>48% increase<br>in total capacity</p>

<p>
of CCS facilities under development in the last year alone
</p>
{% endblock %}

{% block investigacion__final__app__title %}
Applications for CCUS projects include:
{% endblock %}

{% block investigacion__final__app__body1 %}
<ul>
  <li>Direct air capture</li>
  <li>Cement production</li>
  <li>Iron and steel production</li>
  <li>Conversion of waste into energy</li>
  <li>Power generation (natural gas)</li>
  <li>Power generation (coal)</li>
</ul>
{% endblock %}

{% block investigacion__final__app__body2 %}
<ul>
  <li>Hydrogen production</li>
  <li>Chemical production</li>
  <li>Ethanol production</li>
  <li>Fertiliser production</li>
  <li>Natural gas processing</li>
</ul>
{% endblock %}
