{% extends 'pagelayouts/quienes_participamos.html' %}

{% from 'macros/menus.html' import navbar, footer with context %}

{% block nav %}
  {{ navbar('en', inverted=True, current='/en/who_we_are.html') }}
{% endblock %}

{% block footer %}
  {{ footer('en') }}
{% endblock %}

{% block title %}Who we are{% endblock %}

{% block quienes_participamos__title %}
  <h1>Who we are</h1>

  <p>Meet the people and institutions that participate in MeCCS.</p>
{% endblock %}

{% block quienes_participamos__intro_box %}
  MeCCS emerged as an interdisciplinary project that combines different
  experiences, visions, knowledge and skills of team members and collaborators.
{% endblock %}

{% block quienes_participamos__floating_box %}
  We also have the participation of representatives of academia, government,
  industry, and society in the creation of this platform, whose contributions
  enrich and highlight the value of collaboration and communication to expand
  knowledge, improve dialogue, and support decision making.
{% endblock %}

{% block quienes_participamos__our_team__title %}Our team{% endblock %}

{% block quienes_participamos__jazmin %}
  <p>
    Jazmin is a geological engineer graduated from the National Autonomous
    University of Mexico (UNAM). She is a PhD candidate in Geosciences from the
    University of Edinburgh and a visiting student at LANCIS, IE-UNAM. Her
    academic interests focus on the environment and energy, extractive
    industries, energy transition and sustainability sectors. In the
    professional field, she was director of Clean Technologies in the Ministry
    of Energy of Mexico; she worked as a consultant for the World Bank and as a
    project engineer at the Federal Electricity Commission to evaluate the
    geological storage potential of CO₂ in Mexico. She participated as a
    representative of Mexico in the Carbon Sequestration Leadership Forum and
    the North American Energy Ministerial Trilateral and multilateral forums on
    CCS / CCUS. She has participated in public consultations for energy
    projects, teaching, training and scientific dissemination activities.
  </p>

  <p>
    Her interests are dance (particularly flamenco and Latin rhythms), travel,
    mountaineering, singing and reading.
  </p>
{% endblock %}

{% block quienes_participamos__hector %}
  <p>
    Hector has graduated in Communication Sciences, specialized in graphic
    design and photography. He has worked in different artistic, cultural,
    scientific, and social projects in the professional field, both in private,
    as well as in governmental and NGO institutions. He collaborated in the
    dissemination area of ​​the Ministry of Education and with
    different social organizations in the State of Chiapas, where he is from. He
    has worked in web tools, editorial design and business branding for the
    Federal Electricity Commission and the Ministry of Energy. In the artistic
    field, he has participated in various theatre projects and collaborated in
    festivals, magazines and specialized publishers; He has held group
    exhibitions in Chiapas, Michoacán and Mexico City. His visual work ranges
    from illustration to photography, experimenting with analogue and digital
    formats. He currently collaborates on various graphic design, art direction
    and photography projects.
  </p>

  <p>
    His interests are illustration, painting, analogue photography, performing
    arts, music (especially rock, blues, electronic music, and soul),
    cartoons/anime, traveling, walking, and oriental food.
  </p>
{% endblock %}

{% block quienes_participamos__adrian %}
  <p>
    Adrian is a chemist graduated from the National Autonomous University of
    Mexico. He has an MSc in Environmental Engineering from the University of
    Sheffield, and he is a PhD candidate in Sustainability Sciences from UNAM.
    His academic interests have focused on hydrogeology of pollutants,
    remediation strategies of contaminated aquifers, transport and destination
    of radionuclides in the environment, and study of trajectories oriented
    towards sustainability. He has carried out environmental consulting and
    environmental law activities in the professional field, educational and
    teaching activities. He has participated in the edition and creation of
    textbooks and works of scientific communication in the development of online
    teaching materials for science courses, chemistry and technical
    communication courses.
  </p>

  <p>
    His interests are music (especially blues, rock, and jazz), mountaineering,
    video games, travel, and reading.
  </p>
{% endblock %}

{% block quienes_participamos__paola %}
  <p>
    Paola is a biologist graduated from the National Autonomous University of
    Mexico (UNAM) and a PhD in Sciences from the University of Plymouth, UK. Her
    work has focused mainly on studying socio-ecological processes at different
    temporal and spatial scales, from local approaches such as pollination to
    global change processes, mainly in Latin American systems. She has held
    positions in the public sector within her professional career, such as
    Deputy Director of Conservation of Biological Communities and Adaptation to
    Climate Change, as well as collaborating with the United Nations and various
    academic institutions. She has articles published in international
    magazines, technical reports and book chapters. She is currently a
    researcher at the National Laboratory of Sustainability Sciences (LANCIS),
    at the Institute of Ecology, UNAM, where she works on projects about
    vulnerability, adaptation and resilience to global changes, monitoring and
    evaluating socio-ecological systems, research on the impact and linkage of
    science, promoting the involvement of other critical sectors for
    decision-making. She was a lecturer in the UK, Ecuador, and Mexico. She is a
    representative within the Working Committees on Climate Change and
    Sustainable Cities of the UN Sustainable Development Solutions Network
    (SDSN).
  </p>

  <p>
    Her interests are painting, films, anime, travelling, cooking, reading, and
    cycling.
  </p>
{% endblock %}

{% block quienes_participamos__abraham %}
  <p>
    Abraham is a Mathematician graduated from Universidad Veracruzana. He has
    served as an independent software developer and consultant since 2018.
    Abraham is passionate about autonomy, community, and sustainability and has
    participated in the construction and design of rainwater collection and
    composting systems on a family scale. He is also actively involved in free
    software and open-source movements as a computing extension of
    sustainability and autonomy models. He is currently part of a nascent
    software development cooperative that proposes a fair model of distribution
    of wealth generated among its members.
  </p>

  <p>
    His interests are high and mid-mountain walks, mountain biking, cooking and
    making leather products.
  </p>
{% endblock %}

{% block quienes_participamos__mariana %}
  <p>
    Mariana is a Petroleum engineer graduated from the National Autonomous
    University of Mexico. She has interests in energy transition,
    sustainability, greenhouse gas emissions, and carbon markets. She
    participated in an environmental remediation project to create “Copitl” and
    collaborated in a sustainability project in the extractive industry at the
    National Hydrocarbons Commission. Currently, she is part of a youth project
    that promotes sustainable finance.
  </p>

  <p>
    Her interests are photography, seeing new places, running, watching series,
    planting and harvesting her food.
  </p>
{% endblock %}

{% block quienes_participamos__lore %}
  <p>
    Earth Sciences student focused on Environmental Sciences at the National
    Autonomous University of Mexico. She has worked in land use change and
    restoration of degraded spaces. Lorena participated in a project to assess
    the biodiversity conservation state in olive groves in southern Spain. She
    currently collaborates in outreach and teaching activities.
  </p>

  <p>
    Her personal interests are swimming, photography, dance, yoga, and personal
    growth.
  </p>
{% endblock %}

{% block quienes_participamos__colaboracion__title %}Collaboration{% endblock %}

{% block quienes_participamos__colaboracion__content %}
<p>
  MeCCS is a project carried out in collaboration between the University of
  Edinburgh and the National Laboratory of Sustainability Sciences (LANCIS), of
  the Institute of Ecology of the UNAM, through which the exchange of knowledge
  and experience has facilitated a connection between disciplines for the
  analysis of CCS projects in Mexico.
</p>
{% endblock %}

{% block quienes_participamos__patrocinio__title %}SPONSORS{% endblock %}

{% block quienes_participamos__patrocinio__content %}
<p>
  MeCCS is supported and sponsored by the UK CCS Research Center (UKCCSRC) and
  the Scottish Alliance for Geoscience, Environment & Society (SAGES).
</p>
{% endblock %}

{% block quienes_participamos__alianzas__title %}Alliance{% endblock %}

{% block quienes_participamos__alianzas__content %}
<p>
  Other institutions that support the project.
</p>
{% endblock %}

{% block logo_edinburgh %}Edinburgh University logo{% endblock %}
{% block logo_unam %}UNAM logo{% endblock %}
{% block logo_inecolunam %}Institute of ecology UNAM logo{% endblock %}
{% block logo_lancis %}Sustainability Sciences Laboratory logo{% endblock %}
{% block logo_sages %}Scottish Alliance for Geoscience, Environment &amp; Society logo{% endblock %}
{% block logo_ukccs %}UK CCS Research Centre logo{% endblock %}
{% block logo_cuspwest %}CUSP logo{% endblock %}
{% block logo_eneryou %}Eneryou logo{% endblock %}
{% block logo_fundacioneneryou %}Eneryou Foundation logo{% endblock %}
{% block logo_icesrm %}ICESRM logo{% endblock %}
