{% extends 'pagelayouts/ccs_en_mexico.html' %}

{% from 'macros/timeline.html' import timeline_macro with context %}
{% from 'macros/menus.html' import navbar, footer with context %}

{% block nav %}
  {{ navbar('es', current='/es/ccs_en_mexico.html') }}
{% endblock %}

{% block footer %}
  {{ footer('es') }}
{% endblock %}

{% block title %}CCS en México{% endblock %}

{% block ccs_en_mexico__title %}CCS en México{% endblock %}

{% block ccs_en_mexico__intro %}
  <p>
    México posee una gran riqueza natural, social, cultural y humana. Su
    ubicación geográfica es favorable para el desarrollo de diversas
    actividades que tienen un papel clave en la economía nacional y que
    están ligadas a la industria petrolera, manufacturera, básica y
    pesada.  De forma paralela al desarrollo de estas actividades
    económicas, son fundamentales la integración de estrategias,
    tecnologías y esquemas para la reducción de emisiones de GEI, el
    manejo adecuado de los recursos y la búsqueda del bienestar de la
    sociedad.
  </p>

  <p>
    En el caso de México, existe una oportunidad de aprovechamiento del
    CO<sub>2</sub> para los procesos de recuperación mejorada de petróleo
    (<i>EOR- enhanced oil recovery</i>) en la industria petrolera. Por
    esta razón, en el país, se hace referencia a los proyectos de CCUS
    para hacer énfasis en potencial para la utilización del CO<sub>2</sub>
    antes de su almacenamiento geológico permanente.
  </p>
{% endblock %}

{% block ccs_en_mexico__timeline__title %}línea del tiempo{% endblock %}

{% block ccs_en_mexico__timeline__box %}
  En los últimos 10 años, se han puesto en marcha una serie de acciones
  e iniciativas para evaluar la  oportunidad de implementación de CCS en
  México y su papel en  la transición hacia una economía más limpia y
  sostenible. Te invitamos a conocer más acerca de lo que se ha hecho en
  el país en materia de política pública y programas con la industria y
  la academia que son clave para incorporar a la tecnología de CCS en la
  estrategia para la mitigación del cambio climático.
{% endblock %}

{% block timeline %}
  {{ timeline_macro('es') }}
{% endblock %}

{% block ccs_en_mexico__atlas__title %}atlas ccus méxico{% endblock %}

{% block ccs_en_mexico__atlas__text %}
  <p>
    Uno de los pasos primeros pasos para identificar el potencial para el
    desarrollo de CCS consiste en la integración de bases de datos sobre
    las fuentes de emisión y  sitios para el uso y almacenamiento de
    CO<sub>2</sub>.  El análisis de estos datos se lleva a cabo a escala
    nacional, regional, local y de sitio. Debe considerarse que, a menor
    escala, es mayor el detalle y costos de la adquisición y procesamiento
    de la información.
  </p>

  <p>
    En 2012, Canadá, Estados Unidos y México llevaron a cabo un proyecto
    colaborativo para la creación del <i>North American Carbon
    Sequestration Atlas</i> (<i>NACSA</i>) para estimar el potencial de
    almacenamiento de CO<sub>2</sub> en Norteamérica.  Derivado de esta
    colaboración, se publicó también el <i>Atlas de Almacenamiento
    Geológico de CO<sub>2</sub> de México</i>, que presenta la evaluación
    del potencial de almacenamiento geológico de CO<sub>2</sub> a nivel
    nacional.
  </p>
{% endblock %}

{% block ccs_en_mexico__atlas__link %}
Atlas de Almacenamiento Geológico de México
{% endblock %}

{% block ccs_en_mexico__atlas__text_2 %}
  <p>
    En 2015, un grupo interdisciplinario liderado por la Secretaría de
    Energía (SENER) se dio a la tarea de identificar las localidades donde
    fuera factible la captura de CO<sub>2</sub> en plantas de generación
    de electricidad y su posterior uso en campos petroleros maduros para
    la recuperación mejorada de petróleo. En este proyecto participaron
    especialistas de Petróleos Mexicanos (PEMEX), la Comisión Federal de
    Electricidad (CFE) y el Instituto Nacional de Investigaciones
    Nucleares (ININ).
  </p>

  <p>
    Las bases de datos e información generadas desde 2015 se integraron en
    un sistema de información geográfica (SIG) donde es posible encontrar
    las fuentes antropogénicas de CO<sub>2</sub> , sitios para el uso y
    almacenamiento geoógico de CO<sub>2</sub>, así como de los proyectos
    piloto que se planeaba desarrollar  y las  localidades con potencial
    para proyectos de  CCS/CCUS en México. Los datos presentan una
    actualización a 2018 e incluyen bases de datos de la Secretaría de
    Energía (SENER), la Secretaría del Medio Ambiente y Recursos Naturales
    (SEMARNAT), Petróleos Mexicanos (PEMEX), la Comisión Federal de
    Electricidad (CFE), la Universidad Nacional Autónoma de México (UNAM)
    y el Centro Nacional de Información de Hidrocarburos (CNIH).
  </p>
{% endblock %}

{% block ccs_en_mexico__final_invite %}Visitar sitio{% endblock %}

{% block closing_text %}
En México se han llevado a cabo varios esfuerzos por impulsar el desarrollo y
adopción de la tecnología de CCS/CCUS. En ellos han participado la academia, el
gobierno y la industria. Sin embargo, aún se requiere un mayor involucramiento
con la sociedad, así como la estimación de los impactos que pudieran tener este
tipo de proyectos.
{% endblock %}

{% block closing_note %}
En MeCCS puedes consultar, descargar y compartir información al respecto que
puede ser de interés.
{% endblock %}

{% block closing_link %}
<a href="/es/investigacion.html">Conoce más</a>
{% endblock %}
