{% extends 'pagelayouts/ccs_y_sostenibilidad.html' %}

{% from 'macros/menus.html' import navbar, footer with context %}

{% set lang = 'es' %}

{% block nav %}
  {{ navbar(lang, current='/es/ccs_y_sostenibilidad.html') }}
{% endblock %}

{% block footer %}
  {{ footer(lang) }}
{% endblock %}

{% block title %}CCS y Sostenibilidad{% endblock %}

{% block intro_text %}
  <p>
    En las próximas décadas, la demanda de energía y productos industriales
    (fertilizantes, cemento, acero, entre otros) continuará incrementando,
    por lo que se requiere de todas las alternativas y modelos disponibles
    para facilitar y promover el desarrollo sostenible a nivel local,
    regional y global.
  </p>

  <h2>Acerca de la tecnología</h2>

  <p>
    CCS (Carbon Capture and Storage, por sus siglas en inglés) es una
    tecnología para la reducción de emisiones antropogénicas que consiste en
    la captura de dióxido de carbono (CO<sub>2</sub>) proveniente de la
    quema de combustibles fósiles para la generación de energía o de los
    procesos industriales tales como cementeras, siderúrgicas,
    petroquímicas, etc. Una vez capturado, el CO<sub>2</sub> es transportado
    por ductos, pipas o barcos hasta sitios donde puede ser utilizado como
    producto para otras actividades industriales o almacenado
    permanentemente en formaciones geológicas.
  </p>

  <p>
    Otro acrónimo que puedes encontrar para referirte a esta tecnología es
    CCUS (Carbon Capture, Utilisation and Storage), donde la “U” hace
    referencia al uso del CO<sub>2</sub> como una actividad adicional o
    durante el proceso de almacenamiento permanente.
  </p>
{% endblock %}

{% block legend_text %}
Explora los distintos elementos que componen el sistema para conocer más acerca
de ellos.
{% endblock %}

{% block legend_antropogenic %}
Fuentes antropogénicas de CO₂
{% endblock %}

{% block legend_transport %}
Transporte de CO₂
{% endblock %}

{% block legend_use %}
Uso y almacenamiento de CO₂
{% endblock %}

{% block legend_society %}
Sociedad
{% endblock %}

{% block legend_eco %}
Ecosistemas
{% endblock %}

{% block box_note %}
  CCS es una tecnología<br>
  clave para avanzar hacia<br>
  modelos bajos en carbono
{% endblock %}

{% block what_do_you_think_title %}¿Qué opinas de ...?{% endblock %}

{% block what_do_you_think_text_1 %}
  <p>
    Cada individuo, grupo de personas o de actores tienen una relación
    única y particular con su entorno. Esta relación depende de diversos
    factores tales como el  conocimientos y las experiencias –individuales
    o colectivas– de todos los involucrados. Por lo tanto, es esencial
    conocer estas opiniones e ideas acerca de los proyectos de CCS que
    permitan desarrollar mejores estrategias para su implementación y
    ayudar a una toma de decisiones informada e incluyente.
  </p>
{% endblock %}

{% block what_do_you_think_text_2 %}
  <p>
    Preguntamos a varios representantes de distintos grupos de actores qué
    opinan acerca de CCS y su relación con la Sostenibilidad, así como las
    aportaciones, oportunidades y retos que implica el desarrollo de estos
    proyectos.
  </p>

  <p>
    Te invitamos a ver los siguientes videos y a tratar de responder las
    mismas preguntas que hemos hecho a estos grupos de expertos y
    representantes de la sociedad.
  </p>
{% endblock %}

{% block what_do_you_think_main_title %}
CCS y Sostenibilidad
{% endblock %}

{% block ccs_and_the_ods_title %}ccs y los objetivos de desarrollo sostenible{% endblock %}

{% block ccs_and_the_ods_logo %}
  {% include 'svg/ods_es.svg' %}
{% endblock %}

{% block ccs_and_the_ods_intro %}
  <p>
    En septiembre de 2015, los 193 países miembro de las Naciones Unidas
    adoptaron una serie de objetivos globales con la visión de que en el año
    2030 pueda erradicarse la pobreza, proteger al planeta y asegurar la
    prosperidad para todos. Para lograrlo se requiere de la acción coordinada
    del gobierno, la sociedad, la industria y la academia.
  </p>

  <p>
    Descubre más acerca de los objetivos de desarrollo sostenible
    <a
      href="https://www.un.org/sustainabledevelopment/es/objetivos-de-desarrollo-sostenible/"
      target="_blank">aquí</a>
  </p>
{% endblock %}

{% block ccs_and_the_ods_subtitle %}
La tecnología de CCS interactúa directamente con 10 de los 17 ODS.
{% endblock %}

{% block ccs_and_the_ods__environment %}
  <h3>Medio ambiente</h3>

  <div class="icons">
    <img src="/static/img/ods_13_es.jpg" />
    <img src="/static/img/ods_14_es.jpg" />
    <img src="/static/img/ods_15_es.jpg" />
  </div>
{% endblock %}

{% block ccs_and_the_ods__environment__text %}
  <p>
    CCS es una tecnología enfocada en reducir la emisión de grandes cantidades
    de CO<sub>2</sub>  a la atmósfera.  De esta manera, CCS contribuye en
    el llamado a combatir los efectos del cambio climático, evitar la
    acidificación de los océanos y a reducir la necesidad de  proyectos
    que implican un uso intensivo de tierra, incluidas las energías
    renovables tales como parques solares y  eólicos e hidroeléctricas.
  </p>
{% endblock %}

{% block ccs_and_the_ods__society %}
  <h3>Sociedad</h3>

  <div class="icons">
    <img src="/static/img/ods_3_es.jpg" />
    <img src="/static/img/ods_6_es.jpg" />
    <img src="/static/img/ods_7_es.jpg" />
    <img src="/static/img/ods_11_es.jpg" />
  </div>
{% endblock %}

{% block ccs_and_the_ods__society__text %}
  <p>
    La reducción de emisiones a la atmósfera a través de CCS tiene beneficios
    en la salud y bienestar de las personas; asimismo, puede compartirse
    infrastructura para mejorar el acceso a agua limpia. Una de las
    principales aportaciones se encuentra en garantizar el acceso a la energía
    limpia y asequible, que a su vez influye en el desarrollo de ciudades y
    comunidades más sostenibles, las cuales requieren de bienes y servicios
    provenientes de la industria donde CCS es aplicable.
  </p>
{% endblock %}

{% block ccs_and_the_ods__economy %}
  <h3>Economía</h3>

  <div class="icons">
    <img src="/static/img/ods_8_es.jpg" />
    <img src="/static/img/ods_9_es.png" />
    <img src="/static/img/ods_12_es.png" />
  </div>
{% endblock %}

{% block ccs_and_the_ods__economy__text %}
  <p>
    Los efectos de CCS están directamente relacionados con el desarrollo
    económico, la innovación,  el desarrollo de la industria e infrastructura
    resiliente, así como con la producción y el consumo responsables.
  </p>

  <p>
    El alcance de CCS en temas asociados con el empleo, el crecimiento
    industrial y económico pueden variar de una región a otra de acuerdo con
    la dependencia que haya a los combustibles fósiles.
  </p>
{% endblock %}

{% block ccs_and_the_ods__disadvantages %}
  <p>
    Existen algunas desventajas en la operación de los sistemas de captura de
    CO<sub>2</sub>, tales como las emisiones que se generan a lo largo del ciclo
    de vida de la tecnología y las grandes cantidades de energía que requieren.
  </p>

  <p style="text-align: center">
    Fuente: Carbon capture and storage and the sustainable development goals
    <a
      href="https://www.sciencedirect.com/science/article/pii/S1750583621000700"
      target="_blank">(Mikunda et al., 2021)</a>
  </p>
{% endblock %}

{% block ccs_and_the_ods__closing_text %}
  <p>
    CCS es una de las alternativas orientadas a la reducción de emisiones de
    CO<sub>2</sub> antropogénico para lograr los objetivos de
    descarbonización para 2030 y 2050.
  </p>

  <p>
    Al menos 25 países y la Unión Europea se encuentran trabajando en
    estrategias para acelerar el desarrollo de CCS. En conjunto, estos países
    representan al 60% de la población mundial y el 80% de las emisiones de
    CO<sub>2</sub> antropogénicas globales.
  </p>
{% endblock %}

{% block ccs_and_the_ods__mexico_belongs %}
  México forma parte de estos países.
{% endblock %}

{% block ccs_and_the_ods__final_link %}
  <a href="/es/ccs_en_mexico.html">Conoce más</a>
{% endblock %}

{% block svg_data %}
  <script type="application/json" id="svg-data">{{ svg[lang] | tojson }}</script>
{% endblock %}

{% block pollapp %}
  <poll-app lang="{{ lang }}"></poll-app>
{% endblock %}

{% block polldata %}
  <script type="application/json" id="ciclodelcarbono-poll-data">{{ polls[lang]["ciclodelcarbono"] | tojson }}</script>
  <script type="application/json" id="sostenibilidad-poll-data">{{ polls[lang]["sostenibilidad"] | tojson }}</script>
{% endblock %}

{% block answers %}
<template id="ciclodelcarbono-1-answer">
  <p>De acuerdo con el <a href="https://www.ipcc.ch/report/ar5/wg3/" target="_blank" rel="noopener">Grupo Intergubernamental de Expertos sobre el Cambio Climático</a> (IPCC), la atmósfera está compuesta por nitrógeno (78.1%) y oxígeno (20.9%). El 1% restante corresponde a los llamados gases traza, entre ellos el argón, el helio y los gases de efecto invernadero (GEI).</p>
  <p>Los GEI son capaces de absorber y reemitir la radiación proveniente del Sol o de la superficie de la Tierra. El vapor de agua (H₂O), el dióxido de carbono (CO₂), el óxido nitroso (N₂O), el metano (CH₄) y el ozono (O₃) son los principales GEI.</p>

  <figure>
    <img src="/static/img/cuestionarios/answers/es/carbon_01.svg" />
    <figcaption>Imagen de <a href="http://cienciauanl.uanl.mx/" target="_blank">cienciauanl.mx</a></figcaption>
  </figure>

  <ul>
<li>Carbon Dioxide (<a href="https://scied.ucar.edu/learning-zone/how-climate-works/carbon-dioxide" target="_blank" rel="noopener">Center of Science Education, 2006</a>)</li>
<li>Global CO₂ levels (<a href="https://www.co2levels.org/" target="_blank" rel="noopener">The 2 Degrees Institute, 2021</a>)</li>
</ul>
</template>

<template id="ciclodelcarbono-2-answer">
  <p>Un cubo de 8 metros  (27 pies) de alto, ancho y largo, es el espacio necesario para contener una tonelada de CO₂ en condiciones estándar, es decir, a una temperatura de 0 °C y una presión de 101 325 Pascales. [1 pie = 0.3048 metros]</p>

  <figure>
    <img src="/static/img/cuestionarios/answers/es/carbon_02.svg" />
  </figure>

  <ul>
    <li>How much is a ton of carbon dioxide? (<a href="https://climate.mit.edu/ask-mit/how-much-ton-carbon-dioxide" target="_blank" rel="noopener">Massachusetts Institute of Technology, 2020</a>)</li>
    <li>¿Cuánto es una tonelada de CO₂? (<a href="https://www.miteco.gob.es/es/ceneam/recursos/mini-portales-tematicos/cuanto_es_1t_co2_tcm30-70715.pdf" target="_blank" rel="noopener">Ministerio para la Transición Ecológica y el Reto Demográfico, 2015</a>)</li>
  </ul>
</template>

<template id="ciclodelcarbono-3-answer">
  <p>Aunque la biósfera parece vasta, su aportación en el ciclo del carbono es pequeña comparada con otros sistemas. Hace millones de años, las plantas, algas y plancton que habitaban la Tierra capturaron grandes cantidades de CO₂. Al morir estos organismos, y debido a procesos geológicos, se transformaron en depósitos de carbón, aceite y petróleo que hoy en día extraemos. Otro elemento importante son los suelos, que son capaces de almacenar grandes cantidades de CO₂.</p>
  <p>Sin embargo, la mayor aportación a la captura y almacenamiento natural de CO₂ ocurre en los océanos a través del carbono inorgánico disuelto que forma grandes depósitos de rocas carbonatadas marinas y que es utilizado por algunos animales marinos para formar sus conchas.</p>
  <p>De acuerdo con <a href="https://sos.noaa.gov/datasets/ocean-atmosphere-co2-exchange/" target="_blank" rel="noopener">National Oceanic</a>, las regiones más frías (el Atlántico Norte y el Ártico) son capaces de absorber más CO₂ que las zonas más cálidas. Esto ocurre porque solubilidad de un gas en agua aumenta a medida que decrece la temperatura, y viceversa.</p>

  <figure>
    <img src="/static/img/cuestionarios/answers/es/carbon_03a.svg" />
    <figcaption>Almacenamiento natural de carbono en gigatoneladas (<a href="https://www.fs.usda.gov/ccrc/topics/global-carbon">USDA Forest Service, 2021</a>)</figcaption>
  </figure>

  <figure>
    <img src="/static/img/cuestionarios/answers/es/carbon_03b.svg" />
  </figure>

  <ul>
    <li>Carbon cycling &amp; sequestration  (<a href="https://serc.si.edu/research/research-topics/ecosystems-ecology/carbon-cycling-sequestration" target="_blank" rel="noopener">SERC,2021</a>)</li>
    <li>Carbon sinks and sequestration  (<a href="https://unece.org/forests/carbon-sinks-and-sequestration" target="_blank" rel="noopener">UNECE, 2021</a>)</li>
    <li>The ocean carbon cycle (<a href="https://www.iaea.org/topics/oceans-and-climate-change/the-ocean-carbon-cycle" target="_blank" rel="noopener">IAEEA, 2021</a>)</li>
    <li>The carbon cycle (<a href="https://earthobservatory.nasa.gov/features/CarbonCycle" target="_blank" rel="noopener">NASA, 2011</a>)</li>
    <li>Why does cold water take in more CO₂ than warmer water and hold it better? (<a href="https://www.quora.com/Why-does-cold-water-take-in-more-CO2-than-warmer-water-and-hold-it-better" target="_blank" rel="noopener">Quora,2021</a>)</li>
  </ul>
  <p>Imagen modificada de <a href="https://extraordinaryfacility.com/co2/" target="_blank" rel="noopener"> extraordinaryfacility.com</a></p>
</template>

<template id="ciclodelcarbono-4-answer">
  <p>De acuerdo con el <a href="https://www.nature.com/articles/s41558-020-00976-6" target="_blank" rel="noopener">Nature Climate Change</a> los bosques del mundo absorbieron aproximadamente el doble de CO₂ que emitieron entre 2001 y 2019. Esto equivale a un promedio de 7 600 millones de toneladas métricas de CO₂ al año.<br>
  Un árbol maduro tiene la capacidad de absorber 21 kg de CO₂ al año.</p>
  <p>Gráfica: Situación de los bosques en el mundo (<a href="http://www.fao.org/3/y0900s/y0900s06.htm" target="_blank" rel="noopener">FAO,2021</a>)</p>

  <figure>
    <img src="/static/img/cuestionarios/answers/es/carbon_04.svg" />
    <figcaption>Imagen: ¿Cuánto carbono absorbe cada árbol? (<a href="https://airelibre.cl/cuanto-carbono-absorbe-arbol/" target="_blank" rel="noopener">Aire Libre Educación Ambiental</a>)</figcaption>
  </figure>

  <ul>
    <li>Global maps of twenty-first century forest carbon fluxes (<a href="https://www.nature.com/articles/s41558-020-00976-6" target="_blank" rel="noopener">Natural Climate Change,2021</a>)</li>
    <li>Ocean-Atmosphere CO₂ Exchange (<a href="https://sos.noaa.gov/datasets/ocean-atmosphere-co2-exchange/" target="_blank" rel="noopener">NOAA,2021</a>)</li>
    <li>All about tree (<a href="http://www.tenmilliontrees.org/trees/" target="_blank" rel="noopener">Keystone 10 millon tree, 2018</a>)</li>
  </ul>
</template>

<template id="ciclodelcarbono-5-answer">
  <figure style="float: left; width: 40%;">
    <img src="/static/img/cuestionarios/answers/es/carbon_05a.svg" />
  </figure>

  <p>Los suelos están formados  por 5 componentes: minerales, materia orgánica, organismos, gas y agua.</p>
  <p>El total del carbono en ecosistemas terrestres es de aproximadamente 3,179 Gt, de las cuales el <a href="https://www.nature.com/scitable/knowledge/library/soil-carbon-storage-84223790/#:~:text=Soil%20carbon%20sequestration%20is%20a,in%20the%20soil%20carbon%20pool.&amp;text=This%20is%20the%20combined%20result,(Lemus%20%26%20Lal%202005)." target="_blank" rel="noopener">80% (2,500 Gt)</a> se encuentra en los suelos.</p>
  <p>De acuerdo con la <a href="http://www.fao.org/soils-portal/soil-degradation-restoration/en/" target="_blank" rel="noopener">Organización para la Alimentación y la Agricultura</a>, la degradación es el cambio en la salud del suelo que se refleja en la disminución de su capacidad para proveer bienes y servicios ambientales, entre ellos el almacenamiento de carbono. Esto puede ocurrir por causas naturales o antropogénicas.</p>

  <p style="clear: both;"><a href="http://www.conabio.gob.mx/informacion/metadata/gis/degra250kgw.xml?_xsl=/db/metadata/xsl/fgdc_html.xsl&amp;_indent=no" target="_blank" rel="noopener"><strong>México</strong></a>:  La última  evaluación de la degradación antropogénica a nivel nacional, en 2003, mostró que 45% del territorio se encontraba en proceso de degradación a causa de la degradación química(18%), erosión hídrica (12%), erosión eólica (9%) y degradación física (6%).</p>

  <figure>
    <img src="/static/img/cuestionarios/answers/es/carbon_05b.svg" />
    <figcaption>Gráfica: Degradación del suelo en la República Mexicana (<a href="http://www.conabio.gob.mx/informacion/metadata/gis/degra250kgw.xml?_xsl=/db/metadata/xsl/fgdc_html.xsl&amp;_indent=no" target="_blank" rel="noopener">CONABIO, 2012</a>)</figcaption>
  </figure>

  <ul>
    <li>What are soils? (<a href="https://www.nature.com/scitable/knowledge/library/what-are-soils-67647639/" target="_blank" rel="noopener">Nature Education, 2013</a>)</li>
    <li>Soil Carbon Storage (<a href="https://www.nature.com/scitable/knowledge/library/soil-carbon-storage-84223790/#:~:text=Soil%20carbon%20sequestration%20is%20a,in%20the%20soil%20carbon%20pool.&amp;text=This%20is%20the%20combined%20result,(Lemus%20%26%20Lal%202005)." target="_blank" rel="noopener">Nature Education,2012</a>)</li>
    <li>Soil carbon sequestration is an elusive climate mitigation tool (<a href="https://www.pnas.org/content/115/46/11652" target="_blank" rel="noopener">PNAS, 2018</a>)</li>
    <li>Degradación del suelo en la República Mexicana (<a href="http://www.conabio.gob.mx/informacion/metadata/gis/degra250kgw.xml?_xsl=/db/metadata/xsl/fgdc_html.xsl&amp;_indent=no" target="_blank" rel="noopener">CONABIO,2012</a>)</li>
  </ul>
</template>

<template id="ciclodelcarbono-6-answer">
  <p>El <a href="https://www.nationalgeographic.com/science/article/carboniferous#:~:text=The%20Carboniferous%20period%2C%20part%20of,located%20regions%20during%20the%20Carboniferous." target="_blank" rel="noopener">periodo Carbonífero</a>, que ocurrió durante la Era Paleozoica, toma su nombre de los grandes depósitos de carbón cuya explotación inició durante la Revolución Industrial y continúa hasta nuestros días.</p>
  <p>El carbón es un hidrocarburo formado a partir de materia vegetal (plantas y árboles) que existieron hace aproximadamente 300 Ma. La mayoría de estos depósitos se encuentran actualmente en partes de Europa, Norteamérica y Asia que correspondían a las regiones tropicales del planeta en dicho periodo.</p>
  <p>En ese tiempo, la gran cantidad de vegetación que había favoreció que se absorbieran grandes cantidades de CO₂ atmosférico. De hecho, los niveles de CO₂ descendieron tanto que la <a href="https://www.pnas.org/content/114/43/11333" target="_blank" rel="noopener">disminución del efecto invernadero</a>  casi llevó al planeta a un periodo de glaciación.</p>

  <figure>
    <img src="/static/img/cuestionarios/answers/es/carbon_06.svg" />
    <figcaption></figcaption>
  </figure>

  <ul>
    <li>Carboniferous Period (<a href="https://www.nationalgeographic.com/science/article/carboniferous#:~:text=The%20Carboniferous%20period%2C%20part%20of,located%20regions%20during%20the%20Carboniferous." target="_blank" rel="noopener">2015-2021 National Geographic</a>)</li>
    <li>Formation of most of our coal brought Earth close to global glaciation (<a href="https://www.pnas.org/content/114/43/11333" target="_blank" rel="noopener">PNAS, 2017</a>)</li>
    <li>The Carboniferous Period: Plants cover the Earth, Fossils, Facts and Finds (<a href="https://www.fossils-facts-and-finds.com/carboniferous_period.html" target="_blank" rel="noopener">2005-2019</a>)</li>
  </ul>
</template>

<template id="ciclodelcarbono-7-answer">
  <p>Hace 500 Ma, con el inicio del periodo Ordovícico, los niveles de CO₂ en la atmósfera eran de  <a href="https://skepticalscience.com/CO2-levels-during-the-late-Ordovician.html" target="_blank" rel="noopener">5 600 partes por millón</a> (ppm), 13 veces más que los niveles actuales (<a href="https://www.co2.earth/daily-co2" target="_blank" rel="noopener">416 ppm</a>). Aunque el efecto invernadero en el Ordovícico era muy fuerte debido a dichas concentraciones de CO₂, la temperatura del planeta no era tan alta, ya que en ese tiempo la radiación del sol era mucho menor (<a href="https://science.sciencemag.org/content/276/5316/1217" target="_blank" rel="noopener">la paradoja del sol joven y débil</a>).</p>
  <p>Los ciclos de carbono en el largo plazo son controlados por el intemperismo (proceso por el cual se degrada una roca), vulcanismo (actividad volcánica en continente o en fondos marinos) y el enterramiento de materia orgánica (proceso en el que restos de plantas y animales son cubiertos por diversas capas de tierra y roca deteniendo su descomposición). El estudio de <a href="https://earth.org/data_visualization/a-brief-history-of-co2/" target="_blank" rel="noopener">núcleos de hielo</a>  o de <a href="https://www.pnas.org/content/99/7/4167" target="_blank" rel="noopener">isótopos de los minerales</a> y fluidos en las rocas permiten conocer cómo eran las condiciones geoquímicas del planeta hace millones de años.</p>

  <figure>
    <img src="/static/img/cuestionarios/answers/es/carbon_07.svg" />
    <figcaption></figcaption>
  </figure>

  <ul>
    <li>CO₂ levels during the late Ordovician (<a href="https://skepticalscience.com/CO2-levels-during-the-late-Ordovician.html" target="_blank" rel="noopener">Skeptical Science,2010</a>)</li>
    <li>Atmospheric carbon dioxide levels for the last 500 million years (<a href="https://www.pnas.org/content/99/7/4167" target="_blank" rel="noopener">PNAS, 2002</a>)</li>
    <li>A 4.5 billion-year history of CO₂ in our atmosphere (<a href="https://earth.org/data_visualization/a-brief-history-of-co2/" target="_blank" rel="noopener">earth.org, 2020</a>)</li>
    <li>The Early Daint Sun Paradox (<a href="https://science.sciencemag.org/content/276/5316/1217" target="_blank" rel="noopener">Science, 1997</a>)</li>
  </ul>
</template>

<template id="ciclodelcarbono-8-answer">
  <p>El presupuesto de carbono se refiere a la cantidad máxima de emisiones de GEI que debe ser emitida en un periodo de tiempo para limitar el incremento de la temperatura global en un cierto rango.<br>
  De acuerdo con el Panel Internacional de Expertos en Cambio Climático, las emisiones que quedan en el presupuesto de carbono son de 420 gigatoneladas (Gt) de CO₂. Si no hay un control en las emisiones globales, al ritmo actual, se espera que el presupuesto de carbono se agote en menos de 7 años a partir del 2020.</p>
  <p>Se estima que las emisiones anuales de CO₂ provenientes de la quema de combustibles fósiles, los procesos industriales y el cambio de uso de la tierra son equivalentes a 42 Gt por año (1 332 toneladas por segundo).</p>

  <figure>
    <img src="/static/img/cuestionarios/answers/es/carbon_08.svg" />
    <figcaption>Imagen <a href="https://www.globalcarbonproject.org/#:~:text=The%20Global%20Carbon%20Project%20%28GCP%29%20integrates%20knowledge%20of,efforts%20in%20urban%2C%20regional%2C%20cumulative%2C%20and%20negative%20emissions." target="_blank" rel="noopener">Global Carbon Project</a></figcaption>
  </figure>

  <ul>
    <li>That’s how fast the carbon clock is ticking (<a href="https://www.mcc-berlin.net/en/research/co2-budget.html" target="_blank" rel="noopener">IPCC, 2020</a>)</li>
    <li>Carbon Brief (<a href="https://www.carbonbrief.org/analysis-how-much-carbon-budget-is-left-to-limit-global-warming-to-1-5c" target="_blank" rel="noopener">Carbon Budgets, 2018</a>)</li>
  </ul>
</template>

<template id="ciclodelcarbono-9-answer">
  <p>En el 2016, el mundo emitió alrededor de <a href="https://ourworldindata.org/co2-and-other-greenhouse-gas-emissions" target="_blank" rel="noopener">50 mil millones de toneladas de CO₂ eq</a>. En el panorama general, casi las tres cuartas partes de las emisiones fueron el resultado de la quema de combustibles fósiles para generar energía; casi una quinta parte de la agricultura y el uso de la tierra y el 8% restante de la industria y los residuos.</p>
  <p>El CO₂ equivalente (CO₂ eq) es una medida en toneladas de la huella de carbono.<br>
  La&nbsp;huella de carbono representa la totalidad de las emisiones de GEI producidas por un un orgnismo, proceso o producto.</p>

  <figure>
    <img src="/static/img/cuestionarios/answers/es/carbon_09a.svg" />
    <figcaption></figcaption>
  </figure>

  <p><strong>México</strong>: En 2015, se emitieron <a href="https://www.gob.mx/inecc/acciones-y-programas/inventario-nacional-de-emisiones-de-gases-y-compuestos-de-efecto-invernadero" target="_blank" rel="noopener">683 millones de toneladas de CO₂ eq</a>. De las emisiones totales, el sector energético emitió 70.4%; la agricultura, 14.9%; la industria, 7.9%; y los residuos, 6.7% Además, el gas más emitido fue el dióxido de carbono (CO₂) con 71% de las emisiones, seguido por el metano (CH₄) con 21%.</p>

  <figure>
    <img src="/static/img/cuestionarios/answers/es/carbon_09b.svg" />
    <figcaption>Gráfica: Emisiones de gases de efecto invernadero en México por sector (<a href="https://www.gob.mx/inecc/acciones-y-programas/inventario-nacional-de-emisiones-de-gases-y-compuestos-de-efecto-invernadero" target="_blank" rel="noopener">INECC, 2018</a>)</figcaption>
  </figure>

  <ul>
    <li>CO₂ and Greenhouse Gas Emissions (<a href="https://ourworldindata.org/co2-and-other-greenhouse-gas-emissions" target="_blank" rel="noopener">Our World In Data, 2020</a><br>
      Inventario Nacional de Emisiones de Gases y Compuestos de Efecto Invernadero (<a href="https://www.gob.mx/inecc/acciones-y-programas/inventario-nacional-de-emisiones-de-gases-y-compuestos-de-efecto-invernadero" target="_blank" rel="noopener">INECC, 2018</a>)</li>
  </ul>
</template>

<template id="ciclodelcarbono-10-answer">
  <p>La <a href="http://www.fao.org/gleam/results/es/" target="_blank"
    rel="noopener">Organización de las Naciones Unidas para la Alimentación y la
    Agricultura</a> estima que las cadenas de producción ganadera emitieron
  globalmente un total de 8.1 gigatoneladas de CO₂ eq. en 2010. La carne y leche
  de vaca emitieron 4.6 gigatoneladas de CO₂ eq, la carne de cerdo 0.82
  gigatoneladas de CO₂ eq y la carne y huevos de pollos 0.79 gigatoneladas de
  CO₂ eq.</p>
  <p>Las emisiones regionales y los perfiles de producción varían ampliamente alrededor del mundo. La región que generó más emisiones de CO₂ en la industria ganadera fue América Latina y el Caribe, impulsada por la producción de carne de vaca.</p>

  <figure>
    <img src="/static/img/cuestionarios/answers/es/carbon_10.svg" />
    <figcaption></figcaption>
  </figure>

  <ul>
    <li>Modelo de Evaluación Ambiental de la Ganadería Mundial (<a href="http://www.fao.org/gleam/results/es/" target="_blank" rel="noopener">FAO, 2018</a>)</li>
    <li>Food: greenhouse gas emissions across the supply chain (<a href="https://ourworldindata.org/grapher/food-emissions-supply-chain?country=Beef+%28beef+herd%29~Cheese~Poultry+Meat~Milk~Eggs~Rice~Pig+Meat~Peas~Bananas~Wheat+%26+Rye~Fish+%28farmed%29~Lamb+%26+Mutton~Beef+%28dairy+herd%29~Shrimps+%28farmed%29~Tofu~Maize" target="_blank" rel="noopener">Our World In Data, 2020</a>)</li>
    <li>Compendio estadístico de la industria cárnica en México (<a href="https://comecarne.org/wp-content/uploads/2021/05/Compendio_Estad%C3%ADstico_2021_VF.pdf" target="_blank" rel="noopener">Consejo Mexicano de la Carne, 2021</a>)</li>
  </ul>
</template>

<template id="ciclodelcarbono-11-answer">
  <p>De acuerdo a la <a href="https://www.redalyc.org/pdf/849/84917249025.pdf" target="_blank" rel="noopener">Universidad de Pereira</a>, 1 litro de gasolina equivale a emitir 2.28 kilogramos de CO₂. Por lo tanto, para emitir una tonelada de CO₂ será necesario consumir 450 litros de gasolina.</p>

  <figure>
    <img src="/static/img/cuestionarios/answers/es/carbon_11.svg" />
    <figcaption>Imagen modificada de <a href="https://extraordinaryfacility.com/co2/" target="_blank" rel="noopener">extraordinaryfacility.com</a></figcaption>
  </figure>

  <ul>
    <li>Life Cycle Phases (<a href="https://www.ifu.com/en/life-cycle-assessment/#:~:text=A%20Life%20Cycle%20Assessment%20%28LCA%20or%20Life%20Cycle,this%20context%2C%20the%20term%20%27product%27%20also%20includes%20services." target="_blank" rel="noopener">Ifu Hamburg, 2021</a>)</li>
  </ul>
</template>

<template id="ciclodelcarbono-12-answer">
  <p>CCS es una tecnología mediante la cual el CO₂ antropogénico es capturado desde fuentes industriales o directamente del aire para después utilizarlo como materia prima o para almacenarlo de manera permanente en formaciones geológicas.</p>
  <p>De acuerdo con los modelos de la Agencia Internacional de Energía,  se
  estima que la tecnología de CCS podría ayudar a <a
  href="https://www.iea.org/fuels-and-technologies/carbon-capture-utilisation-and-storage"
target="_blank" rel="noopener">reducir hasta 14%  de las emisiones
antropogénicas globales para 2050</a> (aproximadamente <a
href="https://www.iea.org/reports/energy-technology-perspectives-2020/technology-needs-for-net-zero-emissions"
target="_blank" rel="noopener">4 Gton CO₂ al año</a>). CCS también es considerada una <a href="https://www.iea.org/reports/transforming-industry-through-ccus" target="_blank" rel="noopener">tecnología crucial para el desarrollo sostenible y competitivo de la industria</a> junto con la eficiencia energética, la electrificación y las energías renovables.</p>

  <figure>
    <img src="/static/img/cuestionarios/answers/es/carbon_12.svg" />
    <figcaption>Gráfica: Energy Technolgy Perspectives, 2020 (<a href="https://www.iea.org/reports/energy-technology-perspectives-2020" target="_blank" rel="noopener">IEA,2020</a>)</figcaption>
  </figure>

  <p><strong>México</strong>: El país tiene un gran potencial para la implementación de esta tecnología gracias a las condiciones geológicas y distribución de la industria. En 2014, se publica la primera versión del <a href="https://www.gob.mx/sener/documentos/mapa-de-ruta-tecnologica-ccus" target="_blank" rel="noopener">Mapa de Ruta Tecnológica de CCUS en México</a> (actualizado en 2018); desde entonces se han realizado varias <a href="https://www.gob.mx/sener/documentos/avances-en-la-implementacion-de-la-captura-uso-y-almacenamiento-de-co2-en-mexico" target="_blank" rel="noopener">actividades y programas</a> encaminados en su implementación a nivel nacional.</p>

  <ul>
    <li>Global Status of CCS 2020, (<a href="https://www.globalccsinstitute.com/wp-content/uploads/2021/03/Global-Status-of-CCS-Report-English.pdf" target="_blank" rel="noopener">GCCSI, 2021</a>)</li>
    <li>Special report: global warming of 1.5ºC, (<a href="https://www.pnas.org/content/99/7/4167" target="_blank" rel="noopener">IPCC, 2018</a>)</li>
    <li>Carbon Capture and Storage Fact Sheet, (<a href="https://unece.org/fileadmin/DAM/energy/se/pdfs/CCS/ECE.CCS.FactSheet.Policymakers.pdf" target="_blank" rel="noopener">UNECE, 2014</a>)</li>
    <li>Technology needs for net-zero emissions, (<a href="https://www.iea.org/reports/energy-technology-perspectives-2020/technology-needs-for-net-zero-emissions" target="_blank" rel="noopener">IEA, 2020</a>)</li>
  </ul>
</template>

<template id="ciclodelcarbono-13-answer">
  <p>Existen diversas maneras de utilizar el CO₂, pero debe tenerse en cuenta que no todos los usos del CO₂ tienen beneficios ambientales.</p>
  <p>Algunos de los usos que puede darse al CO₂ son:<br>
  Producción de combustibles sintéticos<br>
  Crecimiento de microalgas para la producción de biomasa<br>
  Fabricación de cemento y agregados<br>
  Recuperación mejorada de petróleo (EOR-enhanced oil recovery)<br>
  Enriquecimiento del suelo</p>
  <p>Hoy en día, la mayor parte del CO₂ se utiliza para EOR. Para el <a href="https://www.iea.org/reports/world-energy-model/sustainable-development-scenario" target="_blank" rel="noopener">Escenario de Desarrollo Sostenible 2020-70</a> se estima que más del 90% del CO₂ capturado será almacenado, del cual 80% provendrá de fuentes de combustibles fósiles y procesos industriales y 20% de la generación de bioenergía y captura directa del aire (DAC).</p>

  <figure>
    <img src="/static/img/cuestionarios/answers/es/carbon_13.svg" />
    <figcaption>Gráfica: Energy Technology Perspectives 2020: Special Report on Carbon Capture Utilisation and Storage_CCUS in clean energy transitions (<a href="https://www.oecd-ilibrary.org/energy/energy-technology-perspectives-2020-special-report-on-carbon-capture-utilisation-and-storage_208b66f4-en" target="_blank" rel="noopener">IEA, 2020</a>)</figcaption>
  </figure>

  <p><strong>México</strong>: el principal uso del CO₂ antropogénico es en EOR. Sin embargo, existen otros proyectos en la industria  cementera, enriquecimiento de suelos y crecimiento de biomasa que ya son investigados o se encuentran en pruebas piloto.</p>

  <ul>
    <li>Energy Technology Perspectives 2020: Special Report on Carbon Capture Utilisation and Storage_CCUS in clean energy transitions (<a href="https://www.oecd-ilibrary.org/energy/energy-technology-perspectives-2020-special-report-on-carbon-capture-utilisation-and-storage_208b66f4-en" target="_blank" rel="noopener">IEA, 2020</a>)</li>
    <li>Combining CO₂-EOR with permanent storage in Mexico (<a href="https://www.gob.mx/cms/uploads/attachment/file/107317/CO2EOR-CCS_Final_Report.pdf" target="_blank" rel="noopener">WB,2016</a>)</li>
    <li>CEMEX desarrollará tecnología de captura de carbono en EU (<a href="http://realestatemarket.com.mx/noticias/infraestructura-y-construccion/31974-cemex-desarrollara-tecnologia-de-captura-de-carbono-en-eu" target="_blank" rel="noopener">RealEstate, 2021</a>)</li>
  </ul>
</template>

<template id="sostenibilidad-1-answer">
  <p>El 10% del área total de tierra en el mundo está cubierta por glaciares y
  otro 19% es tierra estéril: desiertos, salares secos, playas, dunas de arena y
  rocas expuestas. Esto deja al 71% a lo que llamamos “tierra
  habitable”.&nbsp;Los bosques representan alrededor de una cuarta parte (27%)
  de la&nbsp; superficie&nbsp;terrestre total. Un poco más de un tercio (38%) de
  la superficie de tierra habitable. En contraste, la mitad de la tierra
  habitable mundial se utiliza para la agricultura.</p>

  <p>De acuerdo con la <a
  href="http://www.fao.org/sdg-progress-report/es/#sdg-15" target="_blank"
rel="noopener">Organización de las Naciones Unidas para la Alimentación y la
Agricultura</a>, el porcentaje de la superficie de bosques en el mundo ha
descendido gradualmente en las últimas dos décadas. Las pérdidas de área
forestal ascienden a casi 100 millones de hectáreas.</p>

  <figure>
    <img src="/static/img/cuestionarios/answers/es/sostenibilidad_01.svg" />
    <figcaption></figcaption>
  </figure>

  <ul>
    <li>Forests and Deforestation (<a href="https://ourworldindata.org/forests-and-deforestation" target="_blank" rel="noopener">Our World In Data, 2021</a>)</li>
    <li>Forest (<a href="https://sdgs.un.org/topics/forests" target="_blank" rel="noopener">ONU, 2020</a>)</li>
    <li>Dynamics of global forest area: Results from the FAO Global Forest Resources Assessment 2015 (<a href="https://sdgs.un.org/topics/forests" target="_blank" rel="noopener">Keenan and Rodney,2015</a>)</li>
  </ul>
</template>

<template id="sostenibilidad-2-answer">
  <p>De acuerdo con <a href="https://www.usgs.gov/special-topic/water-science-school/science/how-much-water-there-earth?qt-science_center_objects=0#qt-science_center_objects" target="_blank" rel="noopener">United States Geological Survey</a>, el agua salada en el mundo abarca aproximadamente el 97.5% de toda el agua de la Tierra. El 1.8% es el agua dulce no disponible: se localiza en el aire como&nbsp; vapor de agua, en el suelo como humedad, en los casquetes polares y&nbsp;los glaciares. Finalmente, el 0.8% representa el agua dulce para el consumo humano y de los ecosistemas, la cual se encuentra en ríos, lagos, pantanos y aguas subterráneas.</p>

  <figure>
    <img src="/static/img/cuestionarios/answers/es/sostenibilidad_02a.svg" />
    <figcaption>Gráfica: Distribución mundial del agua (<a href="https://www.usgs.gov/special-topic/water-science-school/science/how-much-water-there-earth?qt-science_center_objects=0#qt-science_center_objects" target="_blank" rel="noopener">USGS,2019</a>)</figcaption>
  </figure>

  <p><a href="http://cuentame.inegi.org.mx/territorio/agua/dispon.aspx?tema=T" target="_blank" rel="noopener"><strong>México</strong></a>: En 2019, la región Sur del país contó con más de la mitad del agua (67.2%). En contraste las regiones Centro y Norte obtuvieron tan solo el 18.7% y el 14.1%,  respectivamente.</p>

  <figure>
    <img src="/static/img/cuestionarios/answers/es/sostenibilidad_02b.svg" />
    <figcaption>Mapa: Disponibilidad de agua en México (<a href="http://cuentame.inegi.org.mx/territorio/agua/dispon.aspx?tema=T" target="_blank" rel="noopener">INEGI,2019</a>)</figcaption>
  </figure>

  <ul>
    <li>The Water Cycle (<a href="https://earthobservatory.nasa.gov/features/Water/page1.php" target="_blank" rel="noopener">Graham,Parkinson, and Chahine, 2010</a>)</li>
    <li>The distribution of water on, in, and above the Earth (<a href="https://www.usgs.gov/media/images/distribution-water-and-above-earth" target="_blank" rel="noopener">USGS, 2019</a>)</li>
    <li>Agua (<a href="http://cuentame.inegi.org.mx/territorio/agua/default.aspx?tema=T" target="_blank" rel="noopener">INEGI, 2019</a>)</li>
  </ul>
</template>

<template id="sostenibilidad-3-answer">
  <p>El <a href="https://unfccc.int/process-and-meetings/the-paris-agreement/the-paris-agreement" target="_blank" rel="noopener">Acuerdo de París</a> es un tratado internacional sobre el cambio climático. Fue adoptado por 196 naciones miembro de la ONU en diciembre de 2015 y entró en vigor en noviembre de 2016. Su objetivo es limitar el calentamiento global  por debajo de los 2ºC (preferiblemente a 1.5ºC), comparado con los niveles preindustriales.</p>
  <p>Cada país firmante presentó un listado de las contribuciones nacionalmente determinadas (NDC, por sus siglas en inglés) que establecen las estrategias para atender el problema del cambio climático. Cada 5 años, los países reportan sus avances y resultados.</p>
  <p><strong>México</strong>: En su <a href="https://www4.unfccc.int/sites/ndcstaging/PublishedDocuments/Mexico%20First/NDC-Eng-Dec30.pdf" target="_blank" rel="noopener">reporte de actualización de los NDCs 2020</a>, se establece un compromiso de reducción de emisiones de GEI del 22% a 2030 comparado con la línea base del año 2000. A estas contribuciones se les considera como ”no condicionadas” en comparación con las ”condicionadas” donde el país se comprometería a reducir el 36% de GEI y 70% de carbono negro si otros países apoyan su estrategia mediante la transferencia tecnológica y financiamiento de proyectos.</p>
  <p>De acuerdo con el <a href="https://climateactiontracker.org/countries/mexico/" target="_blank" rel="noopener">Climate Action Tracker</a> las acciones y ambiciones en México para el cumplimiento de sus NDCs son insuficientes, apuntando a una ruta donde el incremento de la temperatura global sería de 3ºC.</p>

  <figure>
    <img src="/static/img/cuestionarios/answers/es/sostenibilidad_03.svg" />
    <figcaption>Imagen: <a href="https://climateactiontracker.org/countries/mexico/" target="_blank" rel="noopener">https://climateactiontracker.org/countries/mexico/</a></figcaption>
  </figure>

  <ul>
    <li>The Paris Agreement (<a href="https://unfccc.int/process-and-meetings/the-paris-agreement/the-paris-agreement" target="_blank" rel="noopener">UNFCCC, 2020</a>)</li>
    <li>Nationally Determined Contributions 2020 update (<a href="https://www4.unfccc.int/sites/ndcstaging/PublishedDocuments/Mexico%20First/NDC-Eng-Dec30.pdf" target="_blank" rel="noopener">SEMARNAT, 2020</a>)</li>
  </ul>
</template>

<template id="sostenibilidad-4-answer">
  <p>Las emisiones globales en <a href="https://www.iea.org/articles/global-energy-review-co2-emissions-in-2020" target="_blank" rel="noopener">diciembre 2020 fueron 2% más altas</a> que en el mismo mes del año anterior.<br>
  Debido a la pandemia de Covid-19, en 2020, la demanda energética disminuyó en un 4%, en tanto que las emisiones de GEI relacioandas con este sector bajaron en un 5.8%; el declive más grande desde la segunda guerra mundial. La baja demanda de combustibles fósiles y del uso de medios de transporte tuvieron una importante contribución a la reducción de emisiones.</p>
  <p>Se estima que <a href="https://www.iea.org/reports/global-energy-review-2021" target="_blank" rel="noopener">las emisiones de GEI  aumentarán en casi 5% en 2021 </a>principalmente por el incremento en la demanda de combustibles fósiles (principalmente carbón) y el aceleramiento para la recuperación económica. Este efecto de rebote es apuntalado por los grandes emisores: China, India y Estados Unidos.</p>

  <figure>
    <img src="/static/img/cuestionarios/answers/es/sostenibilidad_04.svg" />
    <figcaption>Gráfica: Evolución mensual de emisiones de CO₂ en 2020 con relación a 2021 (<a href="https://www.iea.org/articles/global-energy-review-co2-emissions-in-2020" target="_blank" rel="noopener">IEA,2020</a>)</figcaption>
  </figure>

  <p><strong>México</strong>:  El plan de recuperación del país carece de criterios de cambio climático y,  por el contrario, se reduce el presupuesto para políticas y programas públicos amtientales. Se ha dado prioridad a la generación eléctrica con combustibles fósiles, lo cual podría implicar un aumento en las emisiones relacionadas al sector energético.</p>
  <p>Ref.</p><ul>
    <li>Global Energy Review: CO₂ emissions in 2020  (<a href="https://www.iea.org/articles/global-energy-review-co2-emissions-in-2020" target="_blank" rel="noopener">IEA,2021</a>)</li>
    <li>Global carbon dioxide emissions are set for their second-biggest increase in history (<a href="https://www.iea.org/news/global-carbon-dioxide-emissions-are-set-for-their-second-biggest-increase-in-history" target="_blank" rel="noopener">IEA,2021</a>)</li>
    <li>Reporte sobre transparencia climática. Comparación de la acción climática del G20 y las respuestas a la crisis Covid-19 (<a href="http://www.iniciativaclimatica.org/wp-content/uploads/2021/01/Mexico-CT-2020-WEB2-2-TRAD4.pdf" target="_blank" rel="noopener">ICM, 2020</a>)</li>
  </ul>
</template>

<template id="sostenibilidad-5-answer">
  <p>La cantidad de personas que viven en la extrema pobreza disminuyó en más de
  la mitad entre 1990 y 2015, pero aún demasiadas luchan por satisfacer las
  necesidades más básicas. El Banco Mundial estima que <a
  href="https://www.worldbank.org/en/topic/measuringpoverty" target="_blank"
rel="noopener">alrededor del 9.2%, 689  millones de personas,  aún viven con
menos de 1.90 UDS al día</a>. Esto significa que, comparativamente,
aproximadamente 1 de cada 10 personas viven con menos de 38 pesos mexicanos.</p>

  <p><strong>NOTA</strong>: Como resultado de la pandemia se espera que unos 150
  millones de personas vivirán en una situación de pobreza para fines de
  2021.</p>

  <figure>
    <img src="/static/img/cuestionarios/answers/es/sostenibilidad_05a.png" />
    <figcaption></figcaption>
  </figure>

  <figure>
    <img src="/static/img/cuestionarios/answers/es/sostenibilidad_05b.png" />
    <figcaption>Mapa: Pobreza extrema en México según la entidad federativa (<a href="https://www.coneval.org.mx/Medicion/MP/Documents/Pobreza_18/Pobreza_2018_CONEVAL.pdf" target="_blank" rel="noopener">CONEVAL,2019</a>).</figcaption>
  </figure>

  <p><a href="https://www.coneval.org.mx/Medicion/Paginas/PobrezaInicio.aspx"
    target="_blank" rel="noopener"><strong>México</strong></a>: En 2018, el 7.4%
  (9.3 millones de personas) estaban en condiciones de pobreza extrema. Los
  grupos más afectados fueron la población indígena y la población con alguna
  discapacidad.</p>

  <ul>
    <li>Global Extreme Poverty (<a href="https://ourworldindata.org/extreme-poverty" target="_blank" rel="noopener">OurWorldInData, 2013</a>)</li>
    <li>SDG 1: No poverty (<a href="https://www.undp.org/sustainable-development-goals#no-poverty" target="_blank" rel="noopener">PNUD, 2015</a>)</li>
    <li>Pobreza en México (<a href="https://www.coneval.org.mx/Medicion/Paginas/PobrezaInicio.aspx" target="_blank" rel="noopener">Consejo Nacional de Evaluación de la Política de Desarrollo Social, 2019</a>)</li>
  </ul>
</template>

<template id="sostenibilidad-6-answer">
  <p><strong>México es el país que más agua embotellada consume.</strong></p>

  <p>A nivel mundial, se estima que para 2050, al menos 1 de cada 4 personas
  vivirá en un país afectado por escasez crónica o recurrente de agua potable.
  Entre los <a
  href="https://www.bbc.com/mundo/noticias/2015/07/150722_mexico_consumo_agua_embotellada_jp"
target="_blank" rel="noopener">factores que influyen en el consumo de agua
embotellada</a> están la poca confiabilidad en los sistemas de agua, el fácil
acceso al agua embotellada y la falta de regulación de dicha industria.</p>

  <p>Menos del 50% de las botellas se colectan para reciclaje y sólo el 7% se
  convierten en botellas nuevas.</p>

  <p><strong>México</strong>: De acuerdo con la Comisión Nacional del Agua, en
  2013, la cobertura de agua potable a nivel nacional era de 92.3%. Sin embargo,
  existe escepticismo entre la población acerca de su calidad. Y, según el Banco
  Interamericano de Desarrollo (2011), el 81% de los mexicanos toman agua
  embotellada, lo que significa que entre 5 – 10% de los ingresos anuales de las
  personas se destina a este producto.</p>

  <p>La extracción regulada del agua por parte de las industrias refresqueras y
  embotelladoras ha llevado a fuertes conflictos sociales y luchas en defensa
  del agua.</p>

  <figure>
    <img src="/static/img/cuestionarios/answers/es/sostenibilidad_06.svg" />
    <figcaption>Imagen de <a href="http://iagua.es" target="_blank"
    rel="noopener">iagua.es</a></figcaption>
  </figure>

  <ul>
    <li>Cómo el agua embotellada daña nuestro medio ambiente (<a href="https://www.iagua.es/blogs/maike-radermacher/como-agua-embotellada-dana-nuestro-medio-ambiente" target="_blank" rel="noopener">iagua,2018</a>)</li>
    <li>Por qué México es el país que más agua embotellada consume en el mundo (<a href="https://www.bbc.com/mundo/noticias/2015/07/150722_mexico_consumo_agua_embotellada_jp" target="_blank" rel="noopener">BBC Mundo,2015</a>)</li>
    <li>¿Cómo cuidar el agua y evitar el “día cero”? (<a href="https://www.portalambiental.com.mx/sabias-que/20210324/como-cuidar-el-agua-y-evitar-el-dia-cero" target="_blank" rel="noopener">Portal Ambiental,2021</a>)</li>
  </ul>
</template>

<template id="sostenibilidad-7-answer">
  <p>La <a href="https://ourworldindata.org/energy-access" target="_blank"
    rel="noopener">Agencia Internacional de Energía</a> define el acceso a la
  electricidad como&nbsp; el acceso a un nivel mínimo de electricidad de 250 kWh
  por año en hogares rurales y de 500 kWh por año en hogares urbanos. Otras
  definiciones incluyen la disponibilidad de formas de cocinar seguras.</p>

  <p>En 2016, 13% de la población mundial no tenía acceso a la electricidad.
  Aunque la tendencia es que más personas tengan acceso a la electricidad, para
  algunos países seguirá siendo un reto en las siguientes décadas.</p>

  <figure>
    <img src="/static/img/cuestionarios/answers/es/sostenibilidad_07.png" />
    <figcaption>Mapa: Acceso a la electricidad (<a href="https://ourworldindata.org/energy-access" target="_blank" rel="noopener">OurWorldInData, 2016</a>)</figcaption>
  </figure>

  <p><a
    href="https://www.gob.mx/agenda2030/articulos/7-energia-asequible-y-no-contaminante"
    target="_blank" rel="noopener"><strong>México</strong></a>: 99 de cada 100
  viviendas tienen acceso a electricidad y en 1 de cada 10 viviendas aún se
  cocina con leña y carbón (13%).</p>

  <ul>
    <li>Access to energy (<a href="https://ourworldindata.org/energy-access" target="_blank" rel="noopener">OurWorldInData,2019</a>)</li>
    <li>Desarrollo Sostenible(<a href="https://www.gob.mx/agenda2030/articulos/7-energia-asequible-y-no-contaminante" target="_blank" rel="noopener">Gobierno de México, 2015</a>)</li>
  </ul>
</template>

<template id="sostenibilidad-8-answer">
  <p>La huella hídrica de los productos alimenticios es un indicador útil de su impacto ambiental.&nbsp;En general, los alimentos de origen animal son los que requieren una mayor cantidad de agua.</p>
  <p>El producto que necesita más agua es el queso   (~5,605 litros de agua por cada kilo de queso), mientras que las frutas y verduras requieren una menor cantidad.</p>
  <p>La gráfica muestra la <a href="https://www.iagua.es/noticias/espana/aquafides/16/04/28/que-es-huella-hidricapara-que-sirve" target="_blank" rel="noopener">huella hídrica </a>(indicador que define el volumen total de agua dulce utilizado para producir los bienes y servicios) de los alimentos en función de la masa, medida en litros por kilogramo de algunos productos:</p>

  <figure>
    <img src="/static/img/cuestionarios/answers/es/sostenibilidad_08a.svg" />
    <figcaption>Gráfica: Extracciones de agua dulce por kilogramo de producto (<a href="https://ourworldindata.org/environmental-impacts-of-food" target="_blank" rel="noopener">OurWOrldInDAta, 2020</a>)</figcaption>
  </figure>

  <p>El uso del agua para fines agrícolas es un tema central en temas de recursos hídricos y seguridad alimentaria. A nivel mundial, se utiliza aproximadamente el <a href="https://www.bancomundial.org/es/topic/water-in-agriculture" target="_blank" rel="noopener">70% de las extracciones de agua dulce para la agricultura</a>, en tanto que en México en el 2019 se emplearon el <a href="http://sina.conagua.gob.mx/sina/tema.php?tema=usosAgua&amp;ver=reporte&amp;o=0&amp;n=nacional" target="_blank" rel="noopener">75.7%</a>.</p>

  <figure>
    <img src="/static/img/cuestionarios/answers/es/sostenibilidad_08b.svg" />
    <figcaption>Gráfica: Usos del agua en México (<a href="http://sina.conagua.gob.mx/sina/tema.php?tema=usosAgua&amp;ver=reporte&amp;o=0&amp;n=nacional" target="_blank" rel="noopener">CONAGUA, 2019</a>)</figcaption>
  </figure>

  <ul>
    <li>Environmental impacts of food production (<a href="https://ourworldindata.org/environmental-impacts-of-food" target="_blank" rel="noopener">OurWorldInData, 2020</a>)</li>
    <li>The state of food and agriculture (<a href="http://www.fao.org/state-of-food-agriculture/en/" target="_blank" rel="noopener">FAO, 2020</a>)</li>
    <li>Usos consuntivos, según origen del tipo de fuente de extracción (<a href="http://sina.conagua.gob.mx/sina/tema.php?tema=usosAgua&amp;ver=reporte&amp;o=0&amp;n=nacional" target="_blank" rel="noopener">CONAGUA, 2019</a>)</li>
  </ul>
</template>

<template id="sostenibilidad-9-answer">
  <p>La capacidad de producir fertilizantes nitrogenados sintéticos ha permitido un rápido crecimiento de la productividad de los cultivos. Tan solo en el 2008, el 48% de los alimentos consumidos por la población mundial fueron producidos con fertilizantes nitrogenados.</p>
  <p>El uso de fertilizantes ha apoyado a millones de personas para poder alimentarse gracias al aumento en el rendimiento de los cultivos y la expansión del número de cabezas de ganado. Estos fertilizantes se producen mezclando nitrógeno de la atmósfera con hidrógeno proveniente del gas natural a muy altas temperaturas para formar amoniaco que después se utiliza para crear ácido nítrico. El amoniaco también se combina con dióxido de carbono para crear urea, que también puede ser usada como fertilizante.</p>
  <p>Además de las emisiones de GEI  generadas por la producción de fertilizantes, estos representan una de las principales fuentes de contaminación de agua en el mundo la cual que puede persistir durante décadas.</p>

  <figure>
    <img src="/static/img/cuestionarios/answers/es/sostenibilidad_09.svg" />
    <figcaption>Gráfica: World fertilizer trends and outlook to 2019 (<a href="http://www.fao.org/3/a-i5627e.pdf" target="_blank" rel="noopener">FAO, 2016</a>)</figcaption>
  </figure>

  <p><strong>México</strong>: <a href="https://gcma.com.mx/mexico-solo-produce-el-35-de-los-fertilizantes-que-utiliza/" target="_blank" rel="noopener">Sólo el 35% de la demanda total de fertilizantes en México es producida en el país</a>, y el otro 65% se cubre con importaciones. Existe una gran oportunidad para que, en México, se produzcan <a href="http://www.scielo.org.mx/scielo.php?script=sci_arttext&amp;pid=S2007-09342012000600015#:~:text=La%20producci%C3%B3n%20de%20biofertilizantes%20se,donde%20es%20una%20pr%C3%A1ctica%20adoptada.&amp;text=En%20M%C3%A9xico%2C%20la%20producci%C3%B3n%20actual,y%2Fo%20por%20gobiernos%20estatales." target="_blank" rel="noopener">biofertilizantes</a> o sean adoptadas otras estrategias para la mejora de la agricultura y conservación de la tierra. Para ello se require mayor vinculación entre la industria, la academia y los agricultores, así como políticas que promuevan su uso.</p>

  <ul>
    <li>Fertilizers (<a href="https://ourworldindata.org/fertilizer" target="_blank" rel="noopener">OurWorldinData,2013</a>)</li>
    <li>How fertilizers are made? (<a href="https://www.fertilizerseurope.com/fertilizers-in-europe/how-fertilizers-are-made/" target="_blank" rel="noopener">FertilizersEurope, 2021</a>)</li>
    <li>Impacto de los biofertilizantes en la agricultura (<a href="http://www.scielo.org.mx/scielo.php?script=sci_arttext&amp;pid=S2007-09342012000600015#:~:text=La%20producci%C3%B3n%20de%20biofertilizantes%20se,donde%20es%20una%20pr%C3%A1ctica%20adoptada.&amp;text=En%20M%C3%A9xico%2C%20la%20producci%C3%B3n%20actual,y%2Fo%20por%20gobiernos%20estatales." target="_blank" rel="noopener">Gradeda et al.,2012</a>)</li>
  </ul>
</template>

<template id="sostenibilidad-10-answer">
  <p>La Revolución Industrial dio paso al uso de los combustibles fósiles como fuente primaria de energía. El consumo de carbón, petróleo y gas se ha incrementado alrededor de 8 veces en el último medio siglo, y se ha duplicado desde 1980.</p>
  <p>En 2019, cerca del 84% de la energía primaria mundial se generó a partir de combustibles fósiles. Por ello es importante hacer un uso más eficiente de la energía, diversificar las fuentes que se emplean para generar energía e incorporar  nuevas tecnologías (como CCS) para la descarbonización de los sectores donde es difícil el uso de fuentes de energía alternativas.</p>

  <figure>
    <img src="/static/img/cuestionarios/answers/es/sostenibilidad_10a.svg" />
    <figcaption></figcaption>
  </figure>

  <p><strong>México</strong>:  En 2019, el 60% de la energía primaria se generó a partir de petróleo crudo, seguida  por un 23% gas natural, 10.5% renovables,  casi 4% carbón, 2% nuclear y 1% condensados.</p>

  <figure>
    <img src="/static/img/cuestionarios/answers/es/sostenibilidad_10b.svg" />
    <figcaption></figcaption>
  </figure>

  <ul>
    <li>Fossil Fuels (<a href="https://ourworldindata.org/fossil-fuels" target="_blank" rel="noopener">OurWorldinData,2017</a>)</li>
    <li>Balance Nacional de Energía 2019 (<a href="https://www.gob.mx/sener/documentos/balance-nacional-de-energia-2019" target="_blank" rel="noopener">SENER,2021</a>)</li>
  </ul>
</template>

<template id="sostenibilidad-11-answer">
  <figure style="float: left; width:40%;">
    <img src="/static/img/cuestionarios/answers/es/sostenibilidad_11a.svg" />
    <figcaption>Imagen de <a href="http://cienciauanl.uanl.mx/" target="_blank" rel="noopener">cienciauanl.mx</a></figcaption>
  </figure>

  <p>De acuerdo con <a href="https://agua.org.mx/wp-content/uploads/2017/07/Agua-en-Mexico-Un-prontuario-para-la-correcta-toma-de-decisiones-2017.pdf" target="_blank" rel="noopener">Agua en México</a>, un prontuario para la correcta toma de decisiones. El volumen de agua utilizado en el fracturamiento hidráulico depende del tamaño de pozo, pero se calcula que es de 10 a 15 millones de litros. Si comparamos el dato con el uso de agua en el abastecimiento público representa el 0.01% del total.</p>

  <p style="clear: both"><a href="https://hidrocarburos.gob.mx/media/2792/pozos-con-fracturamiento_200819.pdf" target="_blank" rel="noopener"><strong>México</strong></a>: El fracturamiento hidráulico es una técnica de extracción de hidrocarburos, la cual ha sido utilizada principalmente en campos de gas.<br>
  A la fecha, se han perforado 30 558 pozos en la zona terrestre de México, de los cuales se cuenta con información de perforación para 19 563 pozos.</p>

  <figure style="float: left; width:40%;">
    <img src="/static/img/cuestionarios/answers/es/sostenibilidad_11b.svg" />
    <figcaption></figcaption>
  </figure>

  <ul>
    <li>Pozos con Fracturamiento (<a href="https://hidrocarburos.gob.mx/media/2792/pozos-con-fracturamiento_200819.pdf" target="_blank" rel="noopener">CNH,2018</a>)</li>
    <li>Fracturamiento Hidráulico (<a href="https://www.google.com/url?sa=t&amp;source=web&amp;rct=j&amp;url=https://www.senado.gob.mx/comisiones/cambio_climatico/reu/docs/presentacion_231017-5.pdf&amp;ved=2ahUKEwjxpf2K7PnwAhVMA6wKHWlDB4EQFjANegQIDxAC&amp;usg=AOvVaw3hJzV5oU8FeVF6ZrNLcJ-3&amp;cshid=1622667881580" target="_blank" rel="noopener">CNH,2017</a>)</li>
  </ul>
</template>

<template id="sostenibilidad-12-answer">
  <p>Las energías limpias son aquellas que durante el proceso de generación de electricidad contaminan menos en comparación con los combustibles fósiles. Este término no es  sinónimo de energías renovables las cuales  se obtienen a partir de fuentes aparentemente inagotables como el sol, viento, mareas, corrientes marinas, geotermia.</p>
  <p>En 2019, casi 16% de la energía primaria global de energía provino de energías limpias, de las cuales 11.4% se generó a partir de fuentes renovables.</p>
  <p>La generación a partir energías limpias es cada vez más barata y atractiva y representa una importante fuente de trabajo y oportunidad para transitar a economías más limpias y sostenibles.</p>
  <p><strong>México</strong>: En 2012, la <a href="http://www.diputados.gob.mx/LeyesBiblio/pdf/LGCC_061120.pdf" target="_blank" rel="noopener">Ley General de Cambio Climático</a> contempló una meta para generar 35% de la electricidad en México a partir de energías limpias. En la <a href="http://www.diputados.gob.mx/LeyesBiblio/pdf/LIElec_090321.pdf" target="_blank" rel="noopener">Ley de la Industria Eléctrica</a> se mencionan 13 tipos de energías limpias; algunas de ellas son: eólica, solar, océanica, geotermia, bioenergía, hidroenergía, nuclear, cogeneración y CCS.</p>
  <p>En 2018, la meta de generación de a partir de energías limpias era del 25% de acuerdo con la <a href="http://www.diputados.gob.mx/LeyesBiblio/pdf/LTE.pdf" target="_blank" rel="noopener">Ley de Transición Energética</a>. Sin embargo, ese objetivo no se ha cumplido y el país se encuentra lejos de cumplir con sus metas.</p>

  <figure>
    <img src="/static/img/cuestionarios/answers/es/sostenibilidad_12.svg" />
    <figcaption>Imagen de <a href="http://proyectofse.mx" target="_blank" rel="noopener">proyectofse.mx</a></figcaption>
  </figure>

  <ul>
    <li>How much of global energy comes from low-carbon sources? (<a href="https://ourworldindata.org/energy-mix#:~:text=We%20see%20that%20in%202019,and%204.3%25%20came%20from%20nuclear." target="_blank" rel="noopener">OurWorldinDAta,2020</a>)</li>
    <li>Ley General de cambio climático (<a href="http://www.diputados.gob.mx/LeyesBiblio/pdf/LGCC_061120.pdf" target="_blank" rel="noopener">Gobierno de México,2012</a>)</li>
    <li>Ley de la Industria Eléctrica  (<a href="http://www.diputados.gob.mx/LeyesBiblio/pdf/LIElec_090321.pdf" target="_blank" rel="noopener">Gobierno de México,2013</a>)</li>
    <li>Ley de Transición Energética  (<a href="http://www.diputados.gob.mx/LeyesBiblio/pdf/LTE.pdf" target="_blank" rel="noopener">Gobierno de México,2015</a>)</li>
    <li>Inventario Nacional de Energías Limpias (<a href="https://dgel.energia.gob.mx/inel/" target="_blank" rel="noopener">SENER,2018</a>)</li>
  </ul>
</template>

<template id="sostenibilidad-13-answer">
  <p>De acuerdo con la <a href="https://standby.lbl.gov/measure/#:~:text=The%20original%20IEC%20definition%20%28and%20the%20U.S.%20Presidential,plugged%20in%20%28sometimes%20called%20the%20%E2%80%9Coff%20mode%E2%80%9D%20consumption%29." target="_blank" rel="noopener">Comisión Electrotécnica Internacional</a>, el consumo eléctrico fantasma se refiere al consumo mínimo de energía de un producto mientras está enchufado.</p>
  <p>Según el <a href="https://standby.lbl.gov/data/summary-table/" target="_blank" rel="noopener">laboratorio de Berkeley</a>, los hogares promedio poseen hasta 40 productos que consumen energía de forma constante aun estando en reposo y que en conjunto constituyen el 10% del consumo total de electricidad.<br>
  También menciona que los electrodomésticos más antiguos contribuyen en menor medida al consumo fantasma debido a que no cuentan con funciones adicionales, como los hornos con relojes digitales y las lavadoras y secadoras con diales manuales.</p>

  <figure>
    <img src="/static/img/cuestionarios/answers/es/sostenibilidad_13.svg" />
    <figcaption>Imagen de <a href="https://lucera.es/blog/cuanto-consumen-electrodomesticos" target="_blank" rel="noopener">lucera.es</a></figcaption>
  </figure>

  <p><a href="https://rotativo.com.mx/2020/10/20/ciencia-tecnologia/que-es-el-consumo-fantasma-de-energia-y-como-solucionarlo-865228/#:~:text=El%20consumo%20fantasma%20se%20denomina%20al%20gasto%20el%C3%A9ctrico,adapta%20el%20voltaje%20a%20trav%C3%A9s%20de%20dos%20bobinas." target="_blank" rel="noopener"><strong>México</strong></a>: de acuerdo con la CFE, durante el 2020, &nbsp;se ha registrado un aumento de hasta el 30% en el consumo eléctrico de los hogares, puesto que con el avance de la pandemia ha incentivado el mayor tiempo de permanencia en casa, lo que ha generado un mayor uso de la energía.</p>

  <ul>
    <li>Defining and measuring standby (<a href="https://standby.lbl.gov/measure/#:~:text=The%20original%20IEC%20definition%20%28and%20the%20U.S.%20Presidential,plugged%20in%20%28sometimes%20called%20the%20%E2%80%9Coff%20mode%E2%80%9D%20consumption%29." target="_blank" rel="noopener">Berkley lab, 2019</a>)</li>
    <li>Stand by sumary table (<a href="https://standby.lbl.gov/data/summary-table/" target="_blank" rel="noopener">Berkley lab, 2019</a>)</li>
    <li>¿Qué es el consumo fantasma de energía y como solucionarlo? (<a href="https://rotativo.com.mx/2020/10/20/ciencia-tecnologia/que-es-el-consumo-fantasma-de-energia-y-como-solucionarlo-865228/#:~:text=El%20consumo%20fantasma%20se%20denomina%20al%20gasto%20el%C3%A9ctrico,adapta%20el%20voltaje%20a%20trav%C3%A9s%20de%20dos%20bobinas." target="_blank" rel="noopener">Rotativo, 2020</a>)</li>
  </ul>
</template>
{% endblock %}
