{% extends 'pagelayouts/contacto.html' %}

{% from 'macros/menus.html' import navbar, footer with context %}

{% block nav %}
  {{ navbar('es', current='/es/contacto.html') }}
{% endblock %}

{% block footer %}
  {{ footer('es') }}
{% endblock %}

{% block title %}Contacto{% endblock %}

{% block main_text %}
  Tu opinión, comentarios y aportaciones son muy importantes y nos ayudan a que
  esta plataforma se convierta en un espacio de diálogo, intercambio de ideas,
  aprendizaje mutuo y colaboración.
{% endblock %}

{% block main_title %}
  Contacto
{% endblock %}

{% block photo_credits %}
<h2>Créditos fotografías</h2>

<dl>
  <dt><img src="/static/img/logo_pexels.png" alt="Pexels logo" /></dt>
  <dd>
    Lukas Rodríguez / Stefan Stefancik  / Tom Fisk / Kelly Lacy / Artem Beliakin
    / Mark Stevnicki / Ave Calvar Martínez / RF._.studio / Sindre Strøm / Anna
    Shvets / Riya Kumari / Mali Maeder / Gursharndeep Dingh / Jack &amp; Sue
    Drafahl / Michael Erhardsson / Talal Hakim / Andre
  </dd>

  <dt><img src="/static/img/logo_unsplash.png" alt="Unsplash logo" /></dt>
  <dd>
    Kelly Sikkema / Salvador Godoy / OmarkJadhav / Solen Feyissa / Dan Meyers /
    Chris Liverani / Amanshu Raikwar
  </dd>
</dl>
{% endblock %}

{% block english_translation_credits %}
<h2>Traducción al inglés</h2>

<p><strong>Ulises Pérez Martínez</strong></p>

<p>
  Intérprete traductor egresado de la universidad Angloeducativo en los idiomas
  inglés y francés, ha colaborado con organizaciones no gubernamentales como
  Entornos Educativos y Género y Flor de Maíz.
</p>
{% endblock %}

{% block repository_credits %}
<h2>Repositorio virtual</h2>

<p>&nbsp;</p>

<p>
  Agradecemos a quienes, voluntariamente, aportaron a la creación del
  repositorio digital con sus reportes, tesis, artículos y documentos de
  investigación y trabajo relacionados con la tecnología de CCS/CCUS en México.
</p>
{% endblock %}
