{% set lang = 'es' %}

{% extends 'pagelayouts/index.html' %}

{% from 'macros/menus.html' import navbar with context %}

{% block nav %}
  {{ navbar('es', current='/es') }}
{% endblock %}

{% block title %}Inicio{% endblock %}

{% block site_title %}
  plataforma mexicana<br>
  de captura y<br>
  almacenamiento<br>
  de CO<sub>2</sub>
{% endblock %}

{% block text1 %}
  MeCCS es un proyecto de comunicación, divulgación e intercambio de
  conocimiento e información acerca de la tecnología de Captura y Almacenamiento
  de CO<sub>2</sub> (CCS) y su papel para el desarrollo sostenible en México.
{% endblock %}

{% block text2 %}
  CCS (Carbon, Capture and Storage) es una de las alternativas para la reducción
  de emisiones antropogénicas de CO<sub>2</sub> y, por lo tanto, constituye una
  medida para la mitigación del cambio climático.
{% endblock %}

{% block text3 %}
  Este sitio busca facilitar y promover la vinculación entre distintos actores y
  sectores que participan en la toma de decisiones, así como en el diseño e
  implementación de proyectos y políticas relacionadas con la tecnología de CCS.
{% endblock %}

{% block link1 %}
  <a href="/es/ccs_y_sostenibilidad.html">Conoce el sitio</a>
  <a href="" class="video-play-btn" data-video="8hy2n1Pjq1U"><img src="/static/img/play.svg" /> Reproducir video introductorio</a>
{% endblock %}
