{% set lang = 'es' %}

{% extends 'pagelayouts/investigacion.html' %}

{% from 'macros/menus.html' import navbar, footer with context %}

{% block nav %}
  {{ navbar('es', current='/es/investigacion.html') }}
{% endblock %}

{% block footer %}
  {{ footer('es') }}
{% endblock %}

{% block title %}Recursos{% endblock %}

{% block investigacion__title %}Recursos{% endblock %}

{% block investigacion__intro %}
<p>
  En este apartado se integran el conocimiento, la experiencia y el esfuerzo de
  profesionales, académicos, estudiantes y grupos de trabajo e investigación que
  han contribuido al estudio de CCS en México desde distintas áreas y sectores.
  Aquí tendrás acceso a nuestra gaceta Punto Crítico,  a libros, artículos
  científicos, tesis, reportes, estudios, reglamentos, pósteres y materiales de
  divulgación.
</p>
{% endblock %}

{% block investigacion__gaceta__title %}Punto crítico (gaceta){% endblock %}

{% block investigacion__gaceta__description %}
<p>
  Esta gaceta digital es el proyecto de comunicación y divulgación de MeCCS, el
  cual aborda diversos temas vinculados a emisiones de CO2 y sostenibilidad.
</p>

<p>
  En cada número participan varias personas expertas de diferentes áreas de
  conocimiento, regiones y sectores quienes comparten su experiencia, opiniones
  y visiones a través de notas, entrevistas y materiales de consulta para
  promover el intercambio de ideas y la construcción de un pensamiento crítico.
</p>

<p>
  Las gacetas están disponibles en español e inglés y puedes descargarlas de
  manera gratuita.
</p>

<p>
  ¿Hay algún tema que te gustaría abordáramos en las gacetas? También puedes
  patrocinar nuevas ediciones.
</p>

<p>
  Ponte en contacto con nosotros.
</p>
{% endblock %}

{% block investigacion__didactic_title %}Materiales didácticos{% endblock %}

{% block investigacion__didactic_alt %}
Portada del libro sobre captura y almacenamiento de co2
{% endblock %}

{% block investigacion__didactic_text %}
<p>
  Este libro es un recurso didáctico con información y experimentos diseñados
  para la comunicación y enseñanza de temas relacionados con energía, cambio
  climático y CCS.
</p>

<p>
  El Reto “CO2grados” es un programa internacional que inició el Global CCS
  Institute en 2012 y que, desde entonces, ha sido impartido en varios sitios
  alrededor del mundo con personas de todas las edades.
</p>

<p>
  En 2016, México tomó el reto a través de una colaboración entre la Secretaría
  de Energía (SENER), el Museo de las Ciencias de la UNAM, Universum, y el
  Global CCS Institute. El reto incluyó la traducción y adecuación de todos los
  materiales al español, así como un taller de capacitación para que
  representantes de centros de investigación, gobierno, industria y
  universidades pudieran convertirse en facilitadores de este taller.
</p>

<p>
  Si necesitas más información o capacitación para la facilitación de los
  experimentos o uso de los materiales, contáctanos.
</p>
{% endblock %}

{% block investigacion__didactic_download %}
Descarga el libro y los materiales didácticos complementarios:
{% endblock %}

{% block investigacion__publicaciones__title %}Publicaciones{% endblock %}

{% block investigacion__mario_phrase %}
  Los científicos pueden plantear los problemas que afectarán al medio ambiente
  con base en la evidencia disponible, pero su solución no es responsabilidad de
  los científicos; es de toda la sociedad.
{% endblock %}

{% block investigacion__mario_phrase__title %}
Premio Nobel en Química
{% endblock %}

{% block investigacion__search_intro %}
<p>
  En este apartado se integran el conocimiento, la experiencia y el esfuerzo de
  profesionales, académicos, estudiantes y grupos de trabajo e investigación que
  han contribuido al estudio de CCS en México desde distintas áreas y sectores.
  Aquí tendrás acceso a libros, artículos científicos, tesis, reportes, estudios,
  reglamentos, pósteres y materiales de divulgación.
</p>

<p>
  Los documentos que encontrarás aquí han sido recopilados a través de una
  convocatoria abierta para todos las personas interesadas en compartir su
  trabajo en este sitio y mediante una búsqueda bibliográfica en revistas y
  bases de datos públicas nacionales e internacionales.
</p>
{% endblock %}

{% block investigacion__metodologias__title %}Metodologías{% endblock %}

{% block investigacion__metodologias__description %}
<p>
  Una metodología consiste en una serie de métodos y técnicas que permiten el
  logro de uno o varios objetivos. Puede ser aplicada en distintos ámbitos y
  áreas del conocimiento y se basa tanto en la teoría como en la práctica.
</p>

<p>
  Te presentamos cuatro metodologías que son empleadas frecuentemente para la
  evaluación, planeación y seguimiento de distintos tipos de proyectos. Algunas
  de ellas presentan propuesta innovadoras basadas en el trabajo
  interdisciplinario y un pensamiento “fuera de la caja” que ayuda a medir el
  impacto de la implementación de nuevas políticas o intervenciones. En cada una
  de ellas encontrarás ejemplos de cómo se aplican en los proyectos de CCS.
</p>
{% endblock %}

{% block investigacion__metodologias__points %}
<ul>
  <li><a href="/static/methodology/es/estudios-de-factibilidad.pdf" target="_blank">Estudios de factibilidad</a></li>
  <li><a href="/static/methodology/es/impacto-social-ambiental.pdf" target="_blank">Análisis de impacto ambiental y social</a></li>
  <li><a href="/static/methodology/es/ciclo-de-vida-meccs.pdf" target="_blank">Análisis de ciclo de vida (Atribucional y consecuencial)</a></li>
  <li><a href="/static/methodology/es/teoria-de-cambio.pdf" target="_blank">Teoría de cambio</a></li>
</ul>
{% endblock %}

{% block investigacion__sitios__title %}Sitios de interés{% endblock %}

{% block investigacion__sitios__intro %}
<p>
  Si quieres saber más acerca de las organizaciones, centros de investigación y
  algunos proyectos de CCS a nivel mundial, te dejamos una lista de enlaces a
  los sitios donde podrás continuar expandiendo tu conocimiento sobre el tema,
  contar con referencias para extender tus redes de contactos, o bien, empezar a
  buscar sinergias y oportunidades de colaboración.
</p>
{% endblock %}

{% block investigacion__organizaciones__title %}Organizaciones{% endblock %}

{% block investigacion__organizaciones__text %}
Estas son las cuatro organizaciones e iniciativas en las cuales se reúnen
expertos de todo el mundo y representantes de gobierno, academia, industria y
sociedad civil para promover e impulsar el desarrollo de CCS/CCUS.
{% endblock %}

{% block investigacion__programs__title %}Programas de apoyo y financiamiento{% endblock %}

{% block investigacion__programs__text %}
Entre los organismos y  asociaciones que ayudan a promover y financiar los
proyectos de CCS/CCUS se encuentran:
{% endblock %}

{% block investigacion__institutes__title %}Centros de investigación{% endblock %}

{% block investigacion__institutes__text %}
Estos son algunos de los centros de investigación en CCS/CCUS alrededor del
mundo:
{% endblock %}

{% block investigacion__dbs__title %}Bases de datos e información de proyectos{% endblock %}

{% block investigacion__dbs__text %}
En las siguientes bases de datos podrás encontrar información acerca de los
proyectos de CCS/CCUS en el mundo, así como del potencial de almacenamiento
geológico de CO₂ que se ha estimado hasta el día de hoy. Ambas bases de datos
son públicas y de libre acceso.
{% endblock %}

{% block investigacion__final__first %}
De acuerdo con el informe de <a target="_blank" rel="noopener"
href="https://www.globalccsinstitute.com/resources/global-status-report/download/">
Estatus Global de CCS 2021</a>, publicado por el Global CCS Institute:
{% endblock %}

{% block investigacion__final__warming_note %}
Limitar el calentamiento global a 2°C requiere que la capacidad instalada de CCS
aumente a
{% endblock %}

{% block investigacion__final__warming_warn %}
5 600 millones de toneladas de CO₂ al año para 2050
{% endblock %}

{% block investigacion__final__numbers__title %}
Actualmente existen:
{% endblock %}

{% block investigacion__final__install %}
<p>135<br />Instalaciones</p>

<p>
27 operativas<br />
4 en construcción<br />
58 desarrollos avanzados<br />
44 desarrollos iniciales<br />
2 operaciones suspendidas
</p>
{% endblock %}

{% block investigacion__final__ton %}
<p>40 millones<br>de toneladas por año</p>

<p>
capturadas y almacenadas
</p>
{% endblock %}

{% block investigacion__final__growth %}
<p>48% de aumento<br>en la capacidad</p>

<p>
de las instalaciones de CCS en desarrollo solo en el último año
</p>
{% endblock %}

{% block investigacion__final__app__title %}
Las aplicaciones para proyectos CCUS incluyen:
{% endblock %}

{% block investigacion__final__app__body1 %}
<ul>
  <li>Captura directa de aire</li>
  <li>Producción de cemento</li>
  <li>Producción de hierro y acero</li>
  <li>Conversión de residuos en energía</li>
  <li>Generación de energía (gas natural)</li>
  <li>Generación de energía (carbón)</li>
</ul>
{% endblock %}

{% block investigacion__final__app__body2 %}
<ul>
  <li>Producción de hidrógeno</li>
  <li>Producción química</li>
  <li>Producción de etanol</li>
  <li>Producción de fertilizantes</li>
  <li>Procesamiento de gas natural</li>
</ul>
{% endblock %}
