{% extends 'pagelayouts/quienes_participamos.html' %}

{% from 'macros/menus.html' import navbar, footer with context %}

{% block nav %}
  {{ navbar('es', inverted=True, current='/es/quienes_participamos.html') }}
{% endblock %}

{% block footer %}
  {{ footer('es') }}
{% endblock %}

{% block title %}Quiénes participamos{% endblock %}

{% block quienes_participamos__title %}
  <h1>¿Quiénes participamos?</h1>

  <p>Conoce a las personas e instituciones que participan en MeCCS.</p>
{% endblock %}

{% block quienes_participamos__intro_box %}
  MeCCS surge como un proyecto interdisciplinario que combina distintas
  experiencias, visiones, conocimiento y habilidades de los miembros del equipo
  y colaboradores.
{% endblock %}

{% block quienes_participamos__floating_box %}
  En la creación de esta plataforma también contamos con la participación de
  representantes de la academia, gobierno, industria y sociedad, cuyas
  aportaciones enriquecen y resaltan el valor de la colaboración y la
  comunicación como un medio para expandir el conocimiento, mejorar el diálogo y
  apoyar la toma de decisiones.
{% endblock %}

{% block quienes_participamos__our_team__title %}Nuestro equipo{% endblock %}

{% block quienes_participamos__jazmin %}
  <p>
    Ingeniera geóloga egresada de la Universidad Nacional Autónoma de México
    (UNAM). Doctorante en Geociencias por la Universidad de Edimburgo y
    estudiante visitante en el LANCIS, IE-UNAM. Sus intereses académicos se
    enfocan en los sectores de energía y medio ambiente, industrias extractivas,
    transición energética y sostenibilidad. En el ámbito profesional, fue
    directora de Tecnologías Limpias en la Secretaría de Energía; trabajó como
    consultora para el Banco Mundial y como ingeniera de proyecto en la Comisión
    Federal de Electricidad en la evaluación del potencial de almacenamiento
    geológico de CO₂ en México. Participó como representante de México en el
    Carbon Sequestration Leadership Forum y el North American Energy Ministerial
    Trilateral, así como en foros multilaterales sobre CCS/CCUS. Ha participado
    en consultas públicas para proyectos de energía y en actividades de
    docencia, capacitación y divulgación científica.
  </p>

  <p>
    Sus intereses personales son la danza (flamenco y ritmos latinos,
    particularmente), los viajes, el montañismo, cantar y leer.
  </p>
{% endblock %}

{% block quienes_participamos__hector %}
  <p>
    Licenciado en Ciencias de la Comunicación, especializado en diseño gráfico y
    fotografía. En el ámbito profesional, ha trabajado en distintos proyectos
    artísticos, culturales, científicos y sociales, tanto en instituciones
    privadas, gubernamentales y ONG. Colaboró en el área de difusión de la
    Secretaría de Educación, así como con distintas organizaciones sociales del
    Estado de Chiapas, de donde es originario. Ha trabajado en el diseño de
    herramientas web, diseño editorial y branding empresarial de la Comisión
    Federal de Electricidad y la Secretaría de Energía. En el ámbito artístico
    ha participado en diversos proyectos teatrales y colaborado en festivales,
    revistas y editoriales especializadas; ha realizado exposiciones colectivas
    en los estados de Chiapas, Michoacán y en la Ciudad de México. Su trabajo
    visual transita desde la ilustración a la fotografía, experimentando con
    formatos análogos y digitales. Actualmente colabora en diversos proyectos de
    diseño gráfico, dirección de arte y fotografía.
  </p>

  <p>
    Sus intereses personales son la ilustración, la pintura, la fotografía
    analógica, las artes escénicas, la música (especialmente el rock, blues, la
    música electrónica y el soul), caricaturas/anime, viajar, caminar y la
    comida oriental.
  </p>
{% endblock %}

{% block quienes_participamos__adrian %}
  <p>
    Químico egresado de la Universidad Nacional Autónoma de México, maestro en
    Ciencias (Ingeniería Ambiental) por la Universidad de Sheffield y doctorante
    en Ciencias de la Sostenibilidad por la UNAM. Sus intereses académicos se
    han centrado en la hidrogeología de contaminantes, en las estrategias de
    remediación de mantos acuíferos contaminados, en el transporte y destino de
    los radionúclidos en el ambiente, y en el estudio de trayectorias orientadas
    hacia la sostenibilidad. En el ámbito profesional ha llevado a cabo
    actividades de consultoría ambiental y de derecho ambiental, así como
    actividades educativas y de docencia: ha participado en la edición y
    creación de libros de texto y obras de divulgación científica, en el
    desarrollo de materiales audiovisuales de enseñanza online de las ciencias y
    cursos de química y de comunicación técnica en las ciencias.
  </p>

  <p>
    Sus intereses personales son la música (especialmente el blues, el rock y el
    jazz), el montañismo, los videojuegos, los viajes y la lectura.
  </p>
{% endblock %}

{% block quienes_participamos__paola %}
  <p>
    Bióloga egresada de la Facultad de Ciencias de la UNAM y Doctora en Ciencias
    por la Universidad de Plymouth, Reino Unido. Su trabajo se ha centrado
    principalmente en el estudio de procesos socio-ecológicos a diferentes
    escalas temporales y espaciales, desde el estudio de procesos locales como
    la polinización hasta procesos de cambio global, principalmente en sistemas
    latinoamericanos. Dentro de su carrera profesional ha ocupado puestos en el
    sector público, como el de Subdirectora de Conservación de las Comunidades
    Biológicas y Adaptación al Cambio Climático, y y ha colaborado con la
    Organización de las Naciones Unidas y diversas instituciones académicas.
    Cuenta con artículos publicados en revistas internacionales, reportes
    técnicos y capítulos de libros. Actualmente es investigadora del Laboratorio
    Nacional de Ciencias de la Sostenibilidad (LANCIS), del Instituto de
    Ecología de la UNAM, donde continúa trabajando en proyectos en las áreas de
    vulnerabilidad, adaptación y resiliencia a cambios globales, monitoreo y
    evaluación de sistemas socio-ecológicos, así como la investigación de
    impacto y vinculación de la ciencia, promoviendo el involucramiento de otros
    sectores clave para la toma de decisiones. Ha impartido clases en el Reino
    Unido, Ecuador y México. Es representante dentro de los Comités de Trabajo
    de Cambio Climático y Ciudades Sostenibles de la Red de Soluciones de
    Desarrollo Sostenible (SDSN) de la ONU.
  </p>

  <p>
    Sus intereses personales son la pintura, el cine, el anime, viajar, cocinar,
    leer y andar en bici.
  </p>
{% endblock %}

{% block quienes_participamos__abraham %}
  <p>
    Matemático egresado de la Universidad Veracruzana. Se ha desempeñado como
    desarrollador de software independiente y consultor desde 2018. Apasionado
    en temas como la autonomía, lo comunitario y la sostenibilidad. Ha
    participado en la construcción y diseño de sistemas de captación pluvial y
    compostaje de escala familiar. También participa activamente en los
    movimientos de software libre y código abierto como una extensión
    informática de modelos de sostenibilidad y autonomía. Actualmente forma
    parte de una naciente cooperativa de desarrollo de software que propone un
    modelo justo de la distribución de la riqueza que se genera entre sus
    miembros.
  </p>

  <p>
    Sus intereses personales son las caminatas en alta y media montaña, el
    ciclismo de montaña, la cocina y la elaboración de productos de piel.
  </p>
{% endblock %}

{% block quienes_participamos__mariana %}
  <p>
    Ingeniera petrolera egresada de la Universidad Nacional Autónoma de México.
    Tiene intereses en temas de transición energética, sostenibilidad, emisiones
    de gases de efecto invernadero y mercados de carbono. Participó en un
    proyecto de remediación ambiental con la creación de “Copitl” y colaboró en
    un proyecto de sostenibilidad en la industria extractiva en la Comisión
    Nacional de Hidrocarburos. Actualmente, forma parte de un proyecto juvenil
    que impulsa las finanzas sostenibles.
  </p>

  <p>
    Sus intereses personales son la fotografía, conocer nuevos lugares, correr,
    ver series, sembrar y cosechar sus propios alimentos.
  </p>
{% endblock %}

{% block quienes_participamos__lore %}
  <p>
    Estudiante de Ciencias de la Tierra con orientación en Ciencias Ambientales
    en la Universidad Nacional Autónoma de México. Se ha centrado en temas de
    cambio de uso de suelo y restauración de espacios degradados. Lorena
    participó en un proyecto de evaluación del estado de conservación de
    biodiversidad en los olivares del sur de España. Actualmente colabora en
    actividades de divulgación y docencia.
  </p>

  <p>
    Sus intereses personales son la natación, fotografía, danza, yoga y
    crecimiento personal.
  </p>
{% endblock %}

{% block quienes_participamos__colaboracion__title %}Colaboración{% endblock %}

{% block quienes_participamos__colaboracion__content %}
<p>
  MeCCS es un proyecto realizado en colaboración entre la Universidad de
  Edimburgo y el Laboratorio Nacional de Ciencias de la Sostenibilidad (LANCIS),
  del Instituto de Ecología de la UNAM, a través del cual el intercambio de
  conocimientos y experiencia han facilitado una conexión entre disciplinas para
  el análisis de proyectos de CCS en México.
</p>
{% endblock %}

{% block quienes_participamos__patrocinio__title %}Patrocinio{% endblock %}

{% block quienes_participamos__patrocinio__content %}
<p>
  MeCCS es apoyado y patrocinado por el UK CCS Research Centre (UKCCSRC) y la
  Scottish Alliance for Geoscience, Environment &amp; Society (SAGES).
</p>
{% endblock %}

{% block quienes_participamos__alianzas__title %}Alianzas{% endblock %}

{% block quienes_participamos__alianzas__content %}
<p>
  Otras instituciones que apoyan el proyecto.
</p>
{% endblock %}

{% block logo_edinburgh %}Logotipo de la Universidad de edimburgo{% endblock %}
{% block logo_unam %}Logotipo de la UNAM{% endblock %}
{% block logo_inecolunam %}Logotipo del instituto de ecología de la unam{% endblock %}
{% block logo_lancis %}Logotipo del laboratorio nacional de ciencias de la sostenibilidad{% endblock %}
{% block logo_sages %}Logotipo de la Scottish Alliance for Geoscience, Environment &amp; Society{% endblock %}
{% block logo_ukccs %}Logotipo del UK CCS Research Centre{% endblock %}
{% block logo_cuspwest %}Logotipo de CUSP{% endblock %}
{% block logo_eneryou %}Logotipo de Eneryou{% endblock %}
{% block logo_fundacioneneryou %}Logotipo de Fundación Eneryou{% endblock %}
{% block logo_icesrm %}Logotipo de ICESRC{% endblock %}
