<h3>THE CARBON CYCLE</h3>

<p>
The carbon cycle describes how CO₂ is transformed along its way through the
atmosphere, hydrosphere, biosphere, and lithosphere; from physicochemical,
geological, and biological processes. CO₂ is produced naturally through volcanic
eruptions, decomposition of organic matter, or fires.
</p>

<p>
Other sources of CO₂ emissions are related to human activities, such as burning
fossil fuels for power generation and industrial processes that include
agriculture and mining. Likewise, there are natural mechanisms - involving
oceans, soils and photosynthetic organisms - and anthropogenic - such as the
implementation of CCS projects - that favour absorption and storage of CO₂.
</p>

<p class="link">
  <a href="" class="poll-start-btn" data-poll="ciclodelcarbono">
    Start quiz
  </a>
</p>
