<h3>SUSTAINABILITY</h3>

<p>
  The term “sustainability” refers to guaranteeing attention to the needs of
  current generations without compromising the right of future generations to
  access resources. It includes processes to satisfy social and economic
  conditions, taking into account cultural and environmental factors.
</p>

<p>
  One of the critical aspects of understanding sustainability is creating
  awareness about the complexity and connection between the environment,
  society, and economy.
</p>

<p class="link">
  <a href="" class="poll-start-btn" data-poll="sostenibilidad">
    Start quiz
  </a>
</p>
